Repository emilhornlund/quiz: changes, and which Codecov flags are due for each by the changed paths.
All: common, klurigo-web, klurigo-service

feat(game-result): persist quiz gameplay summary when creating results
  packages/klurigo-service/src/modules/game-api/controllers/game.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/game-result/services/game-result.service.spec.ts
  packages/klurigo-service/src/modules/game-result/services/game-result.service.ts
  packages/klurigo-service/src/modules/game-task/services/game-task-transition.service.spec.ts
  packages/klurigo-service/src/modules/game-task/services/game-task-transition.service.ts
Due: klurigo-service

feat(quiz): expose aggregated gameplay summary and derived difficulty
  packages/common/src/models/quiz.dto.ts
  packages/klurigo-service/src/modules/quiz-api/controllers/models/quiz-gameplay-summary.response.ts
  packages/klurigo-service/src/modules/quiz-api/controllers/models/quiz.response.ts
  packages/klurigo-service/src/modules/quiz-api/controllers/quiz.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/quiz-api/services/quiz.service.ts
  packages/klurigo-service/src/modules/quiz-api/services/utils/index.ts
  packages/klurigo-service/src/modules/quiz-api/services/utils/quiz-gameplay-summary.utils.spec.ts
  packages/klurigo-service/src/modules/quiz-api/services/utils/quiz-gameplay-summary.utils.ts
  packages/klurigo-service/test-utils/data/data.utils.ts
Due: common, klurigo-service

feat(mongodb-migrator): backfill quiz gameplay summaries
  tools/mongodb-migrator/src/index.ts
  tools/mongodb-migrator/src/transformers/game.transformers.ts
  tools/mongodb-migrator/src/transformers/quiz.transformers.ts
  tools/mongodb-migrator/src/utils/collection.utils.ts
  tools/mongodb-migrator/src/utils/date.utils.ts
Due: none

test(web): add gameplay summary example data to quiz page fixtures
  packages/klurigo-web/src/pages/ProfileQuizzesPage/components/ProfileQuizzesPageUI/ProfileQuizzesPageUI.stories.tsx
  packages/klurigo-web/src/pages/ProfileQuizzesPage/components/ProfileQuizzesPageUI/ProfileQuizzesPageUI.test.tsx
  packages/klurigo-web/src/pages/QuizDetailsPage/components/QuizDetailsPageUI/QuizDetailsPageUI.stories.tsx
  packages/klurigo-web/src/pages/QuizDetailsPage/components/QuizDetailsPageUI/QuizDetailsPageUI.test.tsx
  packages/klurigo-web/src/pages/QuizDiscoverPage/components/QuizDiscoverPageUI/QuizDiscoverPageUI.stories.tsx
  packages/klurigo-web/src/pages/QuizDiscoverPage/components/QuizDiscoverPageUI/QuizDiscoverPageUI.test.tsx
Due: klurigo-web

feat(web): enhance Quiz Details UI with gameplay insights and difficulty labels
  packages/klurigo-web/src/pages/QuizDetailsPage/components/QuizDetailsPageUI/QuizDetailsPageUI.module.scss
  packages/klurigo-web/src/pages/QuizDetailsPage/components/QuizDetailsPageUI/QuizDetailsPageUI.test.tsx
  packages/klurigo-web/src/pages/QuizDetailsPage/components/QuizDetailsPageUI/QuizDetailsPageUI.tsx
  packages/klurigo-web/src/pages/QuizDetailsPage/components/QuizDetailsPageUI/__snapshots__/QuizDetailsPageUI.test.tsx.snap
  packages/klurigo-web/src/utils/quiz.utils.test.ts
  packages/klurigo-web/src/utils/quiz.utils.ts
Due: klurigo-web

chore(game,web): remove unused code and tighten gameplay summary assumptions
  packages/klurigo-service/src/modules/game-core/repositories/game.repository.ts
  packages/klurigo-service/src/modules/game-task/services/game-task-transition.service.ts
  packages/klurigo-web/src/pages/QuizDetailsPage/components/QuizDetailsPageUI/QuizDetailsPageUI.test.tsx
  packages/klurigo-web/src/pages/QuizDetailsPage/components/QuizDetailsPageUI/QuizDetailsPageUI.tsx
Due: klurigo-web, klurigo-service

feat(klurigo-web): add responsive image fit and auto-fit typography text
  packages/klurigo-web/src/components/PinImage/PinImage.tsx
  packages/klurigo-web/src/components/ResponsiveImage/ResponsiveImage.tsx
  packages/klurigo-web/src/components/Typography/Typography.module.scss
  packages/klurigo-web/src/components/Typography/Typography.test.tsx
  packages/klurigo-web/src/components/Typography/Typography.tsx
  packages/klurigo-web/src/components/Typography/hooks/index.ts
  packages/klurigo-web/src/components/Typography/hooks/useTextFit.test.ts
  packages/klurigo-web/src/components/Typography/hooks/useTextFit.ts
  packages/klurigo-web/src/states/HostQuestionState/HostQuestionState.tsx
  packages/klurigo-web/src/states/PlayerQuestionState/PlayerQuestionState.module.scss
  packages/klurigo-web/src/states/PlayerQuestionState/PlayerQuestionState.tsx
  packages/klurigo-web/src/states/PlayerQuestionState/__snapshots__/PlayerQuestionState.test.tsx.snap
  packages/klurigo-web/src/states/common/QuestionAnswerPicker/__snapshots__/QuestionAnswerPick.test.tsx.snap
  packages/klurigo-web/src/states/common/QuestionAnswerPicker/components/AnswerInput/AnswerInput.module.scss
  packages/klurigo-web/src/states/common/QuestionAnswerPicker/components/AnswerInput/AnswerInput.test.tsx
  packages/klurigo-web/src/states/common/QuestionAnswerPicker/components/AnswerInput/AnswerInput.tsx
  packages/klurigo-web/src/states/common/QuestionAnswerPicker/components/AnswerInput/__snapshots__/AnswerInput.test.tsx.snap
  packages/klurigo-web/src/states/common/QuestionAnswerPicker/components/AnswerRange/AnswerRange.module.scss
  packages/klurigo-web/src/states/common/QuestionAnswerPicker/components/AnswerRange/AnswerRange.tsx
  packages/klurigo-web/src/states/common/QuestionAnswerPicker/components/AnswerRange/__snapshots__/AnswerRange.test.tsx.snap
Due: klurigo-web

fix(game-task): persist transition initiated/expires for all task transitions
  packages/klurigo-service/src/modules/game-task/services/game-task-transition-scheduler.spec.ts
  packages/klurigo-service/src/modules/game-task/services/game-task-transition-scheduler.ts
Due: klurigo-service

fix(klurigo-web): stabilize GamePage loading + navigation blocking tests
  packages/klurigo-web/src/pages/GamePage/GamePage.test.tsx
  packages/klurigo-web/src/pages/GamePage/GamePage.tsx
Due: klurigo-web

feat(quiz-creator): hide button labels on mobile and show icons only
  packages/klurigo-web/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/MediaQuestionField/MediaQuestionField.tsx
Due: klurigo-web

chore(mongodb-migrator): remove legacy gameplay summary migration
  tools/mongodb-migrator/src/index.ts
  tools/mongodb-migrator/src/transformers/game.transformers.ts
  tools/mongodb-migrator/src/transformers/quiz.transformers.ts
  tools/mongodb-migrator/src/utils/collection.utils.ts
Due: none

feat(game): move answer submissions to GameAnswerRepository
  packages/klurigo-service/src/modules/game-api/services/game.service.spec.ts
  packages/klurigo-service/src/modules/game-api/services/game.service.ts
  packages/klurigo-service/src/modules/game-core/game-core.module.ts
  packages/klurigo-service/src/modules/game-core/repositories/game-answer.repository.spec.ts
  packages/klurigo-service/src/modules/game-core/repositories/game-answer.respository.ts
  packages/klurigo-service/src/modules/game-core/repositories/index.ts
  packages/klurigo-service/src/modules/game-core/utils/game-redis.utils.ts
  packages/klurigo-service/src/modules/game-core/utils/index.ts
  packages/klurigo-service/src/modules/game-event/services/game-event.publisher.spec.ts
  packages/klurigo-service/src/modules/game-event/services/game-event.publisher.ts
  packages/klurigo-service/src/modules/game-event/services/game-event.subscriber.spec.ts
  packages/klurigo-service/src/modules/game-event/services/game-event.subscriber.ts
  packages/klurigo-service/src/modules/game-event/utils/game-event.utils.spec.ts
  packages/klurigo-service/src/modules/game-event/utils/game-event.utils.ts
  packages/klurigo-service/src/modules/game-task/services/game-task-transition.service.spec.ts
  packages/klurigo-service/src/modules/game-task/services/game-task-transition.service.ts
Due: klurigo-service

feat(game-task): auto-complete result/leaderboard/podium when no players
  packages/klurigo-service/src/modules/game-core/repositories/game.repository.e2e-spec.ts
  packages/klurigo-service/src/modules/game-core/repositories/models/schemas/game-settings.schema.ts
  packages/klurigo-service/src/modules/game-core/repositories/models/schemas/game.schema.ts
  packages/klurigo-service/src/modules/game-core/repositories/models/schemas/index.ts
  packages/klurigo-service/src/modules/game-core/utils/game.converter.ts
  packages/klurigo-service/src/modules/game-result/controllers/game-result.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/game-task/services/game-task-transition-scheduler.spec.ts
  packages/klurigo-service/src/modules/game-task/services/game-task-transition-scheduler.ts
  packages/klurigo-service/src/modules/game-task/services/game-task-transition.service.spec.ts
  packages/klurigo-service/src/modules/game-task/services/game-task-transition.service.ts
  packages/klurigo-service/test-utils/data/data.utils.ts
Due: klurigo-service

feat(host-question): hide submission counter when no players are present
  packages/klurigo-web/src/states/HostQuestionState/HostQuestionState.stories.tsx
  packages/klurigo-web/src/states/HostQuestionState/HostQuestionState.test.tsx
  packages/klurigo-web/src/states/HostQuestionState/HostQuestionState.tsx
Due: klurigo-web

feat(game-settings): introduce runtime flags for question and answer randomization
  packages/klurigo-service/src/modules/game-core/repositories/game.repository.e2e-spec.ts
  packages/klurigo-service/src/modules/game-core/repositories/models/schemas/game-settings.schema.ts
  packages/klurigo-service/src/modules/game-core/utils/game.converter.ts
  packages/klurigo-service/src/modules/game-result/controllers/game-result.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/game-task/services/game-task-transition-scheduler.spec.ts
  packages/klurigo-service/test-utils/data/data.utils.ts
Due: klurigo-service

feat(game-settings): add API for updating runtime game settings
  packages/common/src/models/game-settings.dto.ts
  packages/common/src/models/index.ts
  packages/klurigo-service/src/modules/game-api/controllers/game-settings.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/game-api/controllers/game-settings.controller.ts
  packages/klurigo-service/src/modules/game-api/controllers/index.ts
  packages/klurigo-service/src/modules/game-api/controllers/models/requests/game-settings.request.ts
  packages/klurigo-service/src/modules/game-api/controllers/models/response/game-settings.response.ts
  packages/klurigo-service/src/modules/game-api/game-api.module.ts
  packages/klurigo-service/src/modules/game-api/services/game-settings.service.spec.ts
  packages/klurigo-service/src/modules/game-api/services/game-settings.service.ts
  packages/klurigo-service/src/modules/game-api/services/index.ts
Due: common, klurigo-service

feat(game-settings): expose runtime settings in lobby host event
  packages/common/src/models/game-event.ts
  packages/klurigo-service/src/modules/game-event/utils/game-lobby-event.utils.spec.ts
  packages/klurigo-service/src/modules/game-event/utils/game-lobby-event.utils.ts
  packages/klurigo-web/src/states/HostLobbyState/HostLobbyState.stories.tsx
  packages/klurigo-web/src/states/HostLobbyState/HostLobbyState.test.tsx
Due: common, klurigo-web, klurigo-service

feat(game-settings): publish lobby event after updating game settings
  packages/klurigo-service/src/modules/game-api/services/game-settings.service.spec.ts
  packages/klurigo-service/src/modules/game-api/services/game-settings.service.ts
Due: klurigo-service

feat(game-settings): apply question and answer randomization on lobby completion
  packages/klurigo-service/src/modules/game-task/services/game-task-transition.service.spec.ts
  packages/klurigo-service/src/modules/game-task/services/game-task-transition.service.ts
Due: klurigo-service

feat(components): add Switch input component with responsive styles and tests
  packages/klurigo-web/src/components/Switch/Switch.module.scss
  packages/klurigo-web/src/components/Switch/Switch.stories.tsx
  packages/klurigo-web/src/components/Switch/Switch.test.tsx
  packages/klurigo-web/src/components/Switch/Switch.tsx
  packages/klurigo-web/src/components/Switch/index.ts
  packages/klurigo-web/src/components/index.ts
Due: klurigo-web

feat(game-settings): add updateGameSettings resource and context wiring
  packages/klurigo-web/src/api/resources/game.resource.test.ts
  packages/klurigo-web/src/api/resources/game.resource.ts
  packages/klurigo-web/src/context/game/GameContextProvider.tsx
  packages/klurigo-web/src/context/game/game-context.tsx
Due: klurigo-web

feat(game-settings): add host lobby settings modal
  packages/klurigo-web/.storybook/mockGameContext.tsx
  packages/klurigo-web/src/pages/GamePage/GamePage.test.tsx
  packages/klurigo-web/src/states/HostLobbyState/HostLobbyState.module.scss
  packages/klurigo-web/src/states/HostLobbyState/HostLobbyState.test.tsx
  packages/klurigo-web/src/states/HostLobbyState/HostLobbyState.tsx
  packages/klurigo-web/src/states/HostLobbyState/__snapshots__/HostLobbyState.test.tsx.snap
  packages/klurigo-web/src/states/HostLobbyState/components/GameSettingsModal/GameSettingsModal.test.tsx
  packages/klurigo-web/src/states/HostLobbyState/components/GameSettingsModal/GameSettingsModal.tsx
  packages/klurigo-web/src/states/HostLobbyState/components/GameSettingsModal/index.ts
  packages/klurigo-web/src/states/HostLobbyState/components/index.ts
Due: klurigo-web

feat(mongodb-migrator): add game settings defaults during game document transform
  tools/mongodb-migrator/src/transformers/game.transformers.ts
Due: none

feat(klurigo-web): preserve quiz rating draft across game result tabs
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.test.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/SummarySection.test.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/SummarySection.tsx
Due: klurigo-web

chore(deps): align dependabot config and upgrade dependencies
  .github/dependabot.yml
  package.json
  packages/common/package.json
  packages/klurigo-service/package.json
  packages/klurigo-web/package.json
  tools/mongodb-migrator/package.json
  yarn.lock
Due: common, klurigo-web, klurigo-service

feat(tools): add interactive klurigo database migration script
  tools/klurigo-db-migration.sh
Due: none

fix(klurigo-service): clean up BullMQ jobs and correct scheduler process flow
  packages/klurigo-service/src/app/app.module.ts
  packages/klurigo-service/src/modules/game-task/services/game-task-transition-scheduler.spec.ts
  packages/klurigo-service/src/modules/game-task/services/game-task-transition-scheduler.ts
Due: klurigo-service

feat(discovery): introduce phased Discovery Rails implementation plan
  DISCOVERY_RAILS_PLAN.md
Due: none

feat(discovery): implement Phase 1 shared discovery contracts in @klurigo/common
  DISCOVERY_RAILS_PLAN.md
  packages/common/src/models/discovery.dto.spec.ts
  packages/common/src/models/discovery.dto.ts
  packages/common/src/models/index.ts
Due: common

feat(discovery): implement Phase 2 eligibility + scoring utils
  DISCOVERY_RAILS_PLAN.md
  packages/klurigo-service/src/modules/quiz-core/utils/discovery/discovery-eligibility.utils.spec.ts
  packages/klurigo-service/src/modules/quiz-core/utils/discovery/discovery-eligibility.utils.ts
  packages/klurigo-service/src/modules/quiz-core/utils/discovery/discovery-scoring.utils.spec.ts
  packages/klurigo-service/src/modules/quiz-core/utils/discovery/discovery-scoring.utils.ts
  packages/klurigo-service/src/modules/quiz-core/utils/discovery/index.ts
  packages/klurigo-service/src/modules/quiz-core/utils/index.ts
Due: klurigo-service

fix(common): prevent infinite loop in shuffleDifferent when all elements are identical
  .serena/project.yml
  packages/common/src/utils/array.utils.spec.ts
  packages/common/src/utils/array.utils.ts
Due: common

fix(answer-picker): correct True/False index mapping and align tests
  packages/klurigo-web/src/states/common/QuestionAnswerPicker/components/AnswerPicker/AnswerPicker.test.tsx
  packages/klurigo-web/src/states/common/QuestionAnswerPicker/components/AnswerPicker/AnswerPicker.tsx
Due: klurigo-web

feat(discovery): shared discovery contracts in @klurigo/common
  DISCOVERY_RAILS_PLAN.md
  packages/common/src/models/discovery.dto.spec.ts
  packages/common/src/models/discovery.dto.ts
  packages/common/src/models/index.ts
Due: common

feat(discovery): eligibility + scoring utils
  DISCOVERY_RAILS_PLAN.md
  packages/klurigo-service/src/modules/quiz-core/utils/discovery/discovery-eligibility.utils.spec.ts
  packages/klurigo-service/src/modules/quiz-core/utils/discovery/discovery-eligibility.utils.ts
  packages/klurigo-service/src/modules/quiz-core/utils/discovery/discovery-scoring.utils.spec.ts
  packages/klurigo-service/src/modules/quiz-core/utils/discovery/discovery-scoring.utils.ts
  packages/klurigo-service/src/modules/quiz-core/utils/discovery/index.ts
  packages/klurigo-service/src/modules/quiz-core/utils/index.ts
Due: klurigo-service

feat(discovery): compute pipeline, eligibility filtering, and recent-activity aggregation
  DISCOVERY_RAILS_PLAN.md
  packages/klurigo-service/src/modules/discovery-api/discovery-api.module.ts
  packages/klurigo-service/src/modules/discovery-api/services/discovery-compute.service.spec.ts
  packages/klurigo-service/src/modules/discovery-api/services/discovery-compute.service.ts
  packages/klurigo-service/src/modules/discovery-api/services/index.ts
  packages/klurigo-service/src/modules/game-core/repositories/game.repository.spec.ts
  packages/klurigo-service/src/modules/game-core/repositories/game.repository.ts
  packages/klurigo-service/src/modules/game-core/repositories/models/schemas/game.schema.ts
  packages/klurigo-service/src/modules/game-task/services/game-task-transition.service.spec.ts
  packages/klurigo-service/src/modules/game-task/services/game-task-transition.service.ts
  packages/klurigo-service/src/modules/quiz-core/repositories/quiz.repository.spec.ts
  packages/klurigo-service/src/modules/quiz-core/repositories/quiz.repository.ts
  packages/klurigo-service/src/modules/quiz-core/utils/discovery/discovery-scoring.utils.ts
  tools/mongodb-migrator/src/utils/collection.utils.ts
Due: klurigo-service

feat(discovery): backend snapshot + API surface
  DISCOVERY_RAILS_PLAN.md
  packages/klurigo-service/src/app/app.module.ts
  packages/klurigo-service/src/main.ts
  packages/klurigo-service/src/modules/discovery-api/constants/discovery.constants.ts
  packages/klurigo-service/src/modules/discovery-api/constants/index.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/discovery.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/discovery.controller.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/index.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/models/discovery-quiz-card.response.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/models/discovery-section.response.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/models/discovery.response.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/models/index.ts
  packages/klurigo-service/src/modules/discovery-api/discovery-api.module.ts
  packages/klurigo-service/src/modules/discovery-api/index.ts
  packages/klurigo-service/src/modules/discovery-api/repositories/discovery-snapshot.repository.spec.ts
  packages/klurigo-service/src/modules/discovery-api/repositories/discovery-snapshot.repository.ts
  packages/klurigo-service/src/modules/discovery-api/repositories/index.ts
  packages/klurigo-service/src/modules/discovery-api/repositories/models/schemas/discovery-snapshot.schema.ts
  packages/klurigo-service/src/modules/discovery-api/repositories/models/schemas/index.ts
  packages/klurigo-service/src/modules/quiz-core/repositories/models/schemas/quiz.schema.ts
  packages/klurigo-service/src/modules/quiz-core/repositories/quiz.repository.ts
  packages/klurigo-service/src/modules/quiz-core/utils/discovery/discovery-scoring.utils.ts
  tools/mongodb-migrator/src/transformers/discovery-snapshot.transformers.ts
  tools/mongodb-migrator/src/transformers/index.ts
  tools/mongodb-migrator/src/utils/collection.utils.ts
  tools/mongodb-migrator/src/utils/constants.ts
Due: klurigo-service

feat(discovery): add /discover/rails UI with scrollable sections and API client support
  DISCOVERY_RAILS_PLAN.md
  packages/klurigo-web/src/api/resources/quiz.resource.test.ts
  packages/klurigo-web/src/api/resources/quiz.resource.ts
  packages/klurigo-web/src/components/QuizDiscoveryCard/QuizDiscoveryCard.module.scss
  packages/klurigo-web/src/components/QuizDiscoveryCard/QuizDiscoveryCard.stories.tsx
  packages/klurigo-web/src/components/QuizDiscoveryCard/QuizDiscoveryCard.test.tsx
  packages/klurigo-web/src/components/QuizDiscoveryCard/QuizDiscoveryCard.tsx
  packages/klurigo-web/src/components/QuizDiscoveryCard/index.ts
  packages/klurigo-web/src/components/index.ts
  packages/klurigo-web/src/main.tsx
  packages/klurigo-web/src/pages/DiscoverRailsPage/DiscoverRailsPage.test.tsx
  packages/klurigo-web/src/pages/DiscoverRailsPage/DiscoverRailsPage.tsx
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/DiscoverRailsPageUI.module.scss
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/DiscoverRailsPageUI.stories.tsx
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/DiscoverRailsPageUI.test.tsx
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/DiscoverRailsPageUI.tsx
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/components/DiscoveryRailSection/DiscoveryRailSection.module.scss
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/components/DiscoveryRailSection/DiscoveryRailSection.stories.tsx
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/components/DiscoveryRailSection/DiscoveryRailSection.test.tsx
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/components/DiscoveryRailSection/DiscoveryRailSection.tsx
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/components/DiscoveryRailSection/index.ts
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/components/index.ts
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/index.ts
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/index.ts
  packages/klurigo-web/src/pages/DiscoverRailsPage/index.ts
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.tsx
  packages/klurigo-web/src/pages/index.ts
Due: klurigo-web

feat(discovery): schedule snapshots and serve hydrated rails + paginated sections
  DISCOVERY_RAILS_PLAN.md
  packages/klurigo-service/src/modules/discovery-api/constants/discovery-section-metadata.constants.ts
  packages/klurigo-service/src/modules/discovery-api/constants/index.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/discovery.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/discovery.controller.spec.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/discovery.controller.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/models/index.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/models/paginated-discovery-section.response.ts
  packages/klurigo-service/src/modules/discovery-api/discovery-api.module.ts
  packages/klurigo-service/src/modules/discovery-api/services/discovery-scheduler.service.spec.ts
  packages/klurigo-service/src/modules/discovery-api/services/discovery-scheduler.service.ts
  packages/klurigo-service/src/modules/discovery-api/services/index.ts
  tools/mongodb-migrator/README.md
Due: klurigo-service

feat(discovery): add section "See all" page with offset pagination
  DISCOVERY_RAILS_PLAN.md
  packages/klurigo-web/src/api/resources/quiz.resource.test.ts
  packages/klurigo-web/src/api/resources/quiz.resource.ts
  packages/klurigo-web/src/main.tsx
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/DiscoverRailsPageUI.tsx
  packages/klurigo-web/src/pages/DiscoverSectionPage/DiscoverSectionPage.test.tsx
  packages/klurigo-web/src/pages/DiscoverSectionPage/DiscoverSectionPage.tsx
  packages/klurigo-web/src/pages/DiscoverSectionPage/components/DiscoverSectionPageUI/DiscoverSectionPageUI.module.scss
  packages/klurigo-web/src/pages/DiscoverSectionPage/components/DiscoverSectionPageUI/DiscoverSectionPageUI.stories.tsx
  packages/klurigo-web/src/pages/DiscoverSectionPage/components/DiscoverSectionPageUI/DiscoverSectionPageUI.tsx
  packages/klurigo-web/src/pages/DiscoverSectionPage/components/DiscoverSectionPageUI/index.ts
  packages/klurigo-web/src/pages/DiscoverSectionPage/components/index.ts
  packages/klurigo-web/src/pages/DiscoverSectionPage/index.ts
  packages/klurigo-web/src/pages/index.ts
  packages/klurigo-web/src/utils/discovery.utils.test.ts
  packages/klurigo-web/src/utils/discovery.utils.ts
Due: klurigo-web

Path conditions:
  common: any of: packages/common/**
  klurigo-web: any of: packages/klurigo-web/**
  klurigo-service: any of: packages/klurigo-service/**
