Repository emilhornlund/quiz: changes, and which Codecov flags are due for each by the changed paths.
All: quiz, quiz-service

fix(auth): harden user token refresh logic
  packages/quiz/src/api/api-utils.ts
  packages/quiz/src/context/auth/AuthContextProvider.tsx
Due: quiz

fix(auth): harden user token refresh logic (#179)
  packages/quiz/src/api/api-utils.ts
  packages/quiz/src/context/auth/AuthContextProvider.tsx
Due: quiz

fix(answer-pin): make pin movable instead of fixed at center
  packages/quiz/src/components/QuestionAnswerPicker/components/AnswerPin/AnswerPin.tsx
Due: quiz

fix(answer-pin): make pin movable instead of fixed at center (#180)
  packages/quiz/src/components/QuestionAnswerPicker/components/AnswerPin/AnswerPin.tsx
Due: quiz

ci: migrate workflows to GitHub-hosted runners and simplify CI
  .github/workflows/build.yml
  .github/workflows/main.yml
  .github/workflows/manual-validate.yml
  .github/workflows/pull-request.yml
  docker-compose.yml
Due: none

ci: migrate workflows to GitHub-hosted runners and simplify CI (#181)
  .github/workflows/build.yml
  .github/workflows/main.yml
  .github/workflows/manual-validate.yml
  .github/workflows/pull-request.yml
  docker-compose.yml
Due: none

chore(github-actions): replace deprecated set-output with GITHUB_OUTPUT
  .github/workflows/docker-build-and-push.yml
Due: none

chore(github-actions): replace deprecated set-output with GITHUB_OUTPUT (#184)
  .github/workflows/docker-build-and-push.yml
Due: none

feat(common,quiz-service,quiz): replace margin calc with bounds; centralize step; update scoring & tests
  packages/common/src/utils/index.ts
  packages/common/src/utils/range-margin.helper.ts
  packages/common/src/utils/range.helper.ts
  packages/quiz-service/src/game/services/utils/task.converter.spec.ts
  packages/quiz-service/src/game/services/utils/task.converter.ts
  packages/quiz-service/src/quiz/services/quiz.service.ts
  packages/quiz-service/src/quiz/services/utils/question.utils.spec.ts
  packages/quiz-service/src/quiz/services/utils/question.utils.ts
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/__snapshots__/QuestionEditor.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionForm/QuestionForm.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionForm/__snapshots__/QuestionForm.test.tsx.snap
  tools/mongodb-migrator/src/transformers/quiz.transformers.ts
Due: quiz, quiz-service

chore(quiz): update snapshot tests with clip style adjustments
  packages/quiz/src/components/MediaModal/__snapshots__/MediaModal.test.tsx.snap
  packages/quiz/src/components/QuizTableFilter/components/FilterModal/__snapshots__/FilterModal.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/__snapshots__/QuizCreatorPageUI.test.tsx.snap
  packages/quiz/src/states/HostResultState/__snapshots__/HostResultState.test.tsx.snap
Due: quiz

fix(sortable-table): prevent iOS page scroll during drag
  packages/quiz/src/components/SortableTable/SortableTable.module.scss
  packages/quiz/src/components/SortableTable/SortableTable.tsx
Due: quiz

fix(sortable-table): prevent iOS page scroll during drag (#188)
  packages/quiz/src/components/SortableTable/SortableTable.module.scss
  packages/quiz/src/components/SortableTable/SortableTable.tsx
Due: quiz

WIP slider
  packages/common/src/utils/range.helper.ts
  packages/quiz/src/components/Slider/Slider.module.scss
  packages/quiz/src/components/Slider/Slider.stories.tsx
  packages/quiz/src/components/Slider/Slider.tsx
  packages/quiz/src/components/Slider/index.ts
Due: quiz

test(common,quiz-service): add Jest setup and range.helper unit tests
  package.json
  packages/common/jest.config.cjs
  packages/common/package.json
  packages/common/src/utils/range.helper.spec.ts
  packages/common/src/utils/range.helper.ts
  packages/common/tsconfig.test.json
  packages/quiz-service/package.json
  packages/quiz-service/src/game/services/utils/task.converter.spec.ts
  yarn.lock
Due: quiz-service

test(common,quiz-service): add Jest setup and range.helper unit tests (#190)
  package.json
  packages/common/jest.config.cjs
  packages/common/package.json
  packages/common/src/utils/range.helper.spec.ts
  packages/common/src/utils/range.helper.ts
  packages/common/tsconfig.test.json
  packages/quiz-service/package.json
  packages/quiz-service/src/game/services/utils/task.converter.spec.ts
  yarn.lock
Due: quiz-service

test(common): add unit tests for array and nickname utils
  packages/common/src/utils/array.utils.spec.ts
  packages/common/src/utils/index.ts
  packages/common/src/utils/nickname.utils.spec.ts
  packages/common/src/utils/range.utils.spec.ts
  packages/common/src/utils/range.utils.ts
Due: none

test(common): add unit tests for array and nickname utils (#191)
  packages/common/src/utils/array.utils.spec.ts
  packages/common/src/utils/index.ts
  packages/common/src/utils/nickname.utils.spec.ts
  packages/common/src/utils/range.utils.spec.ts
  packages/common/src/utils/range.utils.ts
Due: none

ci(workflow): include common package coverage in Codecov upload
  .github/workflows/build.yml
Due: none

ci(workflow): include common package coverage in Codecov upload (#192)
  .github/workflows/build.yml
Due: none

ci(codecov): split coverage uploads per package and update config
  .github/workflows/build.yml
  .github/workflows/main.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/pull-request.yml
  codecov.yml
Due: none

ci(codecov): split coverage uploads per package and update config (#193)
  .github/workflows/build.yml
  .github/workflows/main.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/pull-request.yml
  codecov.yml
Due: none

test(utils): add comprehensive test suites for core utils and hooks
  packages/quiz/src/components/Button/Button.tsx
  packages/quiz/src/components/CircularProgressBar/CircularProgressBar.tsx
  packages/quiz/src/components/Page/Page.tsx
  packages/quiz/src/components/PinImage/PinImage.tsx
  packages/quiz/src/components/SegmentedControl/SegmentedControl.tsx
  packages/quiz/src/components/Select/Select.tsx
  packages/quiz/src/components/TextField/TextField.tsx
  packages/quiz/src/pages/GamePage/GamePage.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/QuizCreatorPageUI.tsx
  packages/quiz/src/states/common/GamePage/GamePage.tsx
  packages/quiz/src/utils/date.utils.test.ts
  packages/quiz/src/utils/date.utils.ts
  packages/quiz/src/utils/helpers.test.ts
  packages/quiz/src/utils/helpers.ts
  packages/quiz/src/utils/notification.test.ts
  packages/quiz/src/utils/notification.ts
  packages/quiz/src/utils/questions-template.ts
  packages/quiz/src/utils/types.ts
  packages/quiz/src/utils/use-on-mount.hook.tsx
  packages/quiz/src/utils/useDeviceSizeType.test.tsx
  packages/quiz/src/utils/useDeviceSizeType.tsx
  packages/quiz/src/utils/useEventSource.test.tsx
  packages/quiz/src/utils/useEventSource.tsx
  packages/quiz/src/utils/useQuizzesSearchOptions.test.tsx
  packages/quiz/src/utils/useQuizzesSearchOptions.tsx
  packages/quiz/src/utils/validation.test.ts
Due: quiz

test(utils): add comprehensive test suites for core utils and hooks (#194)
  packages/quiz/src/components/Button/Button.tsx
  packages/quiz/src/components/CircularProgressBar/CircularProgressBar.tsx
  packages/quiz/src/components/Page/Page.tsx
  packages/quiz/src/components/PinImage/PinImage.tsx
  packages/quiz/src/components/SegmentedControl/SegmentedControl.tsx
  packages/quiz/src/components/Select/Select.tsx
  packages/quiz/src/components/TextField/TextField.tsx
  packages/quiz/src/pages/GamePage/GamePage.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/QuizCreatorPageUI.tsx
  packages/quiz/src/states/common/GamePage/GamePage.tsx
  packages/quiz/src/utils/date.utils.test.ts
  packages/quiz/src/utils/date.utils.ts
  packages/quiz/src/utils/helpers.test.ts
  packages/quiz/src/utils/helpers.ts
  packages/quiz/src/utils/notification.test.ts
  packages/quiz/src/utils/notification.ts
  packages/quiz/src/utils/questions-template.ts
  packages/quiz/src/utils/types.ts
  packages/quiz/src/utils/use-on-mount.hook.tsx
  packages/quiz/src/utils/useDeviceSizeType.test.tsx
  packages/quiz/src/utils/useDeviceSizeType.tsx
  packages/quiz/src/utils/useEventSource.test.tsx
  packages/quiz/src/utils/useEventSource.tsx
  packages/quiz/src/utils/useQuizzesSearchOptions.test.tsx
  packages/quiz/src/utils/useQuizzesSearchOptions.tsx
  packages/quiz/src/utils/validation.test.ts
Due: quiz

test(quiz): add Vitest unit & snapshot tests for API utils and UI
  packages/quiz/src/api/api.utils.test.ts
  packages/quiz/src/api/api.utils.ts
  packages/quiz/src/api/use-quiz-service-client.tsx
  packages/quiz/src/pages/AuthPasswordResetPage/AuthPasswordResetPage.tsx
  packages/quiz/src/states/common/GamePage/GamePage.test.tsx
  packages/quiz/src/states/common/GamePage/__snapshots__/GamePage.test.tsx.snap
  packages/quiz/src/states/common/PointsBehindIndicator/PointBehindIndicator.test.tsx
  packages/quiz/src/states/common/PointsBehindIndicator/__snapshots__/PointBehindIndicator.test.tsx.snap
  packages/quiz/src/states/common/QuestionTypePointsBar/QuestionTypePointsBar.test.tsx
  packages/quiz/src/states/common/QuestionTypePointsBar/__snapshots__/QuestionTypePointsBar.test.tsx.snap
  packages/quiz/vite.config.ts
Due: quiz

test(quiz): add Vitest unit & snapshot tests for API utils and UI (#195)
  packages/quiz/src/api/api.utils.test.ts
  packages/quiz/src/api/api.utils.ts
  packages/quiz/src/api/use-quiz-service-client.tsx
  packages/quiz/src/pages/AuthPasswordResetPage/AuthPasswordResetPage.tsx
  packages/quiz/src/states/common/GamePage/GamePage.test.tsx
  packages/quiz/src/states/common/GamePage/__snapshots__/GamePage.test.tsx.snap
  packages/quiz/src/states/common/PointsBehindIndicator/PointBehindIndicator.test.tsx
  packages/quiz/src/states/common/PointsBehindIndicator/__snapshots__/PointBehindIndicator.test.tsx.snap
  packages/quiz/src/states/common/QuestionTypePointsBar/QuestionTypePointsBar.test.tsx
  packages/quiz/src/states/common/QuestionTypePointsBar/__snapshots__/QuestionTypePointsBar.test.tsx.snap
  packages/quiz/vite.config.ts
Due: quiz

test(quiz,states): broaden coverage across Host/Player states + message utils
  packages/quiz/src/states/HostLeaderboardState/HostLeaderboardState.test.tsx
  packages/quiz/src/states/HostLeaderboardState/HostLeaderboardState.tsx
  packages/quiz/src/states/HostLeaderboardState/__snapshots__/HostLeaderboardState.test.tsx.snap
  packages/quiz/src/states/HostLobbyState/HostLobbyState.test.tsx
  packages/quiz/src/states/HostLobbyState/__snapshots__/HostLobbyState.test.tsx.snap
  packages/quiz/src/states/HostPodiumState/HostPodiumState.test.tsx
  packages/quiz/src/states/HostPodiumState/__snapshots__/HostPodiumState.test.tsx.snap
  packages/quiz/src/states/HostQuestionState/HostQuestionState.test.tsx
  packages/quiz/src/states/HostQuestionState/__snapshots__/HostQuestionState.test.tsx.snap
  packages/quiz/src/states/HostResultState/HostResultState.test.tsx
  packages/quiz/src/states/HostResultState/__snapshots__/HostResultState.test.tsx.snap
  packages/quiz/src/states/PlayerLobbyState/PlayerLobbyState.test.tsx
  packages/quiz/src/states/PlayerLobbyState/PlayerLobbyState.tsx
  packages/quiz/src/states/PlayerLobbyState/__snapshots__/PlayerLobbyState.test.tsx.snap
  packages/quiz/src/states/PlayerLobbyState/message.utils.test.ts
  packages/quiz/src/states/PlayerLobbyState/message.utils.ts
  packages/quiz/src/states/PlayerPodiumState/PlayerPodiumState.test.tsx
  packages/quiz/src/states/PlayerPodiumState/PlayerPodiumState.tsx
  packages/quiz/src/states/PlayerPodiumState/__snapshots__/PlayerPodiumState.test.tsx.snap
  packages/quiz/src/states/PlayerPodiumState/message.utils.test.ts
  packages/quiz/src/states/PlayerPodiumState/message.utils.ts
  packages/quiz/src/states/PlayerQuestionState/PlayerQuestionState.test.tsx
  packages/quiz/src/states/PlayerResultState/PlayerResultState.test.tsx
  packages/quiz/src/states/PlayerResultState/PlayerResultState.tsx
  packages/quiz/src/states/PlayerResultState/__snapshots__/PlayerResultState.test.tsx.snap
  packages/quiz/src/states/PlayerResultState/message.utils.test.ts
  packages/quiz/src/states/PlayerResultState/message.utils.ts
Due: quiz

test(quiz,states): broaden coverage across Host/Player states + message utils (#196)
  packages/quiz/src/states/HostLeaderboardState/HostLeaderboardState.test.tsx
  packages/quiz/src/states/HostLeaderboardState/HostLeaderboardState.tsx
  packages/quiz/src/states/HostLeaderboardState/__snapshots__/HostLeaderboardState.test.tsx.snap
  packages/quiz/src/states/HostLobbyState/HostLobbyState.test.tsx
  packages/quiz/src/states/HostLobbyState/__snapshots__/HostLobbyState.test.tsx.snap
  packages/quiz/src/states/HostPodiumState/HostPodiumState.test.tsx
  packages/quiz/src/states/HostPodiumState/__snapshots__/HostPodiumState.test.tsx.snap
  packages/quiz/src/states/HostQuestionState/HostQuestionState.test.tsx
  packages/quiz/src/states/HostQuestionState/__snapshots__/HostQuestionState.test.tsx.snap
  packages/quiz/src/states/HostResultState/HostResultState.test.tsx
  packages/quiz/src/states/HostResultState/__snapshots__/HostResultState.test.tsx.snap
  packages/quiz/src/states/PlayerLobbyState/PlayerLobbyState.test.tsx
  packages/quiz/src/states/PlayerLobbyState/PlayerLobbyState.tsx
  packages/quiz/src/states/PlayerLobbyState/__snapshots__/PlayerLobbyState.test.tsx.snap
  packages/quiz/src/states/PlayerLobbyState/message.utils.test.ts
  packages/quiz/src/states/PlayerLobbyState/message.utils.ts
  packages/quiz/src/states/PlayerPodiumState/PlayerPodiumState.test.tsx
  packages/quiz/src/states/PlayerPodiumState/PlayerPodiumState.tsx
  packages/quiz/src/states/PlayerPodiumState/__snapshots__/PlayerPodiumState.test.tsx.snap
  packages/quiz/src/states/PlayerPodiumState/message.utils.test.ts
  packages/quiz/src/states/PlayerPodiumState/message.utils.ts
  packages/quiz/src/states/PlayerQuestionState/PlayerQuestionState.test.tsx
  packages/quiz/src/states/PlayerResultState/PlayerResultState.test.tsx
  packages/quiz/src/states/PlayerResultState/PlayerResultState.tsx
  packages/quiz/src/states/PlayerResultState/__snapshots__/PlayerResultState.test.tsx.snap
  packages/quiz/src/states/PlayerResultState/message.utils.test.ts
  packages/quiz/src/states/PlayerResultState/message.utils.ts
Due: quiz

test(auth): add full test coverage for auth flows & UI
  packages/quiz/src/pages/AuthGamePage/AuthGamePage.test.tsx
  packages/quiz/src/pages/AuthGamePage/__snapshots__/AuthGamePage.test.tsx.snap
  packages/quiz/src/pages/AuthGoogleCallbackPage/AuthGoogleCallbackPage.test.tsx
  packages/quiz/src/pages/AuthGoogleCallbackPage/__snapshots__/AuthGoogleCallbackPage.test.tsx.snap
  packages/quiz/src/pages/AuthLoginPage/AuthLoginPage.test.tsx
  packages/quiz/src/pages/AuthLoginPage/components/AuthLoginPageUI/AuthLoginPageUI.test.tsx
  packages/quiz/src/pages/AuthLoginPage/components/AuthLoginPageUI/AuthLoginPageUI.tsx
  packages/quiz/src/pages/AuthLoginPage/components/AuthLoginPageUI/__snapshots__/AuthLoginPageUI.test.tsx.snap
  packages/quiz/src/pages/AuthLoginPage/components/AuthLoginPageUI/text.utils.test.ts
  packages/quiz/src/pages/AuthLoginPage/components/AuthLoginPageUI/text.utils.ts
  packages/quiz/src/pages/AuthPasswordForgotPage/AuthPasswordForgotPage.test.tsx
  packages/quiz/src/pages/AuthPasswordForgotPage/__snapshots__/AuthPasswordForgotPage.test.tsx.snap
  packages/quiz/src/pages/AuthPasswordForgotPage/components/AuthPasswordForgotPageUI/AuthPasswordForgotPageUI.test.tsx
  packages/quiz/src/pages/AuthPasswordResetPage/AuthPasswordResetPage.test.tsx
  packages/quiz/src/pages/AuthPasswordResetPage/__snapshots__/AuthPasswordResetPage.test.tsx.snap
  packages/quiz/src/pages/AuthPasswordResetPage/components/AuthPasswordResetPageUI/AuthPasswordResetPageUI.test.tsx
  packages/quiz/src/pages/AuthPasswordResetPage/components/AuthPasswordResetPageUI/__snapshots__/AuthPasswordResetPageUI.test.tsx.snap
  packages/quiz/src/pages/AuthRegisterPage/AuthRegisterPage.test.tsx
  packages/quiz/src/pages/AuthRegisterPage/components/AuthRegisterPageUI/AuthRegisterPageUI.test.tsx
  packages/quiz/src/pages/AuthRegisterPage/components/AuthRegisterPageUI/AuthRegisterPageUI.tsx
  packages/quiz/src/pages/AuthRegisterPage/components/AuthRegisterPageUI/__snapshots__/AuthRegisterPageUI.test.tsx.snap
  packages/quiz/src/pages/AuthRegisterPage/components/AuthRegisterPageUI/text.utils.test.ts
  packages/quiz/src/pages/AuthRegisterPage/components/AuthRegisterPageUI/text.utils.ts
  packages/quiz/src/pages/AuthVerifyPage/AuthVerifyPage.test.tsx
  packages/quiz/src/pages/AuthVerifyPage/__snapshots__/AuthVerifyPage.test.tsx.snap
  packages/quiz/src/pages/AuthVerifyPage/components/AuthVerifyPageUI/AuthVerifyPageUI.test.tsx
  packages/quiz/src/pages/AuthVerifyPage/components/AuthVerifyPageUI/__snapshots__/AuthVerifyPageUI.test.tsx.snap
Due: quiz

test(auth): add full test coverage for auth flows & UI (#197)
  packages/quiz/src/pages/AuthGamePage/AuthGamePage.test.tsx
  packages/quiz/src/pages/AuthGamePage/__snapshots__/AuthGamePage.test.tsx.snap
  packages/quiz/src/pages/AuthGoogleCallbackPage/AuthGoogleCallbackPage.test.tsx
  packages/quiz/src/pages/AuthGoogleCallbackPage/__snapshots__/AuthGoogleCallbackPage.test.tsx.snap
  packages/quiz/src/pages/AuthLoginPage/AuthLoginPage.test.tsx
  packages/quiz/src/pages/AuthLoginPage/components/AuthLoginPageUI/AuthLoginPageUI.test.tsx
  packages/quiz/src/pages/AuthLoginPage/components/AuthLoginPageUI/AuthLoginPageUI.tsx
  packages/quiz/src/pages/AuthLoginPage/components/AuthLoginPageUI/__snapshots__/AuthLoginPageUI.test.tsx.snap
  packages/quiz/src/pages/AuthLoginPage/components/AuthLoginPageUI/text.utils.test.ts
  packages/quiz/src/pages/AuthLoginPage/components/AuthLoginPageUI/text.utils.ts
  packages/quiz/src/pages/AuthPasswordForgotPage/AuthPasswordForgotPage.test.tsx
  packages/quiz/src/pages/AuthPasswordForgotPage/__snapshots__/AuthPasswordForgotPage.test.tsx.snap
  packages/quiz/src/pages/AuthPasswordForgotPage/components/AuthPasswordForgotPageUI/AuthPasswordForgotPageUI.test.tsx
  packages/quiz/src/pages/AuthPasswordResetPage/AuthPasswordResetPage.test.tsx
  packages/quiz/src/pages/AuthPasswordResetPage/__snapshots__/AuthPasswordResetPage.test.tsx.snap
  packages/quiz/src/pages/AuthPasswordResetPage/components/AuthPasswordResetPageUI/AuthPasswordResetPageUI.test.tsx
  packages/quiz/src/pages/AuthPasswordResetPage/components/AuthPasswordResetPageUI/__snapshots__/AuthPasswordResetPageUI.test.tsx.snap
  packages/quiz/src/pages/AuthRegisterPage/AuthRegisterPage.test.tsx
  packages/quiz/src/pages/AuthRegisterPage/components/AuthRegisterPageUI/AuthRegisterPageUI.test.tsx
  packages/quiz/src/pages/AuthRegisterPage/components/AuthRegisterPageUI/AuthRegisterPageUI.tsx
  packages/quiz/src/pages/AuthRegisterPage/components/AuthRegisterPageUI/__snapshots__/AuthRegisterPageUI.test.tsx.snap
  packages/quiz/src/pages/AuthRegisterPage/components/AuthRegisterPageUI/text.utils.test.ts
  packages/quiz/src/pages/AuthRegisterPage/components/AuthRegisterPageUI/text.utils.ts
  packages/quiz/src/pages/AuthVerifyPage/AuthVerifyPage.test.tsx
  packages/quiz/src/pages/AuthVerifyPage/__snapshots__/AuthVerifyPage.test.tsx.snap
  packages/quiz/src/pages/AuthVerifyPage/components/AuthVerifyPageUI/AuthVerifyPageUI.test.tsx
  packages/quiz/src/pages/AuthVerifyPage/components/AuthVerifyPageUI/__snapshots__/AuthVerifyPageUI.test.tsx.snap
Due: quiz

ci(codecov): enforce PR coverage requirements
  codecov.yml
Due: none

ci(codecov): enforce PR coverage requirements (#198)
  codecov.yml
Due: none

test(game): add comprehensive tests for GameJoin, Game, and Results pages
  packages/quiz/src/pages/GameJoinPage/GameJoinPage.test.tsx
  packages/quiz/src/pages/GameJoinPage/GameJoinPage.tsx
  packages/quiz/src/pages/GameJoinPage/__snapshots__/GameJoinPage.test.tsx.snap
  packages/quiz/src/pages/GameJoinPage/text.utils.test.ts
  packages/quiz/src/pages/GameJoinPage/text.utils.ts
  packages/quiz/src/pages/GamePage/GamePage.test.tsx
  packages/quiz/src/pages/GamePage/__snapshots__/GamePage.test.tsx.snap
  packages/quiz/src/pages/GameResultsPage/GameResultsPage.test.tsx
  packages/quiz/src/pages/GameResultsPage/__snapshots__/GameResultsPage.test.tsx.snap
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.test.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/__snapshots__/GameResultsPageUI.test.tsx.snap
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/PlayerSection.test.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/PlayerSection.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/QuestionSection.test.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/QuestionSection.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection.test.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/__snapshots__/PlayerSection.test.tsx.snap
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/__snapshots__/QuestionSection.test.tsx.snap
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/__snapshots__/SummarySection.test.tsx.snap
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/components/GameResultTable/GameResultTable.test.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/components/GameResultTable/GameResultTable.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/components/GameResultTable/__snapshots__/GameResultTable.test.tsx.snap
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/index.ts
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/utils/format.utils.test.ts
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/utils/format.utils.ts
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/utils/index.ts
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/utils/metric.utils.test.ts
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/utils/metric.utils.ts
Due: quiz

test(game): add comprehensive tests for GameJoin, Game, and Results pages (#199)
  packages/quiz/src/pages/GameJoinPage/GameJoinPage.test.tsx
  packages/quiz/src/pages/GameJoinPage/GameJoinPage.tsx
  packages/quiz/src/pages/GameJoinPage/__snapshots__/GameJoinPage.test.tsx.snap
  packages/quiz/src/pages/GameJoinPage/text.utils.test.ts
  packages/quiz/src/pages/GameJoinPage/text.utils.ts
  packages/quiz/src/pages/GamePage/GamePage.test.tsx
  packages/quiz/src/pages/GamePage/__snapshots__/GamePage.test.tsx.snap
  packages/quiz/src/pages/GameResultsPage/GameResultsPage.test.tsx
  packages/quiz/src/pages/GameResultsPage/__snapshots__/GameResultsPage.test.tsx.snap
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.test.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/__snapshots__/GameResultsPageUI.test.tsx.snap
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/PlayerSection.test.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/PlayerSection.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/QuestionSection.test.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/QuestionSection.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection.test.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/__snapshots__/PlayerSection.test.tsx.snap
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/__snapshots__/QuestionSection.test.tsx.snap
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/__snapshots__/SummarySection.test.tsx.snap
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/components/GameResultTable/GameResultTable.test.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/components/GameResultTable/GameResultTable.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/components/GameResultTable/__snapshots__/GameResultTable.test.tsx.snap
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/index.ts
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/utils/format.utils.test.ts
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/utils/format.utils.ts
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/utils/index.ts
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/utils/metric.utils.test.ts
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/utils/metric.utils.ts
Due: quiz

feat(scoring): extract classic & puzzle scoring utils; raise Puzzle max to 6
  packages/common/src/utils/constants.ts
  packages/quiz-service/src/game/services/utils/index.ts
  packages/quiz-service/src/game/services/utils/scoring-strategies.utils.spec.ts
  packages/quiz-service/src/game/services/utils/scoring-strategies.utils.ts
  packages/quiz-service/src/game/services/utils/task.converter.spec.ts
  packages/quiz-service/src/game/services/utils/task.converter.ts
Due: quiz-service

feat(scoring): extract classic & puzzle scoring utils; raise Puzzle max to 6 (#201)
  packages/common/src/utils/constants.ts
  packages/quiz-service/src/game/services/utils/index.ts
  packages/quiz-service/src/game/services/utils/scoring-strategies.utils.spec.ts
  packages/quiz-service/src/game/services/utils/scoring-strategies.utils.ts
  packages/quiz-service/src/game/services/utils/task.converter.spec.ts
  packages/quiz-service/src/game/services/utils/task.converter.ts
Due: quiz-service

fix(ui): adjust GameResultsPage layout height from full → normal
  packages/quiz/src/pages/AuthLoginPage/components/AuthLoginPageUI/__snapshots__/AuthLoginPageUI.test.tsx.snap
  packages/quiz/src/pages/AuthPasswordResetPage/components/AuthPasswordResetPageUI/__snapshots__/AuthPasswordResetPageUI.test.tsx.snap
  packages/quiz/src/pages/AuthVerifyPage/components/AuthVerifyPageUI/__snapshots__/AuthVerifyPageUI.test.tsx.snap
  packages/quiz/src/pages/GamePage/__snapshots__/GamePage.test.tsx.snap
  packages/quiz/src/pages/GameResultsPage/__snapshots__/GameResultsPage.test.tsx.snap
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/__snapshots__/GameResultsPageUI.test.tsx.snap
Due: quiz

fix(ui): adjust GameResultsPage layout height from full → normal (#202)
  packages/quiz/src/pages/AuthLoginPage/components/AuthLoginPageUI/__snapshots__/AuthLoginPageUI.test.tsx.snap
  packages/quiz/src/pages/AuthPasswordResetPage/components/AuthPasswordResetPageUI/__snapshots__/AuthPasswordResetPageUI.test.tsx.snap
  packages/quiz/src/pages/AuthVerifyPage/components/AuthVerifyPageUI/__snapshots__/AuthVerifyPageUI.test.tsx.snap
  packages/quiz/src/pages/GamePage/__snapshots__/GamePage.test.tsx.snap
  packages/quiz/src/pages/GameResultsPage/__snapshots__/GameResultsPage.test.tsx.snap
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/__snapshots__/GameResultsPageUI.test.tsx.snap
Due: quiz

WIP show media on results
  packages/common/src/models/game-event.ts
  packages/quiz-service/src/game/services/utils/game-event.converter.ts
  packages/quiz/src/states/HostQuestionState/HostQuestionState.stories.tsx
  packages/quiz/src/states/HostQuestionState/HostQuestionState.tsx
  packages/quiz/src/states/HostResultState/HostResultState.stories.tsx
  packages/quiz/src/states/HostResultState/HostResultState.tsx
  packages/quiz/src/states/common/QuestionMedia/QuestionMedia.module.scss
  packages/quiz/src/states/common/QuestionMedia/QuestionMedia.tsx
  packages/quiz/src/states/common/QuestionMedia/index.ts
  packages/quiz/src/states/common/index.ts
Due: quiz, quiz-service

refactor: implement generic repository pattern for data access layer
  packages/quiz-service/src/app/shared/repository/base-repository.interface.ts
  packages/quiz-service/src/app/shared/repository/base.repository.ts
  packages/quiz-service/src/app/shared/repository/index.ts
  packages/quiz-service/src/app/shared/repository/types.ts
  packages/quiz-service/src/app/shared/repository/utils.ts
  packages/quiz-service/src/auth/services/auth.service.ts
  packages/quiz-service/src/auth/services/token.repository.ts
  packages/quiz-service/src/game/repositories/game.repository.ts
  packages/quiz-service/src/quiz/repositories/quiz.repository.ts
  packages/quiz-service/src/user/repositories/user.repository.ts
  packages/quiz-service/tsconfig.json
Due: quiz-service

feat(results): show question media on results page
  packages/common/src/models/game-event.ts
  packages/quiz-service/src/game/services/utils/game-event.converter.spec.ts
  packages/quiz-service/src/game/services/utils/game-event.converter.ts
  packages/quiz/src/components/index.ts
  packages/quiz/src/states/HostQuestionState/HostQuestionState.stories.tsx
  packages/quiz/src/states/HostQuestionState/HostQuestionState.tsx
  packages/quiz/src/states/HostQuestionState/__snapshots__/HostQuestionState.test.tsx.snap
  packages/quiz/src/states/HostResultState/HostResultState.stories.tsx
  packages/quiz/src/states/HostResultState/HostResultState.test.tsx
  packages/quiz/src/states/HostResultState/HostResultState.tsx
  packages/quiz/src/states/HostResultState/__snapshots__/HostResultState.test.tsx.snap
  packages/quiz/src/states/HostResultState/components/PinQuestionResults/PinQuestionResults.tsx
  packages/quiz/src/states/HostResultState/components/QuestionResults/QuestionResults.module.scss
  packages/quiz/src/states/HostResultState/components/QuestionResults/QuestionResults.tsx
  packages/quiz/src/states/HostResultState/components/QuestionResults/index.ts
  packages/quiz/src/states/HostResultState/components/index.ts
  packages/quiz/src/states/common/QuestionMedia/QuestionMedia.module.scss
  packages/quiz/src/states/common/QuestionMedia/QuestionMedia.test.tsx
  packages/quiz/src/states/common/QuestionMedia/QuestionMedia.tsx
  packages/quiz/src/states/common/QuestionMedia/__snapshots__/QuestionMedia.test.tsx.snap
  packages/quiz/src/states/common/QuestionMedia/index.ts
  packages/quiz/src/states/common/index.ts
Due: quiz, quiz-service

Path conditions:
  quiz: any of: packages/quiz/**
  quiz-service: any of: packages/quiz-service/**
