Repository emilhornlund/quiz: changes, and which Codecov flags are due for each by the changed paths.
All: common, quiz, quiz-service

codecov.yml:

comment:
  layout: "reach, diff, flags, components, files, tree"
  require_changes: false
  behavior: default
  hide_project_coverage: false

component_management:
  default_rules:
    statuses:
      - type: project
        informational: true
      - type: patch
        informational: true
  individual_components:
    - component_id: common
      name: common
      paths:
        - packages/common/**
    - component_id: quiz
      name: quiz
      paths:
        - packages/quiz/**
    - component_id: quiz-service
      name: quiz-service
      paths:
        - packages/quiz-service/**

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

feat(game-events): include status in GameQuitEvent and navigate to results
  packages/common/src/models/game-event.ts
  packages/quiz-service/src/game/services/game.service.ts
  packages/quiz-service/src/game/services/utils/game-event.converter.ts
  packages/quiz/src/pages/GamePage/GamePage.tsx
  packages/quiz/src/states/HostPodiumState/HostPodiumState.test.tsx
  packages/quiz/src/states/HostPodiumState/HostPodiumState.tsx
  packages/quiz/src/states/HostPodiumState/__snapshots__/HostPodiumState.test.tsx.snap
  packages/quiz/src/states/PlayerPodiumState/PlayerPodiumState.test.tsx
  packages/quiz/src/states/PlayerPodiumState/PlayerPodiumState.tsx
  packages/quiz/src/states/PlayerPodiumState/__snapshots__/PlayerPodiumState.test.tsx.snap
Due: common, quiz, quiz-service

feat(web): URL-driven pagination on ProfileGamesPage with robust tests
  packages/quiz/src/pages/ProfileGamesPage/ProfileGamesPage.test.tsx
  packages/quiz/src/pages/ProfileGamesPage/ProfileGamesPage.tsx
  packages/quiz/src/utils/helpers.test.ts
  packages/quiz/src/utils/helpers.ts
  packages/quiz/src/utils/useQuizzesSearchOptions.tsx
Due: quiz

feat(ui): support multiple players in Game Results metrics
  packages/quiz/src/pages/GameResultsPage/__snapshots__/GameResultsPage.test.tsx.snap
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.module.scss
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/__snapshots__/GameResultsPageUI.test.tsx.snap
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/__snapshots__/SummarySection.test.tsx.snap
Due: quiz

fix(profile): adjust ProfileGamesPage layout by removing full height
  packages/quiz/src/pages/ProfileGamesPage/ProfileGamesPageUI/ProfileGamesPageUI.tsx
  packages/quiz/src/pages/ProfileGamesPage/ProfileGamesPageUI/__snapshots__/ProfileGamesPageUI.test.tsx.snap
Due: quiz

feat(quiz-creator): add min/max validation for range question fields
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/__snapshots__/QuestionEditor.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/QuestionField.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionForm/QuestionForm.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionForm/__snapshots__/QuestionForm.test.tsx.snap
Due: quiz

add image effects, Blur and Square
  packages/common/src/models/game-event.ts
  packages/common/src/models/question.dto.ts
  packages/quiz-service/src/game/services/utils/game-event.converter.ts
  packages/quiz-service/src/quiz/controllers/models/question-media.ts
  packages/quiz-service/src/quiz/controllers/models/quiz.request.spec.ts
  packages/quiz-service/src/quiz/repositories/models/schemas/question.schema.ts
  packages/quiz/src/components/ImageEffectModal/ImageEffectModal.module.scss
  packages/quiz/src/components/ImageEffectModal/ImageEffectModal.test.tsx
  packages/quiz/src/components/ImageEffectModal/ImageEffectModal.tsx
  packages/quiz/src/components/ImageEffectModal/__snapshots__/ImageEffectModal.test.tsx.snap
  packages/quiz/src/components/ImageEffectModal/index.ts
  packages/quiz/src/components/ResponsiveImage/ResponsiveImage.module.scss
  packages/quiz/src/components/ResponsiveImage/ResponsiveImage.stories.tsx
  packages/quiz/src/components/ResponsiveImage/ResponsiveImage.test.tsx
  packages/quiz/src/components/ResponsiveImage/ResponsiveImage.tsx
  packages/quiz/src/components/ResponsiveImage/__snapshots__/ResponsiveImage.test.tsx.snap
  packages/quiz/src/components/ResponsiveImage/components/ImageSquareEffect.test.tsx
  packages/quiz/src/components/ResponsiveImage/components/ImageSquareEffect.tsx
  packages/quiz/src/components/ResponsiveImage/components/__snapshots__/ImageSquareEffect.test.tsx.snap
  packages/quiz/src/components/ResponsiveImage/components/index.ts
  packages/quiz/src/components/ResponsiveImage/hook/__snapshots__/useImageBlurEffect.test.ts.snap
  packages/quiz/src/components/ResponsiveImage/hook/index.ts
  packages/quiz/src/components/ResponsiveImage/hook/useImageBlurEffect.test.ts
  packages/quiz/src/components/ResponsiveImage/hook/useImageBlurEffect.ts
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/MediaQuestionField/MediaQuestionField.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/QuestionField.test.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/__snapshots__/QuestionField.test.tsx.snap
  packages/quiz/src/states/HostQuestionState/HostQuestionState.stories.tsx
  packages/quiz/src/states/HostQuestionState/HostQuestionState.tsx
  packages/quiz/src/states/common/QuestionMedia/QuestionMedia.tsx
Due: common, quiz, quiz-service

feat(media): typed polymorphic question media + image reveal effects
  packages/common/src/models/game-event.ts
  packages/common/src/models/index.ts
  packages/common/src/models/question-image-reveal-effect-type.enum.ts
  packages/common/src/models/question.dto.ts
  packages/quiz-service/src/game/services/utils/game-event.converter.ts
  packages/quiz-service/src/quiz/controllers/decorators/api/api-question-media-property.decorator.ts
  packages/quiz-service/src/quiz/controllers/decorators/api/api-question-property.decorator.ts
  packages/quiz-service/src/quiz/controllers/models/question-media.ts
  packages/quiz-service/src/quiz/controllers/models/question-multi-choice.ts
  packages/quiz-service/src/quiz/controllers/models/question-puzzle.ts
  packages/quiz-service/src/quiz/controllers/models/question-range.ts
  packages/quiz-service/src/quiz/controllers/models/question-true-false.ts
  packages/quiz-service/src/quiz/controllers/models/question-type-answer.ts
  packages/quiz-service/src/quiz/controllers/models/question-zero-to-one-hundred-range.ts
  packages/quiz-service/src/quiz/controllers/models/quiz.request.spec.ts
  packages/quiz-service/src/quiz/repositories/models/schemas/question.schema.ts
Due: common, quiz-service

feat(quiz): adopt enum-based image reveal effects across frontend
  packages/quiz/src/components/ImageEffectModal/ImageEffectModal.tsx
  packages/quiz/src/components/ImageEffectModal/__snapshots__/ImageEffectModal.test.tsx.snap
  packages/quiz/src/components/ResponsiveImage/ResponsiveImage.stories.tsx
  packages/quiz/src/components/ResponsiveImage/ResponsiveImage.test.tsx
  packages/quiz/src/components/ResponsiveImage/ResponsiveImage.tsx
  packages/quiz/src/components/ResponsiveImage/components/ImageSquareEffect.test.tsx
  packages/quiz/src/components/ResponsiveImage/components/ImageSquareEffect.tsx
  packages/quiz/src/components/ResponsiveImage/components/__snapshots__/ImageSquareEffect.test.tsx.snap
  packages/quiz/src/components/ResponsiveImage/components/index.ts
  packages/quiz/src/models/labels.ts
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/__snapshots__/QuizCreatorPageUI.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/__snapshots__/QuestionEditor.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/MediaQuestionField/MediaQuestionField.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/QuestionField.test.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/__snapshots__/QuestionField.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionForm/__snapshots__/QuestionForm.test.tsx.snap
  packages/quiz/src/states/HostQuestionState/HostQuestionState.stories.tsx
  packages/quiz/src/states/common/QuestionMedia/QuestionMedia.tsx
Due: quiz

refactor(ui): colocate ImageEffectModal with MediaQuestionField and tighten typings
  packages/quiz/src/components/ImageEffectModal/index.ts
  packages/quiz/src/components/ResponsiveImage/components/ImageSquareEffect.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/MediaQuestionField/MediaQuestionField.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/MediaQuestionField/components/ImageEffectModal/ImageEffectModal.module.scss
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/MediaQuestionField/components/ImageEffectModal/ImageEffectModal.test.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/MediaQuestionField/components/ImageEffectModal/ImageEffectModal.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/MediaQuestionField/components/ImageEffectModal/__snapshots__/ImageEffectModal.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/MediaQuestionField/components/ImageEffectModal/index.ts
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/MediaQuestionField/components/index.ts
Due: quiz

test(media): expand media handling coverage and simplify Transform
  packages/quiz-service/src/quiz/controllers/decorators/api/api-question-media-property.decorator.ts
  packages/quiz-service/src/quiz/controllers/models/quiz.request.spec.ts
  packages/quiz/src/components/ResponsiveImage/ResponsiveImage.test.tsx
  packages/quiz/src/components/ResponsiveImage/__snapshots__/ResponsiveImage.test.tsx.snap
  packages/quiz/src/components/ResponsiveImage/hook/__snapshots__/useImageBlurEffect.test.ts.snap
  packages/quiz/src/components/ResponsiveImage/hook/useImageBlurEffect.test.ts
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/MediaQuestionField/MediaQuestionField.test.tsx
  packages/quiz/src/states/common/QuestionMedia/QuestionMedia.test.tsx
  packages/quiz/src/states/common/QuestionMedia/__snapshots__/QuestionMedia.test.tsx.snap
Due: quiz, quiz-service

feat(responsive-image): random NxN tile reveal for ImageSquareEffect + editor countdown wiring
  packages/quiz/src/components/ResponsiveImage/components/ImageSquareEffect.test.tsx
  packages/quiz/src/components/ResponsiveImage/components/ImageSquareEffect.tsx
  packages/quiz/src/components/ResponsiveImage/components/__snapshots__/ImageSquareEffect.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/MediaQuestionField/MediaQuestionField.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/QuestionField.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionForm/QuestionForm.tsx
Due: quiz

fix(responsive-image): remove rounding artifact in ImageSquareEffect with CSS Grid
  packages/quiz/src/components/ResponsiveImage/ResponsiveImage.tsx
  packages/quiz/src/components/ResponsiveImage/components/ImageSquareEffect.test.tsx
  packages/quiz/src/components/ResponsiveImage/components/ImageSquareEffect.tsx
  packages/quiz/src/components/ResponsiveImage/components/__snapshots__/ImageSquareEffect.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/MediaQuestionField/MediaQuestionField.tsx
Due: quiz

refactor(responsive-image): extract ImageSquareEffect into dedicated folder with SCSS module
  packages/quiz/src/components/ResponsiveImage/ResponsiveImage.test.tsx
  packages/quiz/src/components/ResponsiveImage/ResponsiveImage.tsx
  packages/quiz/src/components/ResponsiveImage/__snapshots__/ResponsiveImage.test.tsx.snap
  packages/quiz/src/components/ResponsiveImage/components/ImageSquareEffect/ImageSquareEffect.module.scss
  packages/quiz/src/components/ResponsiveImage/components/ImageSquareEffect/ImageSquareEffect.test.tsx
  packages/quiz/src/components/ResponsiveImage/components/ImageSquareEffect/ImageSquareEffect.tsx
  packages/quiz/src/components/ResponsiveImage/components/ImageSquareEffect/index.ts
  packages/quiz/src/components/ResponsiveImage/components/__snapshots__/ImageSquareEffect.test.tsx.snap
  packages/quiz/src/components/ResponsiveImage/components/index.ts
  packages/quiz/src/components/ResponsiveImage/hook/useImageBlurEffect.test.ts
  packages/quiz/src/components/ResponsiveImage/hook/useImageBlurEffect.ts
  packages/quiz/src/components/ResponsiveImage/index.ts
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/MediaQuestionField/MediaQuestionField.test.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/MediaQuestionField/MediaQuestionField.tsx
Due: quiz

refactor(image-square-effect): simplify overlay and remove dynamic blur handling
  packages/quiz/src/components/ResponsiveImage/components/ImageSquareEffect/ImageSquareEffect.module.scss
  packages/quiz/src/components/ResponsiveImage/components/ImageSquareEffect/ImageSquareEffect.test.tsx
  packages/quiz/src/components/ResponsiveImage/components/ImageSquareEffect/ImageSquareEffect.tsx
Due: quiz

feat(responsive-image): rAF-based, size-aware blur effect with early-end + test harness
  packages/quiz/src/components/ResponsiveImage/ResponsiveImage.tsx
  packages/quiz/src/components/ResponsiveImage/__snapshots__/ResponsiveImage.test.tsx.snap
  packages/quiz/src/components/ResponsiveImage/hook/useImageBlurEffect.test.ts
  packages/quiz/src/components/ResponsiveImage/hook/useImageBlurEffect.ts
Due: quiz

chore(tests): remove redundant comments across ResponsiveImage and related tests
  packages/quiz/src/components/ResponsiveImage/ResponsiveImage.test.tsx
  packages/quiz/src/components/ResponsiveImage/components/ImageSquareEffect/ImageSquareEffect.test.tsx
  packages/quiz/src/components/ResponsiveImage/components/ImageSquareEffect/ImageSquareEffect.tsx
  packages/quiz/src/components/ResponsiveImage/hook/useImageBlurEffect.test.ts
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/MediaQuestionField/MediaQuestionField.test.tsx
  packages/quiz/src/states/common/QuestionMedia/QuestionMedia.test.tsx
Due: quiz

build(deps): bump the all-dependencies group across 3 directories with 14 updates
  .github/dependabot.yml
  packages/quiz-service/package.json
  packages/quiz/package.json
  tools/mongodb-migrator/package.json
  yarn.lock
Due: quiz, quiz-service
