Repository emilhornlund/quiz: changes, and which Codecov flags are due for each by the changed paths.
All: common, quiz, quiz-service

codecov.yml:

comment:
  layout: "reach, diff, flags, components, files, tree"
  require_changes: false
  behavior: default
  hide_project_coverage: false

component_management:
  default_rules:
    statuses:
      - type: project
        informational: true
      - type: patch
        informational: true
  individual_components:
    - component_id: common
      name: common
      paths:
        - packages/common/**
    - component_id: quiz
      name: quiz
      paths:
        - packages/quiz/**
    - component_id: quiz-service
      name: quiz-service
      paths:
        - packages/quiz-service/**

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

chore(deps): bump Vitest to v4 and update React hooks linting
  .github/dependabot.yml
  packages/common/package.json
  packages/quiz/eslint.config.mjs
  packages/quiz/package.json
  packages/quiz/src/components/Confetti/Confetti.tsx
  packages/quiz/src/components/MediaModal/MediaModal.test.tsx
  packages/quiz/src/components/Podium/Podium.tsx
  packages/quiz/src/components/ResponsiveImage/__snapshots__/ResponsiveImage.test.tsx.snap
  packages/quiz/src/components/ResponsiveImage/components/ImageSquareEffect/ImageSquareEffect.tsx
  packages/quiz/src/components/ResponsiveImage/hook/useImageBlurEffect.ts
  packages/quiz/src/components/Textarea/Textarea.tsx
  packages/quiz/src/context/user/UserContextProvider.test.tsx
  packages/quiz/src/context/user/UserContextProvider.tsx
  packages/quiz/src/pages/AuthGamePage/AuthGamePage.test.tsx
  packages/quiz/src/pages/AuthGoogleCallbackPage/AuthGoogleCallbackPage.test.tsx
  packages/quiz/src/pages/AuthLoginPage/AuthLoginPage.test.tsx
  packages/quiz/src/pages/AuthLoginPage/components/AuthLoginPageUI/AuthLoginPageUI.tsx
  packages/quiz/src/pages/AuthPasswordForgotPage/AuthPasswordForgotPage.test.tsx
  packages/quiz/src/pages/AuthPasswordResetPage/AuthPasswordResetPage.test.tsx
  packages/quiz/src/pages/AuthRegisterPage/AuthRegisterPage.test.tsx
  packages/quiz/src/pages/AuthRegisterPage/components/AuthRegisterPageUI/AuthRegisterPageUI.tsx
  packages/quiz/src/pages/GamePage/GamePage.tsx
  packages/quiz/src/pages/HomePage/HomePage.tsx
  packages/quiz/src/pages/ProfileGamesPage/ProfileGamesPage.tsx
  packages/quiz/src/pages/QuizCreatorPage/QuizCreatorPage.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/MediaQuestionField/MediaQuestionField.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/MultiChoiceOptions.test.tsx
  packages/quiz/src/states/HostPodiumState/HostPodiumState.test.tsx
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerInput/AnswerInput.test.tsx
  packages/quiz/src/utils/useEventSource.tsx
  yarn.lock
Due: common, quiz

chore(quiz-service): upgrade to mongoose 9 and align repository typings
  .github/dependabot.yml
  packages/quiz-service/package.json
  packages/quiz-service/src/app/shared/repository/base-repository.interface.ts
  packages/quiz-service/src/app/shared/repository/base.repository.spec.ts
  packages/quiz-service/src/app/shared/repository/base.repository.ts
  packages/quiz-service/src/app/shared/repository/index.ts
  packages/quiz-service/src/app/shared/repository/types.ts
  packages/quiz-service/src/modules/game-core/repositories/game.repository.ts
  packages/quiz-service/src/modules/quiz/repositories/quiz.repository.ts
  packages/quiz-service/src/modules/quiz/services/quiz.service.ts
  yarn.lock
Due: quiz-service

chore(quiz-creator): remove debug logging from PinQuestionField
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/PinQuestionField/PinQuestionField.tsx
Due: quiz

refactor(quiz-ui): move game footers to state-level common components
  packages/quiz/src/components/index.ts
  packages/quiz/src/states/HostLeaderboardState/HostLeaderboardState.tsx
  packages/quiz/src/states/HostQuestionPreviewState/HostQuestionPreviewState.tsx
  packages/quiz/src/states/HostQuestionState/HostQuestionState.tsx
  packages/quiz/src/states/HostResultState/HostResultState.tsx
  packages/quiz/src/states/PlayerQuestionPreviewState/PlayerQuestionPreviewState.tsx
  packages/quiz/src/states/PlayerQuestionState/PlayerQuestionState.tsx
  packages/quiz/src/states/PlayerResultState/PlayerResultState.tsx
  packages/quiz/src/states/common/HostGameFooter/HostGameFooter.module.scss
  packages/quiz/src/states/common/HostGameFooter/HostGameFooter.stories.tsx
  packages/quiz/src/states/common/HostGameFooter/HostGameFooter.test.tsx
  packages/quiz/src/states/common/HostGameFooter/HostGameFooter.tsx
  packages/quiz/src/states/common/HostGameFooter/__snapshots__/HostGameFooter.test.tsx.snap
  packages/quiz/src/states/common/HostGameFooter/index.ts
  packages/quiz/src/states/common/PlayerGameFooter/PlayerGameFooter.module.scss
  packages/quiz/src/states/common/PlayerGameFooter/PlayerGameFooter.stories.tsx
  packages/quiz/src/states/common/PlayerGameFooter/PlayerGameFooter.test.tsx
  packages/quiz/src/states/common/PlayerGameFooter/PlayerGameFooter.tsx
  packages/quiz/src/states/common/PlayerGameFooter/__snapshots__/PlayerGameFooter.test.tsx.snap
  packages/quiz/src/states/common/PlayerGameFooter/index.ts
  packages/quiz/src/states/common/index.ts
Due: quiz

feat(quiz): add configurable Menu positioning and host settings dropdown
  packages/quiz/src/components/Menu/Menu.module.scss
  packages/quiz/src/components/Menu/Menu.test.tsx
  packages/quiz/src/components/Menu/Menu.tsx
  packages/quiz/src/states/HostGameBeginState/__snapshots__/HostGameBeginState.test.tsx.snap
  packages/quiz/src/states/HostLeaderboardState/__snapshots__/HostLeaderboardState.test.tsx.snap
  packages/quiz/src/states/HostLobbyState/__snapshots__/HostLobbyState.test.tsx.snap
  packages/quiz/src/states/HostPodiumState/__snapshots__/HostPodiumState.test.tsx.snap
  packages/quiz/src/states/HostQuestionPreviewState/__snapshots__/HostQuestionPreviewState.test.tsx.snap
  packages/quiz/src/states/HostQuestionState/__snapshots__/HostQuestionState.test.tsx.snap
  packages/quiz/src/states/HostResultState/__snapshots__/HostResultState.test.tsx.snap
  packages/quiz/src/states/PlayerGameBeginState/__snapshots__/PlayerGameBeginState.test.tsx.snap
  packages/quiz/src/states/PlayerLobbyState/__snapshots__/PlayerLobbyState.test.tsx.snap
  packages/quiz/src/states/PlayerQuestionPreviewState/__snapshots__/PlayerQuestionPreviewState.test.tsx.snap
  packages/quiz/src/states/PlayerQuestionState/__snapshots__/PlayerQuestionState.test.tsx.snap
  packages/quiz/src/states/PlayerResultState/__snapshots__/PlayerResultState.test.tsx.snap
  packages/quiz/src/states/common/GamePage/GamePage.test.tsx
  packages/quiz/src/states/common/GamePage/GamePage.tsx
  packages/quiz/src/states/common/GamePage/__snapshots__/GamePage.test.tsx.snap
  packages/quiz/src/states/common/HostGameFooter/HostGameFooter.module.scss
  packages/quiz/src/states/common/HostGameFooter/HostGameFooter.test.tsx
  packages/quiz/src/states/common/HostGameFooter/HostGameFooter.tsx
  packages/quiz/src/states/common/HostGameFooter/__snapshots__/HostGameFooter.test.tsx.snap
Due: quiz

feat(game): add support for terminating an active game via quit endpoint
  packages/common/src/models/game-status.enum.ts
  packages/quiz-service/src/modules/game-api/controllers/game.controller.e2e-spec.ts
  packages/quiz-service/src/modules/game-api/controllers/game.controller.ts
  packages/quiz-service/src/modules/game-api/services/game.service.ts
Due: common, quiz-service

feat(quiz): add quit game action to host footer
  packages/quiz/src/api/use-quiz-service-client.tsx
  packages/quiz/src/components/Menu/Menu.module.scss
  packages/quiz/src/context/game/GameContextProvider.tsx
  packages/quiz/src/context/game/game-context.tsx
  packages/quiz/src/states/common/HostGameFooter/HostGameFooter.test.tsx
  packages/quiz/src/states/common/HostGameFooter/HostGameFooter.tsx
Due: quiz

feat(game-api): add endpoint to retrieve game player participants
  packages/common/src/models/game-participant.dto.ts
  packages/quiz-service/src/modules/game-api/controllers/game.controller.e2e-spec.ts
  packages/quiz-service/src/modules/game-api/controllers/game.controller.ts
  packages/quiz-service/src/modules/game-api/controllers/models/response/game-participant-player.response.ts
  packages/quiz-service/src/modules/game-api/services/game.service.ts
Due: common, quiz-service

feat(quiz): add player management modal and getPlayers API
  packages/common/src/models/index.ts
  packages/quiz/.storybook/mockGameContext.tsx
  packages/quiz/src/api/use-quiz-service-client.tsx
  packages/quiz/src/components/NicknameChip/NicknameChip.module.scss
  packages/quiz/src/components/NicknameChip/NicknameChip.test.tsx
  packages/quiz/src/components/NicknameChip/NicknameChip.tsx
  packages/quiz/src/components/NicknameChip/__snapshots__/NicknameChip.test.tsx.snap
  packages/quiz/src/components/NicknameChip/index.ts
  packages/quiz/src/components/Podium/__snapshots__/Podium.test.tsx.snap
  packages/quiz/src/components/index.ts
  packages/quiz/src/context/game/GameContextProvider.tsx
  packages/quiz/src/context/game/game-context.tsx
  packages/quiz/src/states/HostGameBeginState/HostGameBeginState.stories.tsx
  packages/quiz/src/states/HostLeaderboardState/HostLeaderboardState.stories.tsx
  packages/quiz/src/states/HostLobbyState/HostLobbyState.stories.tsx
  packages/quiz/src/states/HostLobbyState/__snapshots__/HostLobbyState.test.tsx.snap
  packages/quiz/src/states/HostPodiumState/HostPodiumState.stories.tsx
  packages/quiz/src/states/HostPodiumState/__snapshots__/HostPodiumState.test.tsx.snap
  packages/quiz/src/states/HostQuestionPreviewState/HostQuestionPreviewState.stories.tsx
  packages/quiz/src/states/HostQuestionState/HostQuestionState.stories.tsx
  packages/quiz/src/states/HostResultState/HostResultState.stories.tsx
  packages/quiz/src/states/PlayerGameBeginState/__snapshots__/PlayerGameBeginState.test.tsx.snap
  packages/quiz/src/states/PlayerLobbyState/__snapshots__/PlayerLobbyState.test.tsx.snap
  packages/quiz/src/states/common/HostGameFooter/HostGameFooter.test.tsx
  packages/quiz/src/states/common/HostGameFooter/HostGameFooter.tsx
  packages/quiz/src/states/common/HostGameFooter/__snapshots__/HostGameFooter.test.tsx.snap
  packages/quiz/src/states/common/HostGameFooter/components/PlayerManagementModal/PlayerManagementModal.module.scss
  packages/quiz/src/states/common/HostGameFooter/components/PlayerManagementModal/PlayerManagementModal.test.tsx
  packages/quiz/src/states/common/HostGameFooter/components/PlayerManagementModal/PlayerManagementModal.tsx
  packages/quiz/src/states/common/HostGameFooter/components/PlayerManagementModal/__snapshots__/PlayerManagementModal.test.tsx.snap
  packages/quiz/src/states/common/HostGameFooter/components/PlayerManagementModal/index.ts
  packages/quiz/src/states/common/HostGameFooter/components/index.ts
  packages/quiz/src/styles/colors.scss
Due: common, quiz

fix(game-context): prevent host token revocation when removing players
  packages/quiz/src/context/game/GameContextProvider.tsx
Due: quiz

feat(home): add resume game CTA and cover with tests
  packages/quiz/src/pages/GamePage/GamePage.tsx
  packages/quiz/src/pages/HomePage/HomePage.module.scss
  packages/quiz/src/pages/HomePage/HomePage.stories.tsx
  packages/quiz/src/pages/HomePage/HomePage.test.tsx
  packages/quiz/src/pages/HomePage/HomePage.tsx
  packages/quiz/src/pages/HomePage/__snapshots__/HomePage.test.tsx.snap
  packages/quiz/src/styles/colors.scss
Due: quiz

feat(quiz): extract rotating lobby messages into reusable component
  packages/quiz/src/components/RotatingMessage/RotatingMessage.module.scss
  packages/quiz/src/components/RotatingMessage/RotatingMessage.test.tsx
  packages/quiz/src/components/RotatingMessage/RotatingMessage.tsx
  packages/quiz/src/components/RotatingMessage/__snapshots__/RotatingMessage.test.tsx.snap
  packages/quiz/src/components/RotatingMessage/index.ts
  packages/quiz/src/components/RotatingMessage/useRotatingMessage.test.ts
  packages/quiz/src/components/RotatingMessage/useRotatingMessage.ts
  packages/quiz/src/components/index.ts
  packages/quiz/src/states/PlayerLobbyState/PlayerLobbyState.test.tsx
  packages/quiz/src/states/PlayerLobbyState/PlayerLobbyState.tsx
  packages/quiz/src/states/PlayerLobbyState/message.utils.test.ts
  packages/quiz/src/states/PlayerLobbyState/message.utils.ts
Due: quiz

feat(home): replace static tagline with rotating message and stabilize tests
  packages/quiz/src/pages/HomePage/HomePage.test.tsx
  packages/quiz/src/pages/HomePage/HomePage.tsx
  packages/quiz/src/pages/HomePage/__snapshots__/HomePage.test.tsx.snap
Due: quiz

feat(game-join): replace static copy with rotating messages and stabilize tests
  packages/quiz/src/pages/GameJoinPage/GameJoinPage.test.tsx
  packages/quiz/src/pages/GameJoinPage/GameJoinPage.tsx
  packages/quiz/src/pages/GameJoinPage/__snapshots__/GameJoinPage.test.tsx.snap
  packages/quiz/src/pages/GameJoinPage/text.utils.test.ts
  packages/quiz/src/pages/GameJoinPage/text.utils.ts
Due: quiz

feat(game-api): enforce maximum player limit when joining games
  packages/quiz-service/src/modules/game-api/controllers/game.controller.e2e-spec.ts
  packages/quiz-service/src/modules/game-api/controllers/game.controller.ts
  packages/quiz-service/src/modules/game-api/exceptions/game-full.exception.ts
  packages/quiz-service/src/modules/game-api/exceptions/index.ts
  packages/quiz-service/src/modules/game-api/services/game.service.ts
  packages/quiz-service/src/modules/game-api/services/utils/game.utils.ts
Due: quiz-service

refactor(common,quiz-service): split game history DTOs by participant role
  packages/common/src/models/game-history.dto.ts
  packages/quiz-service/src/modules/game-api/services/game.service.ts
  packages/quiz-service/src/modules/game-core/repositories/models/schemas/participant.schema.ts
  packages/quiz-service/src/modules/game-core/utils/game-participant.utils.ts
Due: common, quiz-service

chore(license): align package.json licenses with custom source-available terms
  package.json
  packages/common/package.json
  packages/quiz-service/package.json
  packages/quiz/package.json
  tools/mongodb-migrator/package.json
Due: common, quiz, quiz-service

feat(token): add scheduled cleanup for expired tokens
  packages/quiz-service/src/modules/token/repositories/models/schemas/token.schema.ts
  packages/quiz-service/src/modules/token/services/index.ts
  packages/quiz-service/src/modules/token/services/token-cleanup-scheduler.service.spec.ts
  packages/quiz-service/src/modules/token/services/token-cleanup-scheduler.service.ts
  packages/quiz-service/src/modules/token/token.module.ts
Due: quiz-service

chore(quiz-service): exclude scripts directory from build tsconfig
  packages/quiz-service/tsconfig.build.json
Due: quiz-service

chore(legal): introduce contributor license agreement and enforce CLA acceptance
  .github/pull_request_template.md
  CLA.md
  CONTRIBUTING.md
  README.md
Due: none

feat(page-prominent-icon): add float animation, hover scale, and unit tests
  packages/quiz/src/components/PageProminentIcon/PageProminentIcon.module.scss
  packages/quiz/src/components/PageProminentIcon/PageProminentIcon.test.tsx
  packages/quiz/src/components/PageProminentIcon/PageProminentIcon.tsx
  packages/quiz/src/components/PageProminentIcon/__snapshots__/PageProminentIcon.test.tsx.snap
  packages/quiz/src/pages/GameJoinPage/__snapshots__/GameJoinPage.test.tsx.snap
  packages/quiz/src/pages/HomePage/__snapshots__/HomePage.test.tsx.snap
  packages/quiz/src/states/HostGameBeginState/__snapshots__/HostGameBeginState.test.tsx.snap
  packages/quiz/src/states/PlayerGameBeginState/__snapshots__/PlayerGameBeginState.test.tsx.snap
  packages/quiz/src/states/PlayerLobbyState/__snapshots__/PlayerLobbyState.test.tsx.snap
Due: quiz

feat(auth): harden token refresh semantics and authentication state
  packages/quiz/src/context/auth/AuthContextProvider.test.tsx
  packages/quiz/src/context/auth/AuthContextProvider.tsx
  packages/quiz/src/context/auth/__snapshots__/AuthContextProvider.test.tsx.snap
Due: quiz
