Repository emilhornlund/quiz: changes, and which Codecov flags are due for each by the changed paths.
All: common, quiz, quiz-service

docs(gameplay): introduce comprehensive gameplay UX & animation improvement plan
  packages/quiz/GAMEPLAY_IMPROVEMENT_PLAN.md
Due: quiz

feat(gameplay): add autofocus and improved keyboard handling for TypeAnswer input
  packages/quiz/src/components/TextField/TextField.tsx
  packages/quiz/src/states/PlayerQuestionState/__snapshots__/PlayerQuestionState.test.tsx.snap
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerInput/AnswerInput.autofocus.test.tsx
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerInput/AnswerInput.tsx
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerInput/__snapshots__/AnswerInput.test.tsx.snap
Due: quiz

docs(gameplay): enrich gameplay improvement plan
  packages/quiz/GAMEPLAY_IMPROVEMENT_PLAN.md
Due: quiz

feat(game-events): introduce player answer event model and unify answer handling
  packages/common/src/models/game-event.ts
  packages/quiz-service/src/game/services/utils/game-event.converter.ts
  packages/quiz-service/src/game/services/utils/question-answer.utils.ts
Due: common, quiz-service

feat(gameplay): Enhance answer interaction feedback and unify submitted-answer behavior
  packages/quiz/GAMEPLAY_IMPROVEMENT_PLAN.md
  packages/quiz/src/components/PinImage/PinImage.tsx
  packages/quiz/src/components/PinImage/pin-utils.test.ts
  packages/quiz/src/components/PinImage/pin-utils.ts
  packages/quiz/src/components/PinImage/types.ts
  packages/quiz/src/components/SortableTable/SortableTable.module.scss
  packages/quiz/src/components/SortableTable/SortableTable.tsx
  packages/quiz/src/states/HostQuestionState/__snapshots__/HostQuestionState.test.tsx.snap
  packages/quiz/src/states/PlayerQuestionState/PlayerQuestionState.tsx
  packages/quiz/src/states/PlayerQuestionState/__snapshots__/PlayerQuestionState.test.tsx.snap
  packages/quiz/src/states/common/QuestionAnswerPicker/QuestionAnswerPick.test.tsx
  packages/quiz/src/states/common/QuestionAnswerPicker/QuestionAnswerPicker.tsx
  packages/quiz/src/states/common/QuestionAnswerPicker/__snapshots__/QuestionAnswerPick.test.tsx.snap
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerInput/AnswerInput.autofocus.test.tsx
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerInput/AnswerInput.stories.tsx
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerInput/AnswerInput.test.tsx
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerInput/AnswerInput.tsx
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerInput/__snapshots__/AnswerInput.test.tsx.snap
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerPicker/AnswerPicker.module.scss
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerPicker/AnswerPicker.stories.tsx
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerPicker/AnswerPicker.test.tsx
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerPicker/AnswerPicker.tsx
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerPicker/__snapshots__/AnswerPicker.test.tsx.snap
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerPin/AnswerPin.stories.tsx
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerPin/AnswerPin.test.tsx
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerPin/AnswerPin.tsx
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerRange/AnswerRange.module.scss
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerRange/AnswerRange.stories.tsx
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerRange/AnswerRange.test.tsx
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerRange/AnswerRange.tsx
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerSort/AnswerSort.stories.tsx
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerSort/AnswerSort.test.tsx
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerSort/AnswerSort.tsx
Due: quiz

refactor(gameplay): Remove unused awaiting-result player state
  packages/common/src/models/game-event-type.enum.ts
  packages/common/src/models/game-event.ts
  packages/quiz/src/pages/GamePage/GamePage.tsx
  packages/quiz/src/states/PlayerAwaitingResultState/PlayerAwaitingResultState.stories.tsx
  packages/quiz/src/states/PlayerAwaitingResultState/PlayerAwaitingResultState.test.tsx
  packages/quiz/src/states/PlayerAwaitingResultState/PlayerAwaitingResultState.tsx
  packages/quiz/src/states/PlayerAwaitingResultState/__snapshots__/PlayerAwaitingResultState.test.tsx.snap
  packages/quiz/src/states/PlayerAwaitingResultState/index.ts
  packages/quiz/src/states/index.ts
Due: common, quiz

feat(gameplay): Add dynamic progress bar colors and urgency feedback
  packages/quiz/GAMEPLAY_IMPROVEMENT_PLAN.md
  packages/quiz/src/components/ProgressBar/ProgressBar.module.scss
  packages/quiz/src/components/ProgressBar/ProgressBar.test.tsx
  packages/quiz/src/components/ProgressBar/ProgressBar.tsx
  packages/quiz/src/components/ProgressBar/__snapshots__/ProgressBar.test.tsx.snap
  packages/quiz/src/states/HostQuestionPreviewState/__snapshots__/HostQuestionPreviewState.test.tsx.snap
  packages/quiz/src/states/HostQuestionState/__snapshots__/HostQuestionState.test.tsx.snap
  packages/quiz/src/states/PlayerQuestionPreviewState/__snapshots__/PlayerQuestionPreviewState.test.tsx.snap
  packages/quiz/src/states/PlayerQuestionState/__snapshots__/PlayerQuestionState.test.tsx.snap
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerInput/__snapshots__/AnswerInput.test.tsx.snap
Due: quiz

feat(gameplay): complete celebratory animations and confetti system
  packages/quiz/GAMEPLAY_IMPROVEMENT_PLAN.md
  packages/quiz/src/components/Badge/Badge.module.scss
  packages/quiz/src/components/Badge/Badge.stories.tsx
  packages/quiz/src/components/Badge/Badge.test.tsx
  packages/quiz/src/components/Badge/Badge.tsx
  packages/quiz/src/components/Confetti/Confetti.module.scss
  packages/quiz/src/components/Confetti/Confetti.stories.tsx
  packages/quiz/src/components/Confetti/Confetti.test.tsx
  packages/quiz/src/components/Confetti/Confetti.tsx
  packages/quiz/src/components/Confetti/index.ts
  packages/quiz/src/components/index.ts
  packages/quiz/src/states/PlayerResultState/PlayerResultState.test.tsx
  packages/quiz/src/states/PlayerResultState/PlayerResultState.tsx
  packages/quiz/src/states/PlayerResultState/__snapshots__/PlayerResultState.test.tsx.snap
  packages/quiz/src/styles/variables.scss
Due: quiz

feat(devtools): add Serena and Context7 MCP configuration for OpenCode usage
  .serena/.gitignore
  .serena/project.yml
  opencode.json
Due: none

feat(gameplay): complete lobby state animations and dynamic message transitions
  packages/quiz/GAMEPLAY_IMPROVEMENT_PLAN.md
  packages/quiz/src/components/NicknameChip/NicknameChip.module.scss
  packages/quiz/src/components/NicknameChip/NicknameChip.test.tsx
  packages/quiz/src/components/NicknameChip/NicknameChip.tsx
  packages/quiz/src/components/NicknameChip/__snapshots__/NicknameChip.test.tsx.snap
  packages/quiz/src/components/Podium/__snapshots__/Podium.test.tsx.snap
  packages/quiz/src/states/HostLobbyState/HostLobbyState.module.scss
  packages/quiz/src/states/HostLobbyState/HostLobbyState.stories.tsx
  packages/quiz/src/states/HostLobbyState/HostLobbyState.test.tsx
  packages/quiz/src/states/HostLobbyState/HostLobbyState.tsx
  packages/quiz/src/states/HostLobbyState/__snapshots__/HostLobbyState.test.tsx.snap
  packages/quiz/src/states/HostPodiumState/__snapshots__/HostPodiumState.test.tsx.snap
  packages/quiz/src/states/PlayerGameBeginState/__snapshots__/PlayerGameBeginState.test.tsx.snap
  packages/quiz/src/states/PlayerLobbyState/PlayerLobbyState.module.scss
  packages/quiz/src/states/PlayerLobbyState/PlayerLobbyState.test.tsx
  packages/quiz/src/states/PlayerLobbyState/PlayerLobbyState.tsx
  packages/quiz/src/states/PlayerLobbyState/__snapshots__/PlayerLobbyState.test.tsx.snap
  packages/quiz/src/states/PlayerLobbyState/message.utils.test.ts
  packages/quiz/src/states/PlayerLobbyState/message.utils.ts
  packages/quiz/src/states/PlayerPodiumState/__snapshots__/PlayerPodiumState.test.tsx.snap
  packages/quiz/src/styles/animations.scss
  packages/quiz/src/styles/colors.scss
  packages/quiz/src/styles/transitions.scss
Due: quiz

feat(gameplay): document leaderboard & podium enhancements and add rank change hook
  packages/common/src/models/game-event.ts
  packages/quiz/LEADERBOARD_PODIUM_ENHANCEMENTS_PLAN.md
Due: common, quiz

feat(gameplay): enhance leaderboard, podium, and badge visuals with rank-change support
  packages/quiz/LEADERBOARD_PODIUM_ENHANCEMENTS_PLAN.md
  packages/quiz/src/components/Badge/Badge.module.scss
  packages/quiz/src/components/Badge/Badge.test.tsx
  packages/quiz/src/components/Badge/Badge.tsx
  packages/quiz/src/components/Badge/badge-utils.ts
  packages/quiz/src/components/Badge/index.ts
  packages/quiz/src/components/Leaderboard/Leaderboard.module.scss
  packages/quiz/src/components/Leaderboard/Leaderboard.stories.tsx
  packages/quiz/src/components/Leaderboard/Leaderboard.test.tsx
  packages/quiz/src/components/Leaderboard/Leaderboard.tsx
  packages/quiz/src/components/Leaderboard/__snapshots__/Leaderboard.test.tsx.snap
  packages/quiz/src/components/StreakBadge/StreakBadge.tsx
  packages/quiz/src/components/StreakBadge/__snapshots__/StreakBadge.test.tsx.snap
  packages/quiz/src/components/index.ts
  packages/quiz/src/pages/AuthPasswordResetPage/__snapshots__/AuthPasswordResetPage.test.tsx.snap
  packages/quiz/src/pages/AuthPasswordResetPage/components/AuthPasswordResetPageUI/__snapshots__/AuthPasswordResetPageUI.test.tsx.snap
  packages/quiz/src/pages/AuthVerifyPage/__snapshots__/AuthVerifyPage.test.tsx.snap
  packages/quiz/src/pages/AuthVerifyPage/components/AuthVerifyPageUI/__snapshots__/AuthVerifyPageUI.test.tsx.snap
  packages/quiz/src/pages/ProfileGamesPage/ProfileGamesPageUI/__snapshots__/ProfileGamesPageUI.test.tsx.snap
  packages/quiz/src/pages/ProfileGamesPage/ProfileGamesPageUI/components/GameTable/GameTable.tsx
  packages/quiz/src/states/HostLeaderboardState/HostLeaderboardState.stories.tsx
  packages/quiz/src/states/HostLeaderboardState/__snapshots__/HostLeaderboardState.test.tsx.snap
  packages/quiz/src/states/HostPodiumState/__snapshots__/HostPodiumState.test.tsx.snap
  packages/quiz/src/states/PlayerLeaderboardState/PlayerLeaderboardState.tsx
  packages/quiz/src/states/PlayerPodiumState/PlayerPodiumState.tsx
  packages/quiz/src/states/PlayerPodiumState/__snapshots__/PlayerPodiumState.test.tsx.snap
  packages/quiz/src/states/PlayerResultState/__snapshots__/PlayerResultState.test.tsx.snap
  packages/quiz/src/styles/colors.module.scss
  packages/quiz/src/styles/colors.scss
Due: quiz

feat(gameplay): add celebratory podium crown, sparkles and confetti
  packages/quiz/GAMEPLAY_IMPROVEMENT_PLAN.md
  packages/quiz/LEADERBOARD_PODIUM_ENHANCEMENTS_PLAN.md
  packages/quiz/src/components/Podium/Podium.module.scss
  packages/quiz/src/components/Podium/Podium.test.tsx
  packages/quiz/src/components/Podium/Podium.tsx
  packages/quiz/src/components/Podium/__snapshots__/Podium.test.tsx.snap
  packages/quiz/src/states/HostPodiumState/HostPodiumState.test.tsx
  packages/quiz/src/states/HostPodiumState/__snapshots__/HostPodiumState.test.tsx.snap
Due: quiz

feat(gameplay): add ranked leaderboard transitions
  .editorconfig
  packages/quiz-service/src/game/repositories/models/schemas/task.schema.ts
  packages/quiz-service/src/game/services/game-task-transition.service.ts
  packages/quiz-service/src/game/services/utils/game-event.converter.ts
  packages/quiz-service/src/game/services/utils/task.converter.ts
  packages/quiz-service/src/game/services/utils/tasks/index.ts
  packages/quiz-service/src/game/services/utils/tasks/task-leaderboard.utils.spec.ts
  packages/quiz-service/src/game/services/utils/tasks/task-leaderboard.utils.ts
  packages/quiz-service/src/game/services/utils/tasks/task-podium.utils.spec.ts
  packages/quiz-service/src/game/services/utils/tasks/task-podium.utils.ts
  packages/quiz-service/src/game/services/utils/tasks/task-sorting.utils.spec.ts
  packages/quiz-service/src/game/services/utils/tasks/task-sorting.utils.ts
  packages/quiz-service/test-utils/data/data.utils.ts
Due: quiz-service

feat(game-events): Refactor player result events and pagination
  packages/common/src/models/game-event-type.enum.ts
  packages/common/src/models/game-event.ts
  packages/quiz-service/src/game/exceptions/illegal-task-type.exception.ts
  packages/quiz-service/src/game/repositories/models/schemas/participant.schema.ts
  packages/quiz-service/src/game/repositories/models/schemas/task.schema.ts
  packages/quiz-service/src/game/services/utils/events/game-result-event.utils.spec.ts
  packages/quiz-service/src/game/services/utils/events/game-result-event.utils.ts
  packages/quiz-service/src/game/services/utils/events/index.ts
  packages/quiz-service/src/game/services/utils/events/pagination-event.utils.spec.ts
  packages/quiz-service/src/game/services/utils/events/pagination-event.utils.ts
  packages/quiz-service/src/game/services/utils/game-event.converter.ts
  packages/quiz-service/src/game/services/utils/tasks/index.ts
  packages/quiz-service/src/game/services/utils/tasks/task-question-result.utils.spec.ts
  packages/quiz-service/src/game/services/utils/tasks/task-question-result.utils.ts
Due: common, quiz-service

refactor(game-events): remove obsolete player leaderboard and podium flows
  packages/common/src/models/game-event-type.enum.ts
  packages/common/src/models/game-event.ts
  packages/quiz/src/pages/GamePage/GamePage.tsx
  packages/quiz/src/states/PlayerLeaderboardState/PlayerLeaderboardState.stories.tsx
  packages/quiz/src/states/PlayerLeaderboardState/PlayerLeaderboardState.test.tsx
  packages/quiz/src/states/PlayerLeaderboardState/PlayerLeaderboardState.tsx
  packages/quiz/src/states/PlayerLeaderboardState/index.tsx
  packages/quiz/src/states/PlayerPodiumState/PlayerPodiumState.module.scss
  packages/quiz/src/states/PlayerPodiumState/PlayerPodiumState.stories.tsx
  packages/quiz/src/states/PlayerPodiumState/PlayerPodiumState.test.tsx
  packages/quiz/src/states/PlayerPodiumState/PlayerPodiumState.tsx
  packages/quiz/src/states/PlayerPodiumState/__snapshots__/PlayerPodiumState.test.tsx.snap
  packages/quiz/src/states/PlayerPodiumState/index.ts
  packages/quiz/src/states/PlayerPodiumState/message.utils.test.ts
  packages/quiz/src/states/PlayerPodiumState/message.utils.ts
  packages/quiz/src/states/index.ts
Due: common, quiz

feat(events): add deep equality helper and dedupe SSE updates
  packages/common/src/utils/index.ts
  packages/common/src/utils/object.utils.spec.ts
  packages/common/src/utils/object.utils.ts
  packages/quiz/src/utils/useEventSource.test.tsx
  packages/quiz/src/utils/useEventSource.tsx
Due: common, quiz

feat(ui): center-align GameJoinPage content layout
  packages/quiz/src/pages/GameJoinPage/GameJoinPage.tsx
  packages/quiz/src/pages/GameJoinPage/__snapshots__/GameJoinPage.test.tsx.snap
Due: quiz

feat(preview): add extended question preview stories and improve text layout
  packages/quiz/src/states/HostQuestionPreviewState/HostQuestionPreviewState.stories.tsx
  packages/quiz/src/states/common/QuestionTextPreview/QuestionTextPreview.module.scss
Due: quiz

feat(progress-bar): add option to disable visual styling and update preview states
  packages/quiz/src/components/ProgressBar/ProgressBar.test.tsx
  packages/quiz/src/components/ProgressBar/ProgressBar.tsx
  packages/quiz/src/states/HostQuestionPreviewState/HostQuestionPreviewState.tsx
  packages/quiz/src/states/HostQuestionPreviewState/__snapshots__/HostQuestionPreviewState.test.tsx.snap
  packages/quiz/src/states/PlayerQuestionPreviewState/PlayerQuestionPreviewState.tsx
  packages/quiz/src/states/PlayerQuestionPreviewState/__snapshots__/PlayerQuestionPreviewState.test.tsx.snap
Due: quiz

feat(game-page): add delayed loading overlay to prevent flash and update tests
  packages/quiz/src/pages/GamePage/GamePage.module.scss
  packages/quiz/src/pages/GamePage/GamePage.test.tsx
  packages/quiz/src/pages/GamePage/GamePage.tsx
Due: quiz

feat(quiz-table): convert rows to buttons, improve styling, and add navigation handler
  packages/quiz/src/components/QuizTable/QuizTable.module.scss
  packages/quiz/src/components/QuizTable/QuizTable.tsx
  packages/quiz/src/components/QuizTable/__snapshots__/QuizTable.test.tsx.snap
  packages/quiz/src/pages/ProfileQuizzesPage/components/ProfileQuizzesPageUI/ProfileQuizzesPageUI.stories.tsx
  packages/quiz/src/pages/ProfileQuizzesPage/components/ProfileQuizzesPageUI/__snapshots__/ProfileQuizzesPageUI.test.tsx.snap
  packages/quiz/src/pages/QuizDiscoverPage/components/QuizDiscoverPageUI/__snapshots__/QuizDiscoverPageUI.test.tsx.snap
Due: quiz

feat(player-result): introduce animated correctness-to-position transition and refactor badge sizing
  packages/quiz/src/components/Badge/Badge.module.scss
  packages/quiz/src/states/PlayerResultState/PlayerResultState.module.scss
  packages/quiz/src/states/PlayerResultState/PlayerResultState.test.tsx
  packages/quiz/src/states/PlayerResultState/PlayerResultState.tsx
  packages/quiz/src/states/PlayerResultState/__snapshots__/PlayerResultState.test.tsx.snap
  packages/quiz/src/styles/variables.scss
Due: quiz

chore(opencode) Updated opencode.json to pass `--context ide` to Serena MCP startup.
  opencode.json
Due: none

feat(badge): add numeric centering logic, optical adjustments, and new tests
  packages/quiz/src/components/Badge/Badge.centering.test.tsx
  packages/quiz/src/components/Badge/Badge.module.scss
  packages/quiz/src/components/Badge/Badge.stories.tsx
  packages/quiz/src/components/Badge/Badge.tsx
  packages/quiz/src/components/Leaderboard/__snapshots__/Leaderboard.test.tsx.snap
  packages/quiz/src/components/StreakBadge/__snapshots__/StreakBadge.test.tsx.snap
  packages/quiz/src/pages/ProfileGamesPage/ProfileGamesPageUI/__snapshots__/ProfileGamesPageUI.test.tsx.snap
  packages/quiz/src/states/PlayerResultState/__snapshots__/PlayerResultState.test.tsx.snap
Due: quiz

refactor(tasks): relocate task.utils into dedicated tasks module
  packages/quiz-service/src/game/services/game.service.ts
  packages/quiz-service/src/game/services/utils/events/game-result-event.utils.ts
  packages/quiz-service/src/game/services/utils/game-event.converter.ts
  packages/quiz-service/src/game/services/utils/index.ts
  packages/quiz-service/src/game/services/utils/task.converter.ts
  packages/quiz-service/src/game/services/utils/tasks/index.ts
  packages/quiz-service/src/game/services/utils/tasks/task-leaderboard.utils.ts
  packages/quiz-service/src/game/services/utils/tasks/task-podium.utils.ts
  packages/quiz-service/src/game/services/utils/tasks/task-question-result.utils.ts
  packages/quiz-service/src/game/services/utils/tasks/task.utils.ts
Due: quiz-service

feat(tasks): extract lobby task builder and add typed utility with tests
  packages/quiz-service/src/game/controllers/game.controller.e2e-spec.ts
  packages/quiz-service/src/game/repositories/models/schemas/task.schema.ts
  packages/quiz-service/src/game/services/utils/game.converter.ts
  packages/quiz-service/src/game/services/utils/task.converter.ts
  packages/quiz-service/src/game/services/utils/tasks/index.ts
  packages/quiz-service/src/game/services/utils/tasks/task-lobby.utils.spec.ts
  packages/quiz-service/src/game/services/utils/tasks/task-lobby.utils.ts
  packages/quiz-service/test-utils/data/data.utils.ts
Due: quiz-service

feat(tasks): extract question task builder into dedicated utility with full metadata typing
  packages/quiz-service/src/game/repositories/models/schemas/task.schema.ts
  packages/quiz-service/src/game/services/game-task-transition.service.ts
  packages/quiz-service/src/game/services/utils/task.converter.ts
  packages/quiz-service/src/game/services/utils/tasks/index.ts
  packages/quiz-service/src/game/services/utils/tasks/task-question.utils.spec.ts
  packages/quiz-service/src/game/services/utils/tasks/task-question.utils.ts
Due: quiz-service

feat(tasks): extract quit task builder into standalone utility with proper typing
  packages/quiz-service/src/game/repositories/game.repository.ts
  packages/quiz-service/src/game/repositories/models/schemas/task.schema.ts
  packages/quiz-service/src/game/services/game-task-transition.service.ts
  packages/quiz-service/src/game/services/utils/task.converter.ts
  packages/quiz-service/src/game/services/utils/tasks/index.ts
  packages/quiz-service/src/game/services/utils/tasks/task-quit.utils.spec.ts
  packages/quiz-service/src/game/services/utils/tasks/task-quit.utils.ts
Due: quiz-service

feat(tasks): move question result task builder into task utils and add isDefined type guard
  packages/common/src/utils/index.ts
  packages/common/src/utils/type-guards.utils.spec.ts
  packages/common/src/utils/type-guards.utils.ts
  packages/quiz-service/src/game/repositories/models/schemas/task.schema.ts
  packages/quiz-service/src/game/services/game-task-transition.service.ts
  packages/quiz-service/src/game/services/game.service.ts
  packages/quiz-service/src/game/services/utils/index.ts
  packages/quiz-service/src/game/services/utils/task.converter.spec.ts
  packages/quiz-service/src/game/services/utils/task.converter.ts
  packages/quiz-service/src/game/services/utils/tasks/task-question-result.utils.spec.ts
  packages/quiz-service/src/game/services/utils/tasks/task-question-result.utils.ts
  packages/quiz-service/test-utils/data/data.utils.ts
  packages/quiz-service/test-utils/data/helpers.utils.ts
Due: common, quiz-service

refactor(events): split game event converter into focused event builders
  packages/quiz-service/src/game/services/game.service.ts
  packages/quiz-service/src/game/services/utils/events/distribution.utils.ts
  packages/quiz-service/src/game/services/utils/events/game-event-metadata.interface.ts
  packages/quiz-service/src/game/services/utils/events/game-event.utils.spec.ts
  packages/quiz-service/src/game/services/utils/events/game-event.utils.ts
  packages/quiz-service/src/game/services/utils/events/game-leaderboard-event.utils.spec.ts
  packages/quiz-service/src/game/services/utils/events/game-leaderboard-event.utils.ts
  packages/quiz-service/src/game/services/utils/events/game-loading-event.utils.spec.ts
  packages/quiz-service/src/game/services/utils/events/game-loading-event.utils.ts
  packages/quiz-service/src/game/services/utils/events/game-lobby-event.utils.spec.ts
  packages/quiz-service/src/game/services/utils/events/game-lobby-event.utils.ts
  packages/quiz-service/src/game/services/utils/events/game-podium-event.utils.spec.ts
  packages/quiz-service/src/game/services/utils/events/game-podium-event.utils.ts
  packages/quiz-service/src/game/services/utils/events/game-question-event.utils.spec.ts
  packages/quiz-service/src/game/services/utils/events/game-question-event.utils.ts
  packages/quiz-service/src/game/services/utils/events/game-quit-event.utils.spec.ts
  packages/quiz-service/src/game/services/utils/events/game-quit-event.utils.ts
  packages/quiz-service/src/game/services/utils/events/game-result-event.utils.spec.ts
  packages/quiz-service/src/game/services/utils/events/game-result-event.utils.ts
  packages/quiz-service/src/game/services/utils/events/index.ts
  packages/quiz-service/src/game/services/utils/events/leaderboard.utils.ts
  packages/quiz-service/src/game/services/utils/events/pagination-event.utils.ts
  packages/quiz-service/src/game/services/utils/events/validation.utils.ts
  packages/quiz-service/src/game/services/utils/game-event.converter.spec.ts
  packages/quiz-service/src/game/services/utils/game-event.converter.ts
  packages/quiz-service/src/game/services/utils/index.ts
  packages/quiz-service/src/game/services/utils/question-answer.utils.ts
  packages/quiz-service/src/quiz/repositories/models/schemas/question.schema.ts
Due: quiz-service

chore(lint): relax no-explicit-any for spec files and clean up test suppressions
  packages/quiz-service/eslint.config.mjs
  packages/quiz-service/src/app/cache/decorators/cacheable.decorator.spec.ts
  packages/quiz-service/src/auth/guards/auth.guard.spec.ts
  packages/quiz-service/src/auth/services/auth.service.spec.ts
  packages/quiz-service/src/game/controllers/models/requests/join-game.request.spec.ts
  packages/quiz-service/src/game/pipes/parse-game-pin.pipe.spec.ts
  packages/quiz-service/src/game/services/game-event.publisher.spec.ts
  packages/quiz-service/src/game/services/game-event.subscriber.spec.ts
  packages/quiz-service/src/game/services/utils/scoring/classic/classic-pin-strategy.spec.ts
  packages/quiz-service/src/game/services/utils/scoring/classic/classic-puzzle-strategy.spec.ts
  packages/quiz-service/src/migration/services/migration.service.spec.ts
Due: quiz-service

refactor(events): split game event converter into focused event builders
  packages/quiz-service/src/game/services/game.service.ts
  packages/quiz-service/src/game/services/utils/events/distribution.utils.spec.ts
  packages/quiz-service/src/game/services/utils/events/distribution.utils.ts
  packages/quiz-service/src/game/services/utils/events/game-event-metadata.interface.ts
  packages/quiz-service/src/game/services/utils/events/game-event.utils.spec.ts
  packages/quiz-service/src/game/services/utils/events/game-event.utils.ts
  packages/quiz-service/src/game/services/utils/events/game-leaderboard-event.utils.spec.ts
  packages/quiz-service/src/game/services/utils/events/game-leaderboard-event.utils.ts
  packages/quiz-service/src/game/services/utils/events/game-loading-event.utils.spec.ts
  packages/quiz-service/src/game/services/utils/events/game-loading-event.utils.ts
  packages/quiz-service/src/game/services/utils/events/game-lobby-event.utils.spec.ts
  packages/quiz-service/src/game/services/utils/events/game-lobby-event.utils.ts
  packages/quiz-service/src/game/services/utils/events/game-podium-event.utils.spec.ts
  packages/quiz-service/src/game/services/utils/events/game-podium-event.utils.ts
  packages/quiz-service/src/game/services/utils/events/game-question-event.utils.spec.ts
  packages/quiz-service/src/game/services/utils/events/game-question-event.utils.ts
  packages/quiz-service/src/game/services/utils/events/game-quit-event.utils.spec.ts
  packages/quiz-service/src/game/services/utils/events/game-quit-event.utils.ts
  packages/quiz-service/src/game/services/utils/events/game-result-event.utils.spec.ts
  packages/quiz-service/src/game/services/utils/events/game-result-event.utils.ts
  packages/quiz-service/src/game/services/utils/events/index.ts
  packages/quiz-service/src/game/services/utils/events/leaderboard.utils.spec.ts
  packages/quiz-service/src/game/services/utils/events/leaderboard.utils.ts
  packages/quiz-service/src/game/services/utils/events/pagination-event.utils.ts
  packages/quiz-service/src/game/services/utils/events/validation.utils.spec.ts
  packages/quiz-service/src/game/services/utils/events/validation.utils.ts
  packages/quiz-service/src/game/services/utils/game-event.converter.spec.ts
  packages/quiz-service/src/game/services/utils/game-event.converter.ts
  packages/quiz-service/src/game/services/utils/index.ts
  packages/quiz-service/src/game/services/utils/question-answer.utils.ts
  packages/quiz-service/src/quiz/repositories/models/schemas/question.schema.ts
Due: quiz-service

chore(quiz-service): add architecture refactoring plan
  packages/quiz-service/ARCHITECTURE_REFACTORING_PLAN.md
Due: quiz-service

chore(architecture): establish refactor safeguards and baseline checks
  packages/quiz-service/ARCHITECTURE_REFACTORING_PLAN.md
  packages/quiz-service/scripts/check_circular_deps.sh
  packages/quiz-service/src/test/architecture.spec.ts
  yarn.lock
Due: quiz-service

docs(agents): expand AGENTS.md with workspace-wide guidelines
  AGENTS.md
Due: none

refactor(quiz-service): move health module to modules/health
  packages/quiz-service/ARCHITECTURE_REFACTORING_PLAN.md
  packages/quiz-service/src/app/app.module.ts
  packages/quiz-service/src/health/health.module.ts
  packages/quiz-service/src/health/index.ts
  packages/quiz-service/src/modules/health/controllers/health.controller.ts
  packages/quiz-service/src/modules/health/controllers/index.ts
  packages/quiz-service/src/modules/health/health.module.ts
  packages/quiz-service/src/modules/health/indicators/index.ts
  packages/quiz-service/src/modules/health/indicators/redis-health.indicator.ts
Due: quiz-service

chore(quiz-service): scaffold target module structure
  packages/quiz-service/ARCHITECTURE_REFACTORING_PLAN.md
  packages/quiz-service/src/modules/authentication/authentication.module.ts
  packages/quiz-service/src/modules/authentication/index.ts
  packages/quiz-service/src/modules/domain-events/domain-events.module.ts
  packages/quiz-service/src/modules/domain-events/index.ts
  packages/quiz-service/src/modules/email/email.module.ts
  packages/quiz-service/src/modules/email/index.ts
  packages/quiz-service/src/modules/game-core/game-core.module.ts
  packages/quiz-service/src/modules/game-core/index.ts
  packages/quiz-service/src/modules/game-events/game-events.module.ts
  packages/quiz-service/src/modules/game-events/index.ts
  packages/quiz-service/src/modules/game-results/game-results.module.ts
  packages/quiz-service/src/modules/game-results/index.ts
  packages/quiz-service/src/modules/game-scoring/game-scoring.module.ts
  packages/quiz-service/src/modules/game-scoring/index.ts
  packages/quiz-service/src/modules/game-tasks/game-tasks.module.ts
  packages/quiz-service/src/modules/game-tasks/index.ts
  packages/quiz-service/src/modules/health/health.module.ts
  packages/quiz-service/src/modules/health/index.ts
  packages/quiz-service/src/modules/media/index.ts
  packages/quiz-service/src/modules/media/media.module.ts
  packages/quiz-service/src/modules/migration/index.ts
  packages/quiz-service/src/modules/migration/migration.module.ts
  packages/quiz-service/src/modules/quiz/index.ts
  packages/quiz-service/src/modules/quiz/quiz.module.ts
  packages/quiz-service/src/modules/shared/index.ts
  packages/quiz-service/src/modules/shared/shared.module.ts
  packages/quiz-service/src/modules/user/index.ts
  packages/quiz-service/src/modules/user/user.module.ts
Due: quiz-service

test(quiz-service): add unit tests for EmailService
  packages/quiz-service/src/modules/email/services/email.service.spec.ts
Due: quiz-service

refactor(quiz-service): move email module to modules/email
  packages/quiz-service/ARCHITECTURE_REFACTORING_PLAN.md
  packages/quiz-service/src/email/email.module.ts
  packages/quiz-service/src/email/index.ts
  packages/quiz-service/src/modules/email/email.module.ts
  packages/quiz-service/src/modules/email/services/email.service.ts
  packages/quiz-service/src/modules/email/services/index.ts
  packages/quiz-service/src/user/services/user.service.ts
  packages/quiz-service/src/user/user.module.ts
Due: quiz-service

Path conditions:
  common: any of: packages/common/**
  quiz: any of: packages/quiz/**
  quiz-service: any of: packages/quiz-service/**
