Repository emilhornlund/quiz: changes, and which Codecov flags are due for each by the changed paths.
All: quiz, quiz-service

refactor(local-storage): replace custom hook with usehooks-ts implementation
  packages/quiz/package.json
  packages/quiz/src/api/use-quiz-service-client.tsx
  packages/quiz/src/components/LegacyInfoCard/LegacyInfoCard.tsx
  packages/quiz/src/context/migration/MigrationContextProvider.tsx
  packages/quiz/src/utils/use-local-storage.tsx
  yarn.lock
Due: quiz

refactor(local-storage): replace custom hook with usehooks-ts implementation (#135)
  packages/quiz/package.json
  packages/quiz/src/api/use-quiz-service-client.tsx
  packages/quiz/src/components/LegacyInfoCard/LegacyInfoCard.tsx
  packages/quiz/src/context/migration/MigrationContextProvider.tsx
  packages/quiz/src/utils/use-local-storage.tsx
  yarn.lock
Due: quiz

feat(migration): remove migrationToken from URL after retrieval
  packages/quiz/src/context/migration/MigrationContextProvider.tsx
Due: quiz

feat(migration): remove migrationToken from URL after retrieval (#136)
  packages/quiz/src/context/migration/MigrationContextProvider.tsx
Due: quiz

feat(auth): automatically log in users after successful registration
  packages/quiz/src/pages/AuthRegisterPage/AuthRegisterPage.tsx
Due: quiz

feat(auth): automatically log in users after successful registration (#137)
  packages/quiz/src/pages/AuthRegisterPage/AuthRegisterPage.tsx
Due: quiz

fix(auth): prevent authentication state flicker on page load
  packages/quiz/src/components/ProtectedRoute/ProtectedRoute.test.tsx
  packages/quiz/src/components/ProtectedRoute/ProtectedRoute.tsx
  packages/quiz/src/components/ProtectedRoute/__snapshots__/ProtectedRoute.test.tsx.snap
  packages/quiz/src/context/auth/AuthContextProvider.test.tsx
  packages/quiz/src/context/auth/AuthContextProvider.tsx
  packages/quiz/src/context/auth/__snapshots__/AuthContextProvider.test.tsx.snap
Due: quiz

fix(auth): prevent authentication state flicker on page load (#138)
  packages/quiz/src/components/ProtectedRoute/ProtectedRoute.test.tsx
  packages/quiz/src/components/ProtectedRoute/ProtectedRoute.tsx
  packages/quiz/src/components/ProtectedRoute/__snapshots__/ProtectedRoute.test.tsx.snap
  packages/quiz/src/context/auth/AuthContextProvider.test.tsx
  packages/quiz/src/context/auth/AuthContextProvider.tsx
  packages/quiz/src/context/auth/__snapshots__/AuthContextProvider.test.tsx.snap
Due: quiz

chore(readme): add centered banner image
  .github/screenshot.png
  README.md
Due: none

chore(readme): add centered banner image (#139)
  .github/screenshot.png
  README.md
Due: none

feat(migration): add user migration endpoint and DTO
  packages/common/src/models/index.ts
  packages/common/src/models/user-migration.dto.ts
  packages/common/src/utils/constants.ts
  packages/quiz-service/src/main.ts
  packages/quiz-service/src/migration/controllers/index.ts
  packages/quiz-service/src/migration/controllers/models/index.ts
  packages/quiz-service/src/migration/controllers/models/user-migration.request.ts
  packages/quiz-service/src/migration/controllers/user-migration.controller.e2e-spec.ts
  packages/quiz-service/src/migration/controllers/user-migration.controller.ts
  packages/quiz-service/src/migration/migration.module.ts
Due: quiz-service

feat(migration): add user migration endpoint and DTO (#140)
  packages/common/src/models/index.ts
  packages/common/src/models/user-migration.dto.ts
  packages/common/src/utils/constants.ts
  packages/quiz-service/src/main.ts
  packages/quiz-service/src/migration/controllers/index.ts
  packages/quiz-service/src/migration/controllers/models/index.ts
  packages/quiz-service/src/migration/controllers/models/user-migration.request.ts
  packages/quiz-service/src/migration/controllers/user-migration.controller.e2e-spec.ts
  packages/quiz-service/src/migration/controllers/user-migration.controller.ts
  packages/quiz-service/src/migration/migration.module.ts
Due: quiz-service

feat(migration): integrate user migration flow into client and context
  packages/quiz/src/api/use-quiz-service-client.tsx
  packages/quiz/src/context/migration/MigrationContextProvider.tsx
Due: quiz

feat(migration): integrate user migration flow into client and context (#141)
  packages/quiz/src/api/use-quiz-service-client.tsx
  packages/quiz/src/context/migration/MigrationContextProvider.tsx
Due: quiz

refactor(mongodb-migrator): replace hardcoded '$UNKNOWN' with constant placeholder
  tools/mongodb-migrator/src/transformers/game-results.transformers.ts
  tools/mongodb-migrator/src/utils/collection.utils.ts
  tools/mongodb-migrator/src/utils/constants.ts
Due: none

refactor(mongodb-migrator): replace hardcoded '$UNKNOWN' with constant placeholder (#143)
  tools/mongodb-migrator/src/transformers/game-results.transformers.ts
  tools/mongodb-migrator/src/utils/collection.utils.ts
  tools/mongodb-migrator/src/utils/constants.ts
Due: none

feat(user-context): add UserContext with profile sync and API override token
  packages/quiz/src/api/use-quiz-service-client.tsx
  packages/quiz/src/context/user/UserContext.tsx
  packages/quiz/src/context/user/UserContextProvider.test.tsx
  packages/quiz/src/context/user/UserContextProvider.tsx
  packages/quiz/src/context/user/index.ts
  packages/quiz/src/context/user/useUserContext.tsx
  packages/quiz/src/main.tsx
  packages/quiz/src/pages/ProfileUserPage/ProfileUserPage.tsx
Due: quiz

feat(auth): scope revoke and await profile sync after login
  packages/quiz/src/api/use-quiz-service-client.tsx
  packages/quiz/src/context/auth/AuthContextProvider.test.tsx
  packages/quiz/src/context/auth/AuthContextProvider.tsx
Due: quiz

feat(auth): scope revoke and await profile sync after login (#145)
  packages/quiz/src/api/use-quiz-service-client.tsx
  packages/quiz/src/context/auth/AuthContextProvider.test.tsx
  packages/quiz/src/context/auth/AuthContextProvider.tsx
Due: quiz

feat(game-join-page): prefill nickname from current user
  packages/quiz/src/pages/GameJoinPage/GameJoinPage.test.tsx
  packages/quiz/src/pages/GameJoinPage/GameJoinPage.tsx
  packages/quiz/src/pages/GameJoinPage/__snapshots__/GameJoinPage.test.tsx.snap
Due: quiz

feat(game-join-page): prefill nickname from current user (#146)
  packages/quiz/src/pages/GameJoinPage/GameJoinPage.test.tsx
  packages/quiz/src/pages/GameJoinPage/GameJoinPage.tsx
  packages/quiz/src/pages/GameJoinPage/__snapshots__/GameJoinPage.test.tsx.snap
Due: quiz

feat(auth): persist authentication state with useLocalStorage
  packages/quiz/src/context/auth/AuthContextProvider.test.tsx
  packages/quiz/src/context/auth/AuthContextProvider.tsx
  packages/quiz/src/utils/constants.ts
Due: quiz

feat(auth): persist authentication state with useLocalStorage (#147)
  packages/quiz/src/context/auth/AuthContextProvider.test.tsx
  packages/quiz/src/context/auth/AuthContextProvider.tsx
  packages/quiz/src/utils/constants.ts
Due: quiz

feat(migration): set computed migration token from client and player IDs
  packages/quiz/src/context/migration/MigrationContextProvider.tsx
Due: quiz

feat(migration): set computed migration token from client and player IDs (#148)
  packages/quiz/src/context/migration/MigrationContextProvider.tsx
Due: quiz

feat(migration): improve token handling and add detailed debug logging
  packages/quiz/src/context/migration/MigrationContextProvider.tsx
Due: quiz

feat(migration): improve token handling and add detailed debug logging (#149)
  packages/quiz/src/context/migration/MigrationContextProvider.tsx
Due: quiz

feat(migration): add logging and change missing token response to 204
  packages/quiz-service/src/migration/controllers/user-migration.controller.e2e-spec.ts
  packages/quiz-service/src/migration/controllers/user-migration.controller.ts
Due: quiz-service

feat(migration): add logging and change missing token response to 204 (#150)
  packages/quiz-service/src/migration/controllers/user-migration.controller.e2e-spec.ts
  packages/quiz-service/src/migration/controllers/user-migration.controller.ts
Due: quiz-service

feat(migration): streamline migration handling and remove redundant checks
  packages/quiz-service/src/auth/controllers/auth.controller.e2e-spec.ts
  packages/quiz-service/src/user/services/user.service.ts
  packages/quiz/src/api/use-quiz-service-client.tsx
  packages/quiz/src/context/migration/MigrationContextProvider.tsx
Due: quiz, quiz-service

feat(migration): streamline migration handling and remove redundant checks (#151)
  packages/quiz-service/src/auth/controllers/auth.controller.e2e-spec.ts
  packages/quiz-service/src/user/services/user.service.ts
  packages/quiz/src/api/use-quiz-service-client.tsx
  packages/quiz/src/context/migration/MigrationContextProvider.tsx
Due: quiz, quiz-service

feat(legacy-redirection): add dedicated page and routing for legacy host redirection
  packages/quiz/src/components/Page/Page.tsx
  packages/quiz/src/context/migration/MigrationContextProvider.test.tsx
  packages/quiz/src/context/migration/MigrationContextProvider.tsx
  packages/quiz/src/main.tsx
  packages/quiz/src/pages/LegacyRedirectionPage/LegacyRedirectionPage.stories.tsx
  packages/quiz/src/pages/LegacyRedirectionPage/LegacyRedirectionPage.test.tsx
  packages/quiz/src/pages/LegacyRedirectionPage/LegacyRedirectionPage.tsx
  packages/quiz/src/pages/LegacyRedirectionPage/__snapshots__/LegacyRedirectionPage.test.tsx.snap
  packages/quiz/src/pages/LegacyRedirectionPage/index.ts
  packages/quiz/src/pages/index.ts
  packages/quiz/src/utils/constants.ts
Due: quiz

feat(legacy-redirection): add dedicated page and routing for legacy host redirection (#152)
  packages/quiz/src/components/Page/Page.tsx
  packages/quiz/src/context/migration/MigrationContextProvider.test.tsx
  packages/quiz/src/context/migration/MigrationContextProvider.tsx
  packages/quiz/src/main.tsx
  packages/quiz/src/pages/LegacyRedirectionPage/LegacyRedirectionPage.stories.tsx
  packages/quiz/src/pages/LegacyRedirectionPage/LegacyRedirectionPage.test.tsx
  packages/quiz/src/pages/LegacyRedirectionPage/LegacyRedirectionPage.tsx
  packages/quiz/src/pages/LegacyRedirectionPage/__snapshots__/LegacyRedirectionPage.test.tsx.snap
  packages/quiz/src/pages/LegacyRedirectionPage/index.ts
  packages/quiz/src/pages/index.ts
  packages/quiz/src/utils/constants.ts
Due: quiz

fix(game-results): prevent metric values from breaking row layout
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.module.scss
Due: quiz

fix(game-results): prevent metric values from breaking row layout (#153)
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.module.scss
Due: quiz

fix(migration): default missing nicknames to "Unknown"
  tools/mongodb-migrator/src/utils/collection.utils.ts
Due: none

fix(migration): default missing nicknames to "Unknown" (#154)
  tools/mongodb-migrator/src/utils/collection.utils.ts
Due: none

feat(legacy-redirection): replace redirect link with button
  packages/quiz/src/components/Button/Button.tsx
  packages/quiz/src/pages/LegacyRedirectionPage/LegacyRedirectionPage.test.tsx
  packages/quiz/src/pages/LegacyRedirectionPage/LegacyRedirectionPage.tsx
  packages/quiz/src/pages/LegacyRedirectionPage/__snapshots__/LegacyRedirectionPage.test.tsx.snap
Due: quiz

feat(legacy-redirection): replace redirect link with button (#155)
  packages/quiz/src/components/Button/Button.tsx
  packages/quiz/src/pages/LegacyRedirectionPage/LegacyRedirectionPage.test.tsx
  packages/quiz/src/pages/LegacyRedirectionPage/LegacyRedirectionPage.tsx
  packages/quiz/src/pages/LegacyRedirectionPage/__snapshots__/LegacyRedirectionPage.test.tsx.snap
Due: quiz

feat(sentry): add full Sentry integration for frontend and backend
  .github/workflows/build.yml
  .github/workflows/docker-build-and-push.yml
  .github/workflows/main.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/sentry-release.yml
  packages/quiz-service/Dockerfile
  packages/quiz-service/package.json
  packages/quiz-service/src/app/app.module.ts
  packages/quiz-service/src/app/controllers/app.controller.ts
  packages/quiz-service/src/app/controllers/index.ts
  packages/quiz-service/src/app/filters/all-exceptions.filter.ts
  packages/quiz-service/src/instrument.ts
  packages/quiz-service/src/main.ts
  packages/quiz-service/tsconfig.json
  packages/quiz/Dockerfile
  packages/quiz/nginx.conf.template
  packages/quiz/package.json
  packages/quiz/src/config.ts
  packages/quiz/src/instrument.ts
  packages/quiz/src/main.tsx
  packages/quiz/vite.config.ts
  yarn.lock
Due: quiz, quiz-service

Path conditions:
  quiz: any of: packages/quiz/**
  quiz-service: any of: packages/quiz-service/**
