Repository emilhornlund/quiz: changes, and which Codecov flags are due for each by the changed paths.
All: common, klurigo-web, klurigo-service

feat(discovery): cut over /discover to rails and remove legacy discover page
  DISCOVERY_RAILS_PLAN.md
  packages/klurigo-web/e2e-tests/Discovery.spec.ts
  packages/klurigo-web/src/api/resources/quiz.resource.test.ts
  packages/klurigo-web/src/api/resources/quiz.resource.ts
  packages/klurigo-web/src/main.tsx
  packages/klurigo-web/src/pages/QuizDiscoverPage/QuizDiscoverPage.tsx
  packages/klurigo-web/src/pages/QuizDiscoverPage/components/QuizDiscoverPageUI/QuizDiscoverPageUI.stories.tsx
  packages/klurigo-web/src/pages/QuizDiscoverPage/components/QuizDiscoverPageUI/QuizDiscoverPageUI.test.tsx
  packages/klurigo-web/src/pages/QuizDiscoverPage/components/QuizDiscoverPageUI/QuizDiscoverPageUI.tsx
  packages/klurigo-web/src/pages/QuizDiscoverPage/components/QuizDiscoverPageUI/__snapshots__/QuizDiscoverPageUI.test.tsx.snap
  packages/klurigo-web/src/pages/QuizDiscoverPage/components/QuizDiscoverPageUI/index.ts
  packages/klurigo-web/src/pages/QuizDiscoverPage/components/index.ts
  packages/klurigo-web/src/pages/QuizDiscoverPage/index.ts
  packages/klurigo-web/src/pages/index.ts
Due: klurigo-web

feat(discovery): introduce phased Discovery Rails implementation plan
  DISCOVERY_RAILS_PLAN.md
Due: none

feat(discovery): eligibility + scoring utils
  DISCOVERY_RAILS_PLAN.md
  packages/klurigo-service/src/modules/quiz-core/utils/discovery/discovery-eligibility.utils.spec.ts
  packages/klurigo-service/src/modules/quiz-core/utils/discovery/discovery-eligibility.utils.ts
  packages/klurigo-service/src/modules/quiz-core/utils/discovery/discovery-scoring.utils.spec.ts
  packages/klurigo-service/src/modules/quiz-core/utils/discovery/discovery-scoring.utils.ts
  packages/klurigo-service/src/modules/quiz-core/utils/discovery/index.ts
  packages/klurigo-service/src/modules/quiz-core/utils/index.ts
Due: klurigo-service

feat(discovery): shared discovery contracts in @klurigo/common
  DISCOVERY_RAILS_PLAN.md
  packages/common/src/models/discovery.dto.spec.ts
  packages/common/src/models/discovery.dto.ts
  packages/common/src/models/index.ts
Due: common

feat(discovery): compute pipeline, eligibility filtering, and recent-activity aggregation
  DISCOVERY_RAILS_PLAN.md
  packages/klurigo-service/src/modules/discovery-api/discovery-api.module.ts
  packages/klurigo-service/src/modules/discovery-api/services/discovery-compute.service.spec.ts
  packages/klurigo-service/src/modules/discovery-api/services/discovery-compute.service.ts
  packages/klurigo-service/src/modules/discovery-api/services/index.ts
  packages/klurigo-service/src/modules/game-core/repositories/game.repository.spec.ts
  packages/klurigo-service/src/modules/game-core/repositories/game.repository.ts
  packages/klurigo-service/src/modules/game-core/repositories/models/schemas/game.schema.ts
  packages/klurigo-service/src/modules/game-task/services/game-task-transition.service.spec.ts
  packages/klurigo-service/src/modules/game-task/services/game-task-transition.service.ts
  packages/klurigo-service/src/modules/quiz-core/repositories/quiz.repository.spec.ts
  packages/klurigo-service/src/modules/quiz-core/repositories/quiz.repository.ts
  packages/klurigo-service/src/modules/quiz-core/utils/discovery/discovery-scoring.utils.ts
  tools/mongodb-migrator/src/utils/collection.utils.ts
Due: klurigo-service

feat(discovery): backend snapshot + API surface
  DISCOVERY_RAILS_PLAN.md
  packages/klurigo-service/src/app/app.module.ts
  packages/klurigo-service/src/main.ts
  packages/klurigo-service/src/modules/discovery-api/constants/discovery.constants.ts
  packages/klurigo-service/src/modules/discovery-api/constants/index.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/discovery.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/discovery.controller.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/index.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/models/discovery-quiz-card.response.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/models/discovery-section.response.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/models/discovery.response.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/models/index.ts
  packages/klurigo-service/src/modules/discovery-api/discovery-api.module.ts
  packages/klurigo-service/src/modules/discovery-api/index.ts
  packages/klurigo-service/src/modules/discovery-api/repositories/discovery-snapshot.repository.spec.ts
  packages/klurigo-service/src/modules/discovery-api/repositories/discovery-snapshot.repository.ts
  packages/klurigo-service/src/modules/discovery-api/repositories/index.ts
  packages/klurigo-service/src/modules/discovery-api/repositories/models/schemas/discovery-snapshot.schema.ts
  packages/klurigo-service/src/modules/discovery-api/repositories/models/schemas/index.ts
  packages/klurigo-service/src/modules/quiz-core/repositories/models/schemas/quiz.schema.ts
  packages/klurigo-service/src/modules/quiz-core/repositories/quiz.repository.ts
  packages/klurigo-service/src/modules/quiz-core/utils/discovery/discovery-scoring.utils.ts
  tools/mongodb-migrator/src/transformers/discovery-snapshot.transformers.ts
  tools/mongodb-migrator/src/transformers/index.ts
  tools/mongodb-migrator/src/utils/collection.utils.ts
  tools/mongodb-migrator/src/utils/constants.ts
Due: klurigo-service

feat(discovery): add /discover/rails UI with scrollable sections and API client support
  DISCOVERY_RAILS_PLAN.md
  packages/klurigo-web/src/api/resources/quiz.resource.test.ts
  packages/klurigo-web/src/api/resources/quiz.resource.ts
  packages/klurigo-web/src/components/QuizDiscoveryCard/QuizDiscoveryCard.module.scss
  packages/klurigo-web/src/components/QuizDiscoveryCard/QuizDiscoveryCard.stories.tsx
  packages/klurigo-web/src/components/QuizDiscoveryCard/QuizDiscoveryCard.test.tsx
  packages/klurigo-web/src/components/QuizDiscoveryCard/QuizDiscoveryCard.tsx
  packages/klurigo-web/src/components/QuizDiscoveryCard/index.ts
  packages/klurigo-web/src/components/index.ts
  packages/klurigo-web/src/main.tsx
  packages/klurigo-web/src/pages/DiscoverRailsPage/DiscoverRailsPage.test.tsx
  packages/klurigo-web/src/pages/DiscoverRailsPage/DiscoverRailsPage.tsx
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/DiscoverRailsPageUI.module.scss
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/DiscoverRailsPageUI.stories.tsx
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/DiscoverRailsPageUI.test.tsx
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/DiscoverRailsPageUI.tsx
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/components/DiscoveryRailSection/DiscoveryRailSection.module.scss
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/components/DiscoveryRailSection/DiscoveryRailSection.stories.tsx
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/components/DiscoveryRailSection/DiscoveryRailSection.test.tsx
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/components/DiscoveryRailSection/DiscoveryRailSection.tsx
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/components/DiscoveryRailSection/index.ts
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/components/index.ts
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/index.ts
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/index.ts
  packages/klurigo-web/src/pages/DiscoverRailsPage/index.ts
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.tsx
  packages/klurigo-web/src/pages/index.ts
Due: klurigo-web

feat(discovery): schedule snapshots and serve hydrated rails + paginated sections
  DISCOVERY_RAILS_PLAN.md
  packages/klurigo-service/src/modules/discovery-api/constants/discovery-section-metadata.constants.ts
  packages/klurigo-service/src/modules/discovery-api/constants/index.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/discovery.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/discovery.controller.spec.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/discovery.controller.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/models/index.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/models/paginated-discovery-section.response.ts
  packages/klurigo-service/src/modules/discovery-api/discovery-api.module.ts
  packages/klurigo-service/src/modules/discovery-api/services/discovery-scheduler.service.spec.ts
  packages/klurigo-service/src/modules/discovery-api/services/discovery-scheduler.service.ts
  packages/klurigo-service/src/modules/discovery-api/services/index.ts
  tools/mongodb-migrator/README.md
Due: klurigo-service

feat(discovery): add section "See all" page with offset pagination
  DISCOVERY_RAILS_PLAN.md
  packages/klurigo-web/src/api/resources/quiz.resource.test.ts
  packages/klurigo-web/src/api/resources/quiz.resource.ts
  packages/klurigo-web/src/main.tsx
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/DiscoverRailsPageUI.tsx
  packages/klurigo-web/src/pages/DiscoverSectionPage/DiscoverSectionPage.test.tsx
  packages/klurigo-web/src/pages/DiscoverSectionPage/DiscoverSectionPage.tsx
  packages/klurigo-web/src/pages/DiscoverSectionPage/components/DiscoverSectionPageUI/DiscoverSectionPageUI.module.scss
  packages/klurigo-web/src/pages/DiscoverSectionPage/components/DiscoverSectionPageUI/DiscoverSectionPageUI.stories.tsx
  packages/klurigo-web/src/pages/DiscoverSectionPage/components/DiscoverSectionPageUI/DiscoverSectionPageUI.tsx
  packages/klurigo-web/src/pages/DiscoverSectionPage/components/DiscoverSectionPageUI/index.ts
  packages/klurigo-web/src/pages/DiscoverSectionPage/components/index.ts
  packages/klurigo-web/src/pages/DiscoverSectionPage/index.ts
  packages/klurigo-web/src/pages/index.ts
  packages/klurigo-web/src/utils/discovery.utils.test.ts
  packages/klurigo-web/src/utils/discovery.utils.ts
Due: klurigo-web

feat(discovery): seed discovery snapshot on startup via DISCOVERY_SEED_ON_INIT
  DISCOVERY_RAILS_PLAN.md
  packages/klurigo-service/.env.development
  packages/klurigo-service/src/app/app.module.ts
  packages/klurigo-service/src/app/config/environment.ts
  packages/klurigo-service/src/modules/discovery-api/services/discovery-scheduler.service.spec.ts
  packages/klurigo-service/src/modules/discovery-api/services/discovery-scheduler.service.ts
Due: klurigo-service

feat(discovery): remove section title/description from discovery API and DTOs
  DISCOVERY_RAILS_PLAN.md
  packages/common/src/models/discovery.dto.spec.ts
  packages/common/src/models/discovery.dto.ts
  packages/klurigo-service/src/modules/discovery-api/constants/discovery-section-metadata.constants.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/discovery.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/discovery.controller.spec.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/discovery.controller.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/models/discovery-section.response.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/models/paginated-discovery-section.response.ts
  packages/klurigo-web/src/pages/DiscoverRailsPage/DiscoverRailsPage.test.tsx
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/DiscoverRailsPageUI.stories.tsx
  packages/klurigo-web/src/pages/DiscoverSectionPage/DiscoverSectionPage.test.tsx
Due: common, klurigo-web, klurigo-service

feat(discovery): remove unused discovery eligibility utility and inline criteria
  DISCOVERY_RAILS_PLAN.md
  packages/klurigo-service/src/modules/quiz-core/repositories/quiz.repository.ts
  packages/klurigo-service/src/modules/quiz-core/utils/discovery/discovery-eligibility.utils.spec.ts
  packages/klurigo-service/src/modules/quiz-core/utils/discovery/discovery-eligibility.utils.ts
  packages/klurigo-service/src/modules/quiz-core/utils/discovery/index.ts
Due: klurigo-service

feat(discovery): relax discovery eligibility filter to include quizzes without cover or description
  DISCOVERY_RAILS_PLAN.md
  packages/klurigo-service/src/modules/quiz-core/repositories/quiz.repository.spec.ts
  packages/klurigo-service/src/modules/quiz-core/repositories/quiz.repository.ts
Due: klurigo-service

feat(discovery): fix rail starvation and incorrect ranking in discovery compute
  DISCOVERY_RAILS_PLAN.md
  packages/klurigo-service/src/modules/discovery-api/services/discovery-compute.service.spec.ts
  packages/klurigo-service/src/modules/discovery-api/services/discovery-compute.service.ts
Due: klurigo-service

feat(discovery): secure discovery endpoints with DISCOVERY authority
  DISCOVERY_RAILS_PLAN.md
  packages/common/src/models/authority.enum.ts
  packages/klurigo-service/src/app/shared/token/token.constants.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/discovery.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/discovery-api/controllers/discovery.controller.ts
Due: common, klurigo-service

feat(discover): add search and filter mode to discovery rails page
  DISCOVERY_RAILS_PLAN.md
  packages/klurigo-web/src/api/resources/quiz.resource.ts
  packages/klurigo-web/src/components/QuizTableFilter/index.ts
  packages/klurigo-web/src/pages/DiscoverRailsPage/DiscoverRailsPage.tsx
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/DiscoverRailsPageUI.module.scss
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/DiscoverRailsPageUI.stories.tsx
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/DiscoverRailsPageUI.test.tsx
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/DiscoverRailsPageUI.tsx
Due: klurigo-web

feat(responsive-image): enhance ResponsiveImage with fill mode and simplified error state
  packages/klurigo-web/src/components/ResponsiveImage/ResponsiveImage.module.scss
  packages/klurigo-web/src/components/ResponsiveImage/ResponsiveImage.test.tsx
  packages/klurigo-web/src/components/ResponsiveImage/ResponsiveImage.tsx
  packages/klurigo-web/src/components/ResponsiveImage/__snapshots__/ResponsiveImage.test.tsx.snap
Due: klurigo-web

feat(discovery): improve quiz discovery card visuals and image handling
  packages/klurigo-web/src/components/QuizDiscoveryCard/QuizDiscoveryCard.module.scss
  packages/klurigo-web/src/components/QuizDiscoveryCard/QuizDiscoveryCard.test.tsx
  packages/klurigo-web/src/components/QuizDiscoveryCard/QuizDiscoveryCard.tsx
Due: klurigo-web

feat(discovery): add tests for discovery search flow and related APIs
  packages/klurigo-service/src/modules/discovery-api/controllers/discovery.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/quiz-core/repositories/quiz.repository.spec.ts
  packages/klurigo-web/src/api/resources/quiz.resource.test.ts
  packages/klurigo-web/src/pages/DiscoverRailsPage/DiscoverRailsPage.test.tsx
Due: klurigo-web, klurigo-service

feat(discovery): add rail edge fades and arrow navigation polish
  DISCOVERY_RAILS_PLAN.md
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/components/DiscoveryRailSection/DiscoveryRailSection.module.scss
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/components/DiscoveryRailSection/DiscoveryRailSection.test.tsx
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/components/DiscoveryRailSection/DiscoveryRailSection.tsx
  packages/klurigo-web/src/styles/colors.scss
Due: klurigo-web

feat(discovery): remove inter-rail dedupe and broaden trending signal window
  DISCOVERY_RAILS_PLAN.md
  packages/klurigo-service/src/modules/discovery-api/services/discovery-compute.service.spec.ts
  packages/klurigo-service/src/modules/discovery-api/services/discovery-compute.service.ts
  packages/klurigo-service/src/modules/quiz-core/utils/discovery/discovery-scoring.utils.spec.ts
  packages/klurigo-service/src/modules/quiz-core/utils/discovery/discovery-scoring.utils.ts
  tools/mongodb-migrator/src/transformers/game.transformers.ts
Due: klurigo-service

feat(discovery): reward question media and type variety in quality score
  DISCOVERY_RAILS_PLAN.md
  packages/klurigo-service/src/modules/quiz-core/utils/discovery/discovery-scoring.utils.spec.ts
  packages/klurigo-service/src/modules/quiz-core/utils/discovery/discovery-scoring.utils.ts
Due: klurigo-service

feat(discovery): add title tooltip to QuizDiscoveryCard
  packages/klurigo-web/src/components/QuizDiscoveryCard/QuizDiscoveryCard.tsx
Due: klurigo-web

test(game-page): fix Location typing in GamePage tests
  packages/klurigo-web/src/pages/GamePage/GamePage.test.tsx
Due: klurigo-web

chore(docs): move DISCOVERY_RAILS_PLAN.md to docs directory
  docs/DISCOVERY_RAILS_PLAN.md
Due: none

feat(auth): implement single-use password reset tokens with persistence
  packages/common/src/models/token.dto.ts
  packages/klurigo-service/src/modules/authentication/guards/auth.guard.ts
  packages/klurigo-service/src/modules/token/repositories/models/schemas/token.schema.ts
  packages/klurigo-service/src/modules/token/services/token.service.ts
  packages/klurigo-service/src/modules/user/controllers/user-auth.controller.ts
  packages/klurigo-service/src/modules/user/services/user.service.spec.ts
  packages/klurigo-service/src/modules/user/services/user.service.ts
  packages/klurigo-web/src/api/api-client-core.ts
  packages/klurigo-web/src/api/resources/media.resource.ts
  packages/klurigo-web/src/api/useKlurigoServiceClient.tsx
  packages/klurigo-web/src/models/authState.ts
Due: common, klurigo-web, klurigo-service

feat(media): improve image selection UX and quiz UI details
  packages/klurigo-web/src/components/MediaModal/components/PexelsImageProvider/PexelsImageProvider.test.tsx
  packages/klurigo-web/src/components/MediaModal/components/PexelsImageProvider/PexelsImageProvider.tsx
  packages/klurigo-web/src/components/ResponsiveImage/ResponsiveImage.test.tsx
  packages/klurigo-web/src/components/ResponsiveImage/ResponsiveImage.tsx
  packages/klurigo-web/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuizSettingsModal/QuizSettingsModal.module.scss
  packages/klurigo-web/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuizSettingsModal/QuizSettingsModal.test.tsx
  packages/klurigo-web/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuizSettingsModal/QuizSettingsModal.tsx
  packages/klurigo-web/src/pages/QuizDetailsPage/components/QuizDetailsPageUI/QuizDetailsPageUI.tsx
Due: klurigo-web

chore(ci): add concurrency controls to GitHub workflows
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/pull-request.yml
  .serena/project.yml
Due: none

chore(repository): use explicit $eq operators in GameRepository queries
  packages/klurigo-service/src/modules/game-core/repositories/game.repository.ts
  yarn.lock
Due: klurigo-service

feat(profile-quizzes): redesign profile quizzes page as card grid
  packages/klurigo-service/src/modules/quiz-api/controllers/models/quiz-page-query.filter.ts
  packages/klurigo-service/src/modules/quiz-api/services/quiz.service.ts
  packages/klurigo-web/src/api/resources/quiz.resource.test.ts
  packages/klurigo-web/src/api/resources/quiz.resource.ts
  packages/klurigo-web/src/pages/ProfileQuizzesPage/ProfileQuizzesPage.test.tsx
  packages/klurigo-web/src/pages/ProfileQuizzesPage/ProfileQuizzesPage.tsx
  packages/klurigo-web/src/pages/ProfileQuizzesPage/components/ProfileQuizzesPageUI/ProfileQuizzesPageUI.module.scss
  packages/klurigo-web/src/pages/ProfileQuizzesPage/components/ProfileQuizzesPageUI/ProfileQuizzesPageUI.stories.tsx
  packages/klurigo-web/src/pages/ProfileQuizzesPage/components/ProfileQuizzesPageUI/ProfileQuizzesPageUI.test.tsx
  packages/klurigo-web/src/pages/ProfileQuizzesPage/components/ProfileQuizzesPageUI/ProfileQuizzesPageUI.tsx
  packages/klurigo-web/src/pages/ProfileQuizzesPage/components/ProfileQuizzesPageUI/__snapshots__/ProfileQuizzesPageUI.test.tsx.snap
  packages/klurigo-web/src/pages/ProfileQuizzesPage/components/ProfileQuizzesPageUI/components/ProfileQuizCard/ProfileQuizCard.module.scss
  packages/klurigo-web/src/pages/ProfileQuizzesPage/components/ProfileQuizzesPageUI/components/ProfileQuizCard/ProfileQuizCard.stories.tsx
  packages/klurigo-web/src/pages/ProfileQuizzesPage/components/ProfileQuizzesPageUI/components/ProfileQuizCard/ProfileQuizCard.test.tsx
  packages/klurigo-web/src/pages/ProfileQuizzesPage/components/ProfileQuizzesPageUI/components/ProfileQuizCard/ProfileQuizCard.tsx
  packages/klurigo-web/src/pages/ProfileQuizzesPage/components/ProfileQuizzesPageUI/components/ProfileQuizCard/index.ts
  packages/klurigo-web/src/pages/ProfileQuizzesPage/components/ProfileQuizzesPageUI/components/ProfileQuizCardSkeleton/ProfileQuizCardSkeleton.module.scss
  packages/klurigo-web/src/pages/ProfileQuizzesPage/components/ProfileQuizzesPageUI/components/ProfileQuizCardSkeleton/ProfileQuizCardSkeleton.tsx
  packages/klurigo-web/src/pages/ProfileQuizzesPage/components/ProfileQuizzesPageUI/components/ProfileQuizCardSkeleton/index.ts
  packages/klurigo-web/src/pages/ProfileQuizzesPage/components/ProfileQuizzesPageUI/components/index.ts
  packages/klurigo-web/src/styles/variables.scss
  packages/klurigo-web/src/utils/useQuizzesSearchOptions.test.tsx
  packages/klurigo-web/src/utils/useQuizzesSearchOptions.tsx
Due: klurigo-web, klurigo-service

feat(profile-games): redesign profile games page with card-based infinite loading
  packages/klurigo-web/src/pages/ProfileGamesPage/ProfileGamesPage.test.tsx
  packages/klurigo-web/src/pages/ProfileGamesPage/ProfileGamesPage.tsx
  packages/klurigo-web/src/pages/ProfileGamesPage/ProfileGamesPageUI/ProfileGamesPageUI.stories.tsx
  packages/klurigo-web/src/pages/ProfileGamesPage/ProfileGamesPageUI/ProfileGamesPageUI.test.tsx
  packages/klurigo-web/src/pages/ProfileGamesPage/ProfileGamesPageUI/__snapshots__/ProfileGamesPageUI.test.tsx.snap
  packages/klurigo-web/src/pages/ProfileGamesPage/ProfileGamesPageUI/components/GameTable/GameTable.module.scss
  packages/klurigo-web/src/pages/ProfileGamesPage/ProfileGamesPageUI/components/GameTable/GameTable.tsx
  packages/klurigo-web/src/pages/ProfileGamesPage/ProfileGamesPageUI/components/GameTable/index.ts
  packages/klurigo-web/src/pages/ProfileGamesPage/ProfileGamesPageUI/components/index.ts
  packages/klurigo-web/src/pages/ProfileGamesPage/components/ProfileGamesPageUI/ProfileGamesPageUI.module.scss
  packages/klurigo-web/src/pages/ProfileGamesPage/components/ProfileGamesPageUI/ProfileGamesPageUI.stories.tsx
  packages/klurigo-web/src/pages/ProfileGamesPage/components/ProfileGamesPageUI/ProfileGamesPageUI.test.tsx
  packages/klurigo-web/src/pages/ProfileGamesPage/components/ProfileGamesPageUI/ProfileGamesPageUI.tsx
  packages/klurigo-web/src/pages/ProfileGamesPage/components/ProfileGamesPageUI/__snapshots__/ProfileGamesPageUI.test.tsx.snap
  packages/klurigo-web/src/pages/ProfileGamesPage/components/ProfileGamesPageUI/components/ProfileGameCard/ProfileGameCard.module.scss
  packages/klurigo-web/src/pages/ProfileGamesPage/components/ProfileGamesPageUI/components/ProfileGameCard/ProfileGameCard.stories.tsx
  packages/klurigo-web/src/pages/ProfileGamesPage/components/ProfileGamesPageUI/components/ProfileGameCard/ProfileGameCard.test.tsx
  packages/klurigo-web/src/pages/ProfileGamesPage/components/ProfileGamesPageUI/components/ProfileGameCard/ProfileGameCard.tsx
  packages/klurigo-web/src/pages/ProfileGamesPage/components/ProfileGamesPageUI/components/ProfileGameCard/index.ts
  packages/klurigo-web/src/pages/ProfileGamesPage/components/ProfileGamesPageUI/components/ProfileGameCardSkeleton/ProfileGameCardSkeleton.module.scss
  packages/klurigo-web/src/pages/ProfileGamesPage/components/ProfileGamesPageUI/components/ProfileGameCardSkeleton/ProfileGameCardSkeleton.tsx
  packages/klurigo-web/src/pages/ProfileGamesPage/components/ProfileGamesPageUI/components/ProfileGameCardSkeleton/index.ts
  packages/klurigo-web/src/pages/ProfileGamesPage/components/ProfileGamesPageUI/components/index.ts
  packages/klurigo-web/src/pages/ProfileGamesPage/components/ProfileGamesPageUI/index.ts
  packages/klurigo-web/src/pages/ProfileGamesPage/components/index.ts
Due: klurigo-web

refactor(components): remove legacy unused Card component
  packages/klurigo-web/src/components/Card/Card.module.scss
  packages/klurigo-web/src/components/Card/Card.stories.tsx
  packages/klurigo-web/src/components/Card/Card.test.tsx
  packages/klurigo-web/src/components/Card/Card.tsx
  packages/klurigo-web/src/components/Card/__snapshots__/Card.test.tsx.snap
  packages/klurigo-web/src/components/Card/index.ts
  packages/klurigo-web/src/components/index.ts
Due: klurigo-web

feat(card): extract reusable media info card components
  packages/klurigo-web/src/components/MediaInfoCard/CardInfoItem.test.tsx
  packages/klurigo-web/src/components/MediaInfoCard/CardInfoItem.tsx
  packages/klurigo-web/src/components/MediaInfoCard/CardMetaItem.test.tsx
  packages/klurigo-web/src/components/MediaInfoCard/CardMetaItem.tsx
  packages/klurigo-web/src/components/MediaInfoCard/MediaInfoCard.module.scss
  packages/klurigo-web/src/components/MediaInfoCard/MediaInfoCard.test.tsx
  packages/klurigo-web/src/components/MediaInfoCard/MediaInfoCard.tsx
  packages/klurigo-web/src/components/MediaInfoCard/index.ts
  packages/klurigo-web/src/components/QuizDiscoveryCard/QuizDiscoveryCard.module.scss
  packages/klurigo-web/src/components/QuizDiscoveryCard/QuizDiscoveryCard.test.tsx
  packages/klurigo-web/src/components/QuizDiscoveryCard/QuizDiscoveryCard.tsx
  packages/klurigo-web/src/components/index.ts
  packages/klurigo-web/src/pages/ProfileGamesPage/components/ProfileGamesPageUI/__snapshots__/ProfileGamesPageUI.test.tsx.snap
  packages/klurigo-web/src/pages/ProfileGamesPage/components/ProfileGamesPageUI/components/ProfileGameCard/ProfileGameCard.module.scss
  packages/klurigo-web/src/pages/ProfileGamesPage/components/ProfileGamesPageUI/components/ProfileGameCard/ProfileGameCard.test.tsx
  packages/klurigo-web/src/pages/ProfileGamesPage/components/ProfileGamesPageUI/components/ProfileGameCard/ProfileGameCard.tsx
  packages/klurigo-web/src/pages/ProfileQuizzesPage/components/ProfileQuizzesPageUI/__snapshots__/ProfileQuizzesPageUI.test.tsx.snap
  packages/klurigo-web/src/pages/ProfileQuizzesPage/components/ProfileQuizzesPageUI/components/ProfileQuizCard/ProfileQuizCard.module.scss
  packages/klurigo-web/src/pages/ProfileQuizzesPage/components/ProfileQuizzesPageUI/components/ProfileQuizCard/ProfileQuizCard.test.tsx
  packages/klurigo-web/src/pages/ProfileQuizzesPage/components/ProfileQuizzesPageUI/components/ProfileQuizCard/ProfileQuizCard.tsx
Due: klurigo-web

refactor(klurigo-web): extract reusable responsive infinite pagination hooks
  .serena/project.yml
  packages/klurigo-web/src/pages/DiscoverSectionPage/DiscoverSectionPage.test.tsx
  packages/klurigo-web/src/pages/DiscoverSectionPage/DiscoverSectionPage.tsx
  packages/klurigo-web/src/pages/DiscoverSectionPage/components/DiscoverSectionPageUI/DiscoverSectionPageUI.stories.tsx
  packages/klurigo-web/src/pages/DiscoverSectionPage/components/DiscoverSectionPageUI/DiscoverSectionPageUI.tsx
  packages/klurigo-web/src/pages/ProfileGamesPage/ProfileGamesPage.test.tsx
  packages/klurigo-web/src/pages/ProfileGamesPage/ProfileGamesPage.tsx
  packages/klurigo-web/src/pages/ProfileGamesPage/components/ProfileGamesPageUI/ProfileGamesPageUI.tsx
  packages/klurigo-web/src/pages/ProfileQuizzesPage/ProfileQuizzesPage.test.tsx
  packages/klurigo-web/src/pages/ProfileQuizzesPage/ProfileQuizzesPage.tsx
  packages/klurigo-web/src/pages/ProfileQuizzesPage/components/ProfileQuizzesPageUI/ProfileQuizzesPageUI.stories.tsx
  packages/klurigo-web/src/pages/ProfileQuizzesPage/components/ProfileQuizzesPageUI/ProfileQuizzesPageUI.test.tsx
  packages/klurigo-web/src/pages/ProfileQuizzesPage/components/ProfileQuizzesPageUI/ProfileQuizzesPageUI.tsx
  packages/klurigo-web/src/pages/ProfileQuizzesPage/components/ProfileQuizzesPageUI/__snapshots__/ProfileQuizzesPageUI.test.tsx.snap
  packages/klurigo-web/src/utils/hooks/index.ts
  packages/klurigo-web/src/utils/hooks/useResponsiveInfiniteOffsetQuery.test.tsx
  packages/klurigo-web/src/utils/hooks/useResponsiveInfiniteOffsetQuery.ts
  packages/klurigo-web/src/utils/hooks/useResponsivePageSize.test.tsx
  packages/klurigo-web/src/utils/hooks/useResponsivePageSize.tsx
Due: klurigo-web

feat(quiz): allow math symbols in quiz text and expand range question limits
  packages/common/src/utils/constants.ts
  packages/klurigo-service/src/modules/game-api/controllers/decorators/api/api-game-question-range-answer-value.decorator.ts
  packages/klurigo-service/src/modules/game-api/controllers/models/requests/range-question-correct-answer.request.ts
  packages/klurigo-service/src/modules/quiz-api/controllers/decorators/api/api-question-range-max-property.decorator.ts
  packages/klurigo-service/src/modules/quiz-api/controllers/decorators/api/api-question-range-min-property.decorator.ts
  packages/klurigo-service/src/modules/quiz-api/controllers/models/question-range.ts
  packages/klurigo-service/src/modules/quiz-api/controllers/models/quiz.request.spec.ts
  packages/klurigo-service/src/modules/quiz-api/controllers/models/quiz.response.spec.ts
  packages/klurigo-web/src/pages/QuizCreatorPage/validation-rules/classic-range.rules.ts
Due: common, klurigo-web, klurigo-service

refactor(klurigo-web): clean up legacy QuizTable and improve page layout and quiz details
  packages/klurigo-web/src/components/Page/Page.module.scss
  packages/klurigo-web/src/components/QuizTable/QuizTable.module.scss
  packages/klurigo-web/src/components/QuizTable/QuizTable.stories.tsx
  packages/klurigo-web/src/components/QuizTable/QuizTable.test.tsx
  packages/klurigo-web/src/components/QuizTable/QuizTable.tsx
  packages/klurigo-web/src/components/QuizTable/__snapshots__/QuizTable.test.tsx.snap
  packages/klurigo-web/src/components/QuizTable/index.ts
  packages/klurigo-web/src/components/ResponsiveImage/ResponsiveImage.tsx
  packages/klurigo-web/src/components/index.ts
  packages/klurigo-web/src/pages/QuizDetailsPage/components/QuizDetailsPageUI/QuizDetailsPageUI.tsx
Due: klurigo-web

feat(discovery): add question info density to quiz quality scoring
  .serena/memories/conventions/task_completion.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  packages/klurigo-service/src/modules/quiz-core/utils/discovery/discovery-scoring.utils.spec.ts
  packages/klurigo-service/src/modules/quiz-core/utils/discovery/discovery-scoring.utils.ts
Due: klurigo-service

feat(discovery): improve rail navigation and strengthen discovery tests
  packages/klurigo-web/src/components/MediaInfoCard/MediaInfoCard.module.scss
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/DiscoverRailsPageUI.module.scss
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/components/DiscoveryRailSection/DiscoveryRailSection.module.scss
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/components/DiscoveryRailSection/DiscoveryRailSection.test.tsx
  packages/klurigo-web/src/pages/DiscoverRailsPage/components/DiscoverRailsPageUI/components/DiscoveryRailSection/DiscoveryRailSection.tsx
  packages/klurigo-web/src/pages/DiscoverSectionPage/components/DiscoverSectionPageUI/DiscoverSectionPageUI.module.scss
Due: klurigo-web

docs(game): add anonymous player rating and player game-over plan
  docs/ANONYMOUS_PLAYER_RATING_PLAN.md
Due: none

Path conditions:
  common: any of: packages/common/**
  klurigo-web: any of: packages/klurigo-web/**
  klurigo-service: any of: packages/klurigo-service/**
