Repository emilhornlund/quiz: changes, and which Codecov flags are due for each by the changed paths.
All: common, quiz, quiz-service

feat(results): show question media on results page (#203)
  packages/common/src/models/game-event.ts
  packages/quiz-service/src/game/services/utils/game-event.converter.spec.ts
  packages/quiz-service/src/game/services/utils/game-event.converter.ts
  packages/quiz/src/components/index.ts
  packages/quiz/src/states/HostQuestionState/HostQuestionState.stories.tsx
  packages/quiz/src/states/HostQuestionState/HostQuestionState.tsx
  packages/quiz/src/states/HostQuestionState/__snapshots__/HostQuestionState.test.tsx.snap
  packages/quiz/src/states/HostResultState/HostResultState.stories.tsx
  packages/quiz/src/states/HostResultState/HostResultState.test.tsx
  packages/quiz/src/states/HostResultState/HostResultState.tsx
  packages/quiz/src/states/HostResultState/__snapshots__/HostResultState.test.tsx.snap
  packages/quiz/src/states/HostResultState/components/PinQuestionResults/PinQuestionResults.tsx
  packages/quiz/src/states/HostResultState/components/QuestionResults/QuestionResults.module.scss
  packages/quiz/src/states/HostResultState/components/QuestionResults/QuestionResults.tsx
  packages/quiz/src/states/HostResultState/components/QuestionResults/index.ts
  packages/quiz/src/states/HostResultState/components/index.ts
  packages/quiz/src/states/common/QuestionMedia/QuestionMedia.module.scss
  packages/quiz/src/states/common/QuestionMedia/QuestionMedia.test.tsx
  packages/quiz/src/states/common/QuestionMedia/QuestionMedia.tsx
  packages/quiz/src/states/common/QuestionMedia/__snapshots__/QuestionMedia.test.tsx.snap
  packages/quiz/src/states/common/QuestionMedia/index.ts
  packages/quiz/src/states/common/index.ts
Due: common, quiz, quiz-service

refactor: implement generic repository pattern for data access layer
  packages/quiz-service/src/app/shared/repository/base-repository.interface.ts
  packages/quiz-service/src/app/shared/repository/base.repository.spec.ts
  packages/quiz-service/src/app/shared/repository/base.repository.ts
  packages/quiz-service/src/app/shared/repository/index.ts
  packages/quiz-service/src/app/shared/repository/types.ts
  packages/quiz-service/src/app/shared/repository/utils.spec.ts
  packages/quiz-service/src/app/shared/repository/utils.ts
  packages/quiz-service/src/auth/services/auth.service.ts
  packages/quiz-service/src/auth/services/token.repository.ts
  packages/quiz-service/src/game/repositories/game.repository.ts
  packages/quiz-service/src/quiz/repositories/quiz.repository.ts
  packages/quiz-service/src/user/repositories/user.repository.ts
  packages/quiz-service/tsconfig.json
Due: quiz-service

refactor: implement generic repository pattern for data access layer (#175)
  packages/quiz-service/src/app/shared/repository/base-repository.interface.ts
  packages/quiz-service/src/app/shared/repository/base.repository.spec.ts
  packages/quiz-service/src/app/shared/repository/base.repository.ts
  packages/quiz-service/src/app/shared/repository/index.ts
  packages/quiz-service/src/app/shared/repository/types.ts
  packages/quiz-service/src/app/shared/repository/utils.spec.ts
  packages/quiz-service/src/app/shared/repository/utils.ts
  packages/quiz-service/src/auth/services/auth.service.ts
  packages/quiz-service/src/auth/services/token.repository.ts
  packages/quiz-service/src/game/repositories/game.repository.ts
  packages/quiz-service/src/quiz/repositories/quiz.repository.ts
  packages/quiz-service/src/user/repositories/user.repository.ts
  packages/quiz-service/tsconfig.json
Due: quiz-service

fix(common): allow newlines in quiz description text
  packages/common/src/utils/constants.ts
Due: common

fix(common): allow newlines in quiz description text (#207)
  packages/common/src/utils/constants.ts
Due: common

test(quiz): update snapshot tests after dependabot dependency update
  packages/quiz/src/components/MediaModal/__snapshots__/MediaModal.test.tsx.snap
  packages/quiz/src/components/QuizTableFilter/components/FilterModal/__snapshots__/FilterModal.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/__snapshots__/QuizCreatorPageUI.test.tsx.snap
  packages/quiz/src/states/HostLobbyState/__snapshots__/HostLobbyState.test.tsx.snap
  packages/quiz/src/states/PlayerLobbyState/__snapshots__/PlayerLobbyState.test.tsx.snap
Due: quiz

feat(common): add full emoji support to regex validations
  packages/common/src/utils/constants.ts
Due: common

feat(common): add full emoji support to regex validations (#208)
  packages/common/src/utils/constants.ts
Due: common

feat(quiz-creator): add tooltip for question result info field
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/__snapshots__/QuizCreatorPageUI.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/__snapshots__/QuestionEditor.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/QuestionField.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionForm/__snapshots__/QuestionForm.test.tsx.snap
Due: quiz

feat(quiz-creator): add tooltip for question result info field (#209)
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/__snapshots__/QuizCreatorPageUI.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/__snapshots__/QuestionEditor.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/QuestionField.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionForm/__snapshots__/QuestionForm.test.tsx.snap
Due: quiz

feat(quiz): add reusable QuestionTextPreview component for question preview states
  packages/quiz/src/states/HostQuestionPreviewState/HostQuestionPreviewState.tsx
  packages/quiz/src/states/HostQuestionPreviewState/__snapshots__/HostQuestionPreviewState.test.tsx.snap
  packages/quiz/src/states/PlayerQuestionPreviewState/PlayerQuestionPreviewState.tsx
  packages/quiz/src/states/PlayerQuestionPreviewState/__snapshots__/PlayerQuestionPreviewState.test.tsx.snap
  packages/quiz/src/states/common/PointsBehindIndicator/index.ts
  packages/quiz/src/states/common/QuestionTextPreview/QuestionTextPreview.module.scss
  packages/quiz/src/states/common/QuestionTextPreview/QuestionTextPreview.tsx
  packages/quiz/src/states/common/QuestionTextPreview/index.ts
  packages/quiz/src/states/common/index.ts
Due: quiz

feat(quiz): add reusable QuestionTextPreview component for question preview states (#210)
  packages/quiz/src/states/HostQuestionPreviewState/HostQuestionPreviewState.tsx
  packages/quiz/src/states/HostQuestionPreviewState/__snapshots__/HostQuestionPreviewState.test.tsx.snap
  packages/quiz/src/states/PlayerQuestionPreviewState/PlayerQuestionPreviewState.tsx
  packages/quiz/src/states/PlayerQuestionPreviewState/__snapshots__/PlayerQuestionPreviewState.test.tsx.snap
  packages/quiz/src/states/common/PointsBehindIndicator/index.ts
  packages/quiz/src/states/common/QuestionTextPreview/QuestionTextPreview.module.scss
  packages/quiz/src/states/common/QuestionTextPreview/QuestionTextPreview.tsx
  packages/quiz/src/states/common/QuestionTextPreview/index.ts
  packages/quiz/src/states/common/index.ts
Due: quiz

feat(quiz): drag-and-drop reorder for multi-choice + unified option validation
  packages/quiz/src/context/user/UserContextProvider.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/__snapshots__/QuizCreatorPageUI.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/__snapshots__/QuestionEditor.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/MultiChoiceOptions.test.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/MultiChoiceOptions.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/PuzzleValues.test.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/PuzzleValues.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/QuestionField.module.scss
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/QuestionField.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/TrueFalseOptions.test.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/TrueFalseOptions.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/TypeAnswerOptions.test.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/TypeAnswerOptions.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/__snapshots__/MultiChoiceOptions.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/__snapshots__/PuzzleValues.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/__snapshots__/QuestionField.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/__snapshots__/TrueFalseOptions.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/__snapshots__/TypeAnswerOptions.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionForm/__snapshots__/QuestionForm.test.tsx.snap
  packages/quiz/src/styles/variables.scss
Due: quiz

feat(quiz): drag-and-drop reorder for multi-choice + unified option validation (#212)
  packages/quiz/src/context/user/UserContextProvider.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/__snapshots__/QuizCreatorPageUI.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/__snapshots__/QuestionEditor.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/MultiChoiceOptions.test.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/MultiChoiceOptions.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/PuzzleValues.test.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/PuzzleValues.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/QuestionField.module.scss
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/QuestionField.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/TrueFalseOptions.test.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/TrueFalseOptions.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/TypeAnswerOptions.test.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/TypeAnswerOptions.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/__snapshots__/MultiChoiceOptions.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/__snapshots__/PuzzleValues.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/__snapshots__/QuestionField.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/__snapshots__/TrueFalseOptions.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/__snapshots__/TypeAnswerOptions.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionForm/__snapshots__/QuestionForm.test.tsx.snap
  packages/quiz/src/styles/variables.scss
Due: quiz

fix(nginx): increase body size and disable buffering for photo upload endpoint
  packages/quiz/nginx.conf.template
Due: quiz

add image effects, Blur and Square
  packages/common/src/models/game-event.ts
  packages/common/src/models/question.dto.ts
  packages/quiz-service/src/game/services/utils/game-event.converter.ts
  packages/quiz-service/src/quiz/controllers/models/question-media.ts
  packages/quiz-service/src/quiz/controllers/models/quiz.request.spec.ts
  packages/quiz-service/src/quiz/repositories/models/schemas/question.schema.ts
  packages/quiz/src/components/ImageEffectModal/ImageEffectModal.module.scss
  packages/quiz/src/components/ImageEffectModal/ImageEffectModal.test.tsx
  packages/quiz/src/components/ImageEffectModal/ImageEffectModal.tsx
  packages/quiz/src/components/ImageEffectModal/__snapshots__/ImageEffectModal.test.tsx.snap
  packages/quiz/src/components/ImageEffectModal/index.ts
  packages/quiz/src/components/ResponsiveImage/ResponsiveImage.module.scss
  packages/quiz/src/components/ResponsiveImage/ResponsiveImage.stories.tsx
  packages/quiz/src/components/ResponsiveImage/ResponsiveImage.test.tsx
  packages/quiz/src/components/ResponsiveImage/ResponsiveImage.tsx
  packages/quiz/src/components/ResponsiveImage/__snapshots__/ResponsiveImage.test.tsx.snap
  packages/quiz/src/components/ResponsiveImage/components/ImageSquareEffect.test.tsx
  packages/quiz/src/components/ResponsiveImage/components/ImageSquareEffect.tsx
  packages/quiz/src/components/ResponsiveImage/components/__snapshots__/ImageSquareEffect.test.tsx.snap
  packages/quiz/src/components/ResponsiveImage/components/index.ts
  packages/quiz/src/components/ResponsiveImage/hook/__snapshots__/useImageBlurEffect.test.ts.snap
  packages/quiz/src/components/ResponsiveImage/hook/index.ts
  packages/quiz/src/components/ResponsiveImage/hook/useImageBlurEffect.test.ts
  packages/quiz/src/components/ResponsiveImage/hook/useImageBlurEffect.ts
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/MediaQuestionField/MediaQuestionField.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/QuestionField.test.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/__snapshots__/QuestionField.test.tsx.snap
  packages/quiz/src/states/HostQuestionState/HostQuestionState.stories.tsx
  packages/quiz/src/states/HostQuestionState/HostQuestionState.tsx
  packages/quiz/src/states/common/QuestionMedia/QuestionMedia.tsx
Due: common, quiz, quiz-service

feat(auth): add error-swallowing behavior for revoke methods
  packages/quiz/src/api/use-quiz-service-client.tsx
  packages/quiz/src/api/useQuizServiceClient.test.tsx
  packages/quiz/src/context/auth/AuthContextProvider.test.tsx
  packages/quiz/src/context/auth/AuthContextProvider.tsx
  packages/quiz/src/context/auth/__snapshots__/AuthContextProvider.test.tsx.snap
Due: quiz

feat(auth): add error-swallowing behavior for revoke methods (#214)
  packages/quiz/src/api/use-quiz-service-client.tsx
  packages/quiz/src/api/useQuizServiceClient.test.tsx
  packages/quiz/src/context/auth/AuthContextProvider.test.tsx
  packages/quiz/src/context/auth/AuthContextProvider.tsx
  packages/quiz/src/context/auth/__snapshots__/AuthContextProvider.test.tsx.snap
Due: quiz

chore(config): add documentation and refactor Sentry config references
  packages/quiz/src/config.ts
  packages/quiz/src/instrument.ts
  packages/quiz/vite-env.d.ts
Due: quiz

chore(config): add documentation and refactor Sentry config references (#215)
  packages/quiz/src/config.ts
  packages/quiz/src/instrument.ts
  packages/quiz/vite-env.d.ts
Due: quiz

feat(game-results): filter to top 5 + requesting participant; expand e2e coverage
  packages/quiz-service/src/game/controllers/game-result.controller.e2e-spec.ts
  packages/quiz-service/src/game/controllers/game-result.controller.ts
  packages/quiz-service/src/game/services/game-result.service.ts
Due: quiz-service

feat(game-results): filter to top 5 + requesting participant; expand e2e coverage (#217)
  packages/quiz-service/src/game/controllers/game-result.controller.e2e-spec.ts
  packages/quiz-service/src/game/controllers/game-result.controller.ts
  packages/quiz-service/src/game/services/game-result.service.ts
Due: quiz-service

fix(auth): resolve type errors after jsonwebtoken upgrade
  packages/quiz-service/src/auth/auth.module.ts
  packages/quiz-service/src/auth/services/auth.service.ts
  packages/quiz-service/src/auth/services/utils/token.constants.ts
  packages/quiz-service/src/auth/services/utils/token.utils.ts
Due: quiz-service

chore(eslint): downgrade eslint-plugin-react-hooks due to false positives
  packages/quiz/package.json
  yarn.lock
Due: quiz

feat(game-results): add gap + trailing separators and highlight current user
  packages/quiz/src/pages/GameResultsPage/GameResultsPage.test.tsx
  packages/quiz/src/pages/GameResultsPage/GameResultsPage.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.module.scss
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.stories.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.test.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/PlayerSection.test.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/PlayerSection.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/QuestionSection.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/components/GameResultTable/GameResultTable.test.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/components/GameResultTable/GameResultTable.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/components/GameResultTable/__snapshots__/GameResultTable.test.tsx.snap
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/components/GameResultTable/index.ts
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/components/index.ts
Due: quiz

feat(game-results): add gap + trailing separators and highlight current user (#218)
  packages/quiz/src/pages/GameResultsPage/GameResultsPage.test.tsx
  packages/quiz/src/pages/GameResultsPage/GameResultsPage.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.module.scss
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.stories.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.test.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/PlayerSection.test.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/PlayerSection.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/QuestionSection.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/components/GameResultTable/GameResultTable.test.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/components/GameResultTable/GameResultTable.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/components/GameResultTable/__snapshots__/GameResultTable.test.tsx.snap
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/components/GameResultTable/index.ts
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/components/index.ts
Due: quiz

fix(modules): resolve circular dependency between GameModule and AuthModule
  packages/quiz-service/src/auth/auth.module.ts
  packages/quiz-service/src/auth/services/auth.service.ts
  packages/quiz-service/src/game/game.module.ts
  packages/quiz-service/src/game/repositories/game.repository.ts
  packages/quiz-service/src/game/services/game-task-transition-scheduler.ts
  packages/quiz-service/src/game/services/game.service.ts
  packages/quiz-service/src/migration/services/migration.service.ts
Due: quiz-service

fix(modules): resolve circular dependency between GameModule and AuthModule (#219)
  packages/quiz-service/src/auth/auth.module.ts
  packages/quiz-service/src/auth/services/auth.service.ts
  packages/quiz-service/src/game/game.module.ts
  packages/quiz-service/src/game/repositories/game.repository.ts
  packages/quiz-service/src/game/services/game-task-transition-scheduler.ts
  packages/quiz-service/src/game/services/game.service.ts
  packages/quiz-service/src/migration/services/migration.service.ts
Due: quiz-service

feat(game-results): include host nickname and additional summary details
  packages/quiz-service/src/game/controllers/game-result.controller.e2e-spec.ts
  packages/quiz-service/src/game/services/game-result.service.ts
  packages/quiz/src/pages/GameResultsPage/GameResultsPage.test.tsx
  packages/quiz/src/pages/GameResultsPage/__snapshots__/GameResultsPage.test.tsx.snap
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.module.scss
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.test.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/__snapshots__/GameResultsPageUI.test.tsx.snap
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection.test.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/__snapshots__/SummarySection.test.tsx.snap
Due: quiz, quiz-service

feat(game-results): add player & question counts with docs and validation
  packages/common/src/models/game-result.ts
  packages/quiz-service/src/game/controllers/decorators/api/api-game-result-number-of-players-property.decorator.ts
  packages/quiz-service/src/game/controllers/decorators/api/api-game-result-number-of-questions-property.decorator.ts
  packages/quiz-service/src/game/controllers/decorators/api/index.ts
  packages/quiz-service/src/game/controllers/game-result.controller.e2e-spec.ts
  packages/quiz-service/src/game/controllers/models/response/game-result-classic-mode.response.ts
  packages/quiz-service/src/game/controllers/models/response/game-result-zero-to-one-hundred-mode.response.ts
  packages/quiz-service/src/game/services/game-result.service.ts
  packages/quiz/src/pages/GameResultsPage/GameResultsPage.test.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.module.scss
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.stories.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.test.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection.test.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection.tsx
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/sections/__snapshots__/SummarySection.test.tsx.snap
Due: common, quiz, quiz-service

feat(podium): navigate to game results from podium (host & player)
  packages/quiz/src/states/HostPodiumState/HostPodiumState.test.tsx
  packages/quiz/src/states/HostPodiumState/HostPodiumState.tsx
  packages/quiz/src/states/HostPodiumState/__snapshots__/HostPodiumState.test.tsx.snap
  packages/quiz/src/states/PlayerPodiumState/PlayerPodiumState.test.tsx
  packages/quiz/src/states/PlayerPodiumState/PlayerPodiumState.tsx
  packages/quiz/src/states/PlayerPodiumState/__snapshots__/PlayerPodiumState.test.tsx.snap
Due: quiz

feat(game-events): include status in GameQuitEvent and navigate to results
  packages/common/src/models/game-event.ts
  packages/quiz-service/src/game/services/game.service.ts
  packages/quiz-service/src/game/services/utils/game-event.converter.ts
  packages/quiz/src/pages/GamePage/GamePage.tsx
  packages/quiz/src/states/HostPodiumState/HostPodiumState.test.tsx
  packages/quiz/src/states/HostPodiumState/HostPodiumState.tsx
  packages/quiz/src/states/HostPodiumState/__snapshots__/HostPodiumState.test.tsx.snap
  packages/quiz/src/states/PlayerPodiumState/PlayerPodiumState.test.tsx
  packages/quiz/src/states/PlayerPodiumState/PlayerPodiumState.tsx
  packages/quiz/src/states/PlayerPodiumState/__snapshots__/PlayerPodiumState.test.tsx.snap
Due: common, quiz, quiz-service

Path conditions:
  common: any of: packages/common/**
  quiz: any of: packages/quiz/**
  quiz-service: any of: packages/quiz-service/**
