Repository emilhornlund/quiz: changes, and which Codecov flags are due for each by the changed paths.
All: quiz, quiz-service

feat(sentry): add full Sentry integration for frontend and backend (#156)
  .github/workflows/build.yml
  .github/workflows/docker-build-and-push.yml
  .github/workflows/main.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/sentry-release.yml
  packages/quiz-service/Dockerfile
  packages/quiz-service/package.json
  packages/quiz-service/src/app/app.module.ts
  packages/quiz-service/src/app/controllers/app.controller.ts
  packages/quiz-service/src/app/controllers/index.ts
  packages/quiz-service/src/app/filters/all-exceptions.filter.ts
  packages/quiz-service/src/instrument.ts
  packages/quiz-service/src/main.ts
  packages/quiz-service/tsconfig.json
  packages/quiz/Dockerfile
  packages/quiz/nginx.conf.template
  packages/quiz/package.json
  packages/quiz/src/config.ts
  packages/quiz/src/instrument.ts
  packages/quiz/src/main.tsx
  packages/quiz/vite.config.ts
  yarn.lock
Due: quiz, quiz-service

fix(api): prevent infinite API request loops
  packages/quiz/src/api/use-quiz-service-client.tsx
  packages/quiz/src/pages/GameResultsPage/GameResultsPage.tsx
  packages/quiz/src/pages/QuizDetailsPage/QuizDetailsPage.tsx
Due: quiz

fix(api): prevent infinite API request loops (#157)
  packages/quiz/src/api/use-quiz-service-client.tsx
  packages/quiz/src/pages/GameResultsPage/GameResultsPage.tsx
  packages/quiz/src/pages/QuizDetailsPage/QuizDetailsPage.tsx
Due: quiz

feat(sentry): add deploy tracking and enrich context metadata
  .github/workflows/main.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/sentry-release.yml
  packages/quiz-service/src/instrument.ts
  packages/quiz/src/context/user/UserContextProvider.tsx
  packages/quiz/src/instrument.ts
  packages/quiz/src/pages/GamePage/GamePage.tsx
Due: quiz, quiz-service

feat(sentry): add deploy tracking and enrich context metadata (#159)
  .github/workflows/main.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/sentry-release.yml
  packages/quiz-service/src/instrument.ts
  packages/quiz/src/context/user/UserContextProvider.tsx
  packages/quiz/src/instrument.ts
  packages/quiz/src/pages/GamePage/GamePage.tsx
Due: quiz, quiz-service

feat(common): add Pin and Puzzle question types
  packages/common/eslint.config.mjs
  packages/common/src/models/game-event.ts
  packages/common/src/models/index.ts
  packages/common/src/models/question-pin-tolerance.enum.ts
  packages/common/src/models/question-type.enum.ts
  packages/common/src/models/question.dto.ts
  packages/common/src/models/quiz.dto.ts
  packages/common/src/models/submit-question-answer.request.dto.ts
  packages/common/src/utils/constants.ts
Due: none

feat(quiz-service): support Pin and Puzzle question types
  packages/quiz-service/eslint.config.mjs
  packages/quiz-service/src/game/controllers/game-result.controller.e2e-spec.ts
  packages/quiz-service/src/game/controllers/game.controller.e2e-spec.ts
  packages/quiz-service/src/game/controllers/game.controller.ts
  packages/quiz-service/src/game/controllers/models/requests/index.ts
  packages/quiz-service/src/game/controllers/models/requests/pin-question-correct-answer-request.ts
  packages/quiz-service/src/game/controllers/models/requests/puzzle-question-correct-answer-request.ts
  packages/quiz-service/src/game/controllers/models/requests/submit-pin-question-answer.request.ts
  packages/quiz-service/src/game/controllers/models/requests/submit-puzzle-question-answer.request.ts
  packages/quiz-service/src/game/controllers/quiz-game.controller.e2e-spec.ts
  packages/quiz-service/src/game/pipes/parse-correct-answer-request.pipe.ts
  packages/quiz-service/src/game/pipes/parse-submit-question-answer-request.pipe.ts
  packages/quiz-service/src/game/repositories/models/schemas/game.schema.ts
  packages/quiz-service/src/game/repositories/models/schemas/task.schema.ts
  packages/quiz-service/src/game/services/game.service.ts
  packages/quiz-service/src/game/services/utils/game-event.converter.spec.ts
  packages/quiz-service/src/game/services/utils/game-event.converter.ts
  packages/quiz-service/src/game/services/utils/question-answer.utils.ts
  packages/quiz-service/src/game/services/utils/task.converter.spec.ts
  packages/quiz-service/src/game/services/utils/task.converter.ts
  packages/quiz-service/src/quiz/controllers/decorators/api/api-question-pin-image-url-property.decorator.ts
  packages/quiz-service/src/quiz/controllers/decorators/api/api-question-pin-position-x-property.decorator.ts
  packages/quiz-service/src/quiz/controllers/decorators/api/api-question-pin-position-y-property.decorator.ts
  packages/quiz-service/src/quiz/controllers/decorators/api/api-question-pin-tolerance-property.decorator.ts
  packages/quiz-service/src/quiz/controllers/decorators/api/api-question-puzzle-values-property.decorator.ts
  packages/quiz-service/src/quiz/controllers/decorators/api/index.ts
  packages/quiz-service/src/quiz/controllers/models/index.ts
  packages/quiz-service/src/quiz/controllers/models/question-pin.ts
  packages/quiz-service/src/quiz/controllers/models/question-puzzle.ts
  packages/quiz-service/src/quiz/controllers/models/quiz-classic.request.ts
  packages/quiz-service/src/quiz/controllers/profile-quiz.controller.e2e-spec.ts
  packages/quiz-service/src/quiz/controllers/quiz.controller.e2e-spec.ts
  packages/quiz-service/src/quiz/controllers/quiz.controller.ts
  packages/quiz-service/src/quiz/repositories/models/schemas/question.schema.ts
  packages/quiz-service/src/quiz/repositories/models/schemas/quiz.schema.ts
  packages/quiz-service/src/quiz/services/quiz.service.ts
  packages/quiz-service/src/quiz/services/utils/question.utils.ts
  packages/quiz-service/test-utils/data/data.utils.ts
  packages/quiz-service/test-utils/data/index.ts
  packages/quiz-service/test-utils/data/quiz.dto.utils.ts
Due: quiz-service

feat(quiz) WIP frontend new question types
  packages/quiz/eslint.config.mjs
  packages/quiz/package.json
  packages/quiz/src/components/PinImage/PinImage.module.scss
  packages/quiz/src/components/PinImage/PinImage.stories.tsx
  packages/quiz/src/components/PinImage/PinImage.test.tsx
  packages/quiz/src/components/PinImage/PinImage.tsx
  packages/quiz/src/components/PinImage/__snapshots__/PinImage.test.tsx.snap
  packages/quiz/src/components/PinImage/index.ts
  packages/quiz/src/components/QuestionResults/QuestionResults.tsx
  packages/quiz/src/components/ResponsiveImage/ResponsiveImage.module.scss
  packages/quiz/src/components/ResponsiveImage/ResponsiveImage.stories.tsx
  packages/quiz/src/components/ResponsiveImage/ResponsiveImage.tsx
  packages/quiz/src/components/ResponsiveImage/__snapshots__/ResponsiveImage.test.tsx.snap
  packages/quiz/src/components/index.ts
  packages/quiz/src/models/labels.ts
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/__snapshots__/QuizCreatorPageUI.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/AdvancedQuestionEditor/utils/parse-questions-json.ts
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/QuestionEditor.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/__snapshots__/QuestionEditor.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/MediaQuestionField/MediaQuestionField.module.scss
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/PinQuestionField/PinQuestionField.module.scss
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/PinQuestionField/PinQuestionField.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/PinQuestionField/index.ts
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/PuzzleValues.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/QuestionField.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/__snapshots__/QuestionField.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/types.ts
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionForm/QuestionForm.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionForm/__snapshots__/QuestionForm.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionForm/index.ts
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/index.ts
  packages/quiz/src/pages/QuizCreatorPage/utils/QuestionDataSource/question-data-source.hook.tsx
  packages/quiz/src/pages/QuizCreatorPage/utils/QuestionDataSource/question-data-source.types.ts
  packages/quiz/src/pages/QuizCreatorPage/utils/QuestionDataSource/question-data-source.utils.ts
  packages/quiz/src/pages/QuizDetailsPage/components/QuizDetailsPageUI/__snapshots__/QuizDetailsPageUI.test.tsx.snap
  packages/quiz/src/setupTests.ts
  packages/quiz/src/states/HostQuestionState/HostQuestionState.module.scss
  packages/quiz/src/states/HostQuestionState/HostQuestionState.tsx
  packages/quiz/src/states/HostQuestionState/__snapshots__/HostQuestionState.test.tsx.snap
  yarn.lock
Due: quiz

WIP FE fixes
  packages/common/src/models/game-event.ts
  packages/quiz-service/src/game/services/utils/game-event.converter.ts
  packages/quiz/src/components/PinImage/PinImage.tsx
  packages/quiz/src/components/QuestionAnswerPicker/QuestionAnswerPicker.tsx
  packages/quiz/src/components/QuestionAnswerPicker/components/AnswerPin/AnswerPin.module.scss
  packages/quiz/src/components/QuestionAnswerPicker/components/AnswerPin/AnswerPin.tsx
  packages/quiz/src/components/QuestionAnswerPicker/components/AnswerPin/index.ts
  packages/quiz/src/components/QuestionAnswerPicker/components/AnswerSort/AnswerSort.module.scss
  packages/quiz/src/components/QuestionAnswerPicker/components/AnswerSort/AnswerSort.tsx
  packages/quiz/src/components/QuestionAnswerPicker/components/AnswerSort/index.ts
  packages/quiz/src/components/QuestionAnswerPicker/components/index.ts
  packages/quiz/src/states/HostQuestionState/HostQuestionState.stories.tsx
  packages/quiz/src/states/HostQuestionState/HostQuestionState.tsx
Due: quiz, quiz-service

Downgrade @fortawesome/react-fontawesome to v0.2.3
  packages/quiz/package.json
Due: quiz

feat(user-service): add nickname generation for new Google users
  packages/quiz-service/src/user/services/user.service.ts
Due: quiz-service

feat(user-service): add nickname generation for new Google users (#163)
  packages/quiz-service/src/user/services/user.service.ts
Due: quiz-service

fix(game-events): improve error handling in publisher and subscriber
  packages/quiz-service/src/game/services/game-event.publisher.spec.ts
  packages/quiz-service/src/game/services/game-event.publisher.ts
  packages/quiz-service/src/game/services/game-event.subscriber.spec.ts
  packages/quiz-service/src/game/services/game-event.subscriber.ts
  packages/quiz-service/src/game/services/utils/game-result.converter.ts
Due: quiz-service

fix(game-events): improve error handling in publisher and subscriber (#164)
  packages/quiz-service/src/game/services/game-event.publisher.spec.ts
  packages/quiz-service/src/game/services/game-event.publisher.ts
  packages/quiz-service/src/game/services/game-event.subscriber.spec.ts
  packages/quiz-service/src/game/services/game-event.subscriber.ts
  packages/quiz-service/src/game/services/utils/game-result.converter.ts
Due: quiz-service

feat(game): hide login on game and join pages
  packages/quiz/src/pages/GameJoinPage/GameJoinPage.tsx
  packages/quiz/src/pages/GameJoinPage/__snapshots__/GameJoinPage.test.tsx.snap
  packages/quiz/src/pages/GamePage/GamePage.tsx
  packages/quiz/src/pages/GamePage/__snapshots__/GamePage.test.tsx.snap
  packages/quiz/src/states/HostLobbyState/HostLobbyState.tsx
  packages/quiz/src/states/HostLobbyState/__snapshots__/HostLobbyState.test.tsx.snap
Due: quiz

feat(game): hide login on game and join pages (#165)
  packages/quiz/src/pages/GameJoinPage/GameJoinPage.tsx
  packages/quiz/src/pages/GameJoinPage/__snapshots__/GameJoinPage.test.tsx.snap
  packages/quiz/src/pages/GamePage/GamePage.tsx
  packages/quiz/src/pages/GamePage/__snapshots__/GamePage.test.tsx.snap
  packages/quiz/src/states/HostLobbyState/HostLobbyState.tsx
  packages/quiz/src/states/HostLobbyState/__snapshots__/HostLobbyState.test.tsx.snap
Due: quiz

feat(responsive-image): enhance component with loading and error states
  packages/quiz/src/components/ResponsiveImage/ResponsiveImage.module.scss
  packages/quiz/src/components/ResponsiveImage/ResponsiveImage.stories.tsx
  packages/quiz/src/components/ResponsiveImage/ResponsiveImage.tsx
  packages/quiz/src/components/ResponsiveImage/__snapshots__/ResponsiveImage.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/__snapshots__/QuizCreatorPageUI.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/__snapshots__/QuestionEditor.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/MediaQuestionField/MediaQuestionField.module.scss
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/__snapshots__/QuestionField.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionForm/__snapshots__/QuestionForm.test.tsx.snap
  packages/quiz/src/pages/QuizDetailsPage/components/QuizDetailsPageUI/__snapshots__/QuizDetailsPageUI.test.tsx.snap
  packages/quiz/src/states/HostQuestionState/__snapshots__/HostQuestionState.test.tsx.snap
Due: quiz

feat(responsive-image): enhance component with loading and error states (#166)
  packages/quiz/src/components/ResponsiveImage/ResponsiveImage.module.scss
  packages/quiz/src/components/ResponsiveImage/ResponsiveImage.stories.tsx
  packages/quiz/src/components/ResponsiveImage/ResponsiveImage.tsx
  packages/quiz/src/components/ResponsiveImage/__snapshots__/ResponsiveImage.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/__snapshots__/QuizCreatorPageUI.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/__snapshots__/QuestionEditor.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/MediaQuestionField/MediaQuestionField.module.scss
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/__snapshots__/QuestionField.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionForm/__snapshots__/QuestionForm.test.tsx.snap
  packages/quiz/src/pages/QuizDetailsPage/components/QuizDetailsPageUI/__snapshots__/QuizDetailsPageUI.test.tsx.snap
  packages/quiz/src/states/HostQuestionState/__snapshots__/HostQuestionState.test.tsx.snap
Due: quiz

feat(auth): add automatic user token refresh handling
  packages/quiz/src/api/use-quiz-service-client.tsx
  packages/quiz/src/context/auth/AuthContextProvider.tsx
Due: quiz

feat(auth): add automatic user token refresh handling (#167)
  packages/quiz/src/api/use-quiz-service-client.tsx
  packages/quiz/src/context/auth/AuthContextProvider.tsx
Due: quiz

feat(user): extend user context with auth provider and sync to Sentry
  packages/quiz/src/context/user/UserContext.tsx
  packages/quiz/src/context/user/UserContextProvider.tsx
  packages/quiz/src/pages/ProfileUserPage/ProfileUserPage.tsx
Due: quiz

feat(user): extend user context with auth provider and sync to Sentry (#168)
  packages/quiz/src/context/user/UserContext.tsx
  packages/quiz/src/context/user/UserContextProvider.tsx
  packages/quiz/src/pages/ProfileUserPage/ProfileUserPage.tsx
Due: quiz

feat(auth): add Sentry user and game context in AuthGuard
  packages/quiz-service/src/auth/guards/auth.guard.ts
Due: quiz-service

feat(auth): add Sentry user and game context in AuthGuard (#169)
  packages/quiz-service/src/auth/guards/auth.guard.ts
Due: quiz-service

feat(auth): fetch current user after successful token refresh
  packages/quiz/src/api/use-quiz-service-client.tsx
Due: quiz

feat(frontend): updated HomePage styles and Page components
  packages/quiz/src/components/Page/Page.module.scss
  packages/quiz/src/components/PageProminentIcon/PageProminentIcon.module.scss
  packages/quiz/src/pages/HomePage/HomePage.module.scss
  packages/quiz/src/pages/HomePage/HomePage.tsx
  yarn.lock
Due: quiz

feat(auth): fetch current user after successful token refresh (#170)
  packages/quiz/src/api/use-quiz-service-client.tsx
Due: quiz

✅ Complete frontend UI fixes - All 7 items implemented
  packages/quiz/src/components/Button/Button.module.scss
  packages/quiz/src/components/Button/Button.stories.tsx
  packages/quiz/src/components/Button/Button.test.tsx
  packages/quiz/src/components/Button/Button.tsx
  packages/quiz/src/components/PageProminentIcon/PageProminentIcon.module.scss
  packages/quiz/src/components/TextField/TextField.module.scss
  packages/quiz/src/components/TextField/TextField.stories.tsx
  packages/quiz/src/components/TextField/TextField.tsx
  packages/quiz/src/components/Textarea/Textarea.module.scss
  packages/quiz/src/components/Textarea/Textarea.stories.tsx
  packages/quiz/src/components/Textarea/Textarea.tsx
  packages/quiz/src/components/Typography/Typography.module.scss
  packages/quiz/src/components/Typography/Typography.stories.tsx
  packages/quiz/src/components/Typography/Typography.test.tsx
  packages/quiz/src/components/Typography/Typography.tsx
  packages/quiz/src/pages/HomePage/HomePage.module.scss
  packages/quiz/src/pages/HomePage/HomePage.tsx
  packages/quiz/src/styles/inputs.scss
Due: quiz

feat(common): add Pin and Puzzle question types
  packages/common/eslint.config.mjs
  packages/common/src/models/game-event.ts
  packages/common/src/models/index.ts
  packages/common/src/models/question-pin-tolerance.enum.ts
  packages/common/src/models/question-type.enum.ts
  packages/common/src/models/question.dto.ts
  packages/common/src/models/quiz.dto.ts
  packages/common/src/models/submit-question-answer.request.dto.ts
  packages/common/src/utils/array.utils.ts
  packages/common/src/utils/constants.ts
  packages/common/src/utils/index.ts
Due: none

chore(deps): bump @fortawesome/react-fontawesome to 3.0.2
  packages/quiz/package.json
  packages/quiz/src/components/HostGameFooter/__snapshots__/HostGameFooter.test.tsx.snap
  packages/quiz/src/components/IconTooltip/__snapshots__/IconTooltip.test.tsx.snap
  packages/quiz/src/components/LegacyInfoCard/components/LegacyInfoCardUI/__snapshots__/LegacyInfoCardUI.test.tsx.snap
  packages/quiz/src/components/MediaModal/__snapshots__/MediaModal.test.tsx.snap
  packages/quiz/src/components/NicknameTextField/__snapshots__/NicknameTextField.test.tsx.snap
  packages/quiz/src/components/PlayerGameFooter/__snapshots__/PlayerGameFooter.test.tsx.snap
  packages/quiz/src/components/QuizTable/__snapshots__/QuizTable.test.tsx.snap
  packages/quiz/src/components/QuizTableFilter/__snapshots__/QuizTableFilter.test.tsx.snap
  packages/quiz/src/components/TextField/__snapshots__/Textfield.test.tsx.snap
  packages/quiz/src/pages/AuthPasswordForgotPage/components/AuthPasswordForgotPageUI/__snapshots__/AuthPasswordForgotPageUI.test.tsx.snap
  packages/quiz/src/pages/AuthPasswordResetPage/components/AuthPasswordResetPageUI/__snapshots__/AuthPasswordResetPageUI.test.tsx.snap
  packages/quiz/src/pages/AuthVerifyPage/components/AuthVerifyPageUI/__snapshots__/AuthVerifyPageUI.test.tsx.snap
  packages/quiz/src/pages/ErrorPage/__snapshots__/ErrorPage.test.tsx.snap
  packages/quiz/src/pages/GameJoinPage/__snapshots__/GameJoinPage.test.tsx.snap
  packages/quiz/src/pages/GameResultsPage/components/GameResultsPageUI/__snapshots__/GameResultsPageUI.test.tsx.snap
  packages/quiz/src/pages/LegacyRedirectionPage/__snapshots__/LegacyRedirectionPage.test.tsx.snap
  packages/quiz/src/pages/ProfileGamesPage/ProfileGamesPageUI/__snapshots__/ProfileGamesPageUI.test.tsx.snap
  packages/quiz/src/pages/ProfileQuizzesPage/components/ProfileQuizzesPageUI/__snapshots__/ProfileQuizzesPageUI.test.tsx.snap
  packages/quiz/src/pages/ProfileUserPage/components/ProfileUserPageUI/__snapshots__/ProfileUserPageUI.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/__snapshots__/QuizCreatorPageUI.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/__snapshots__/QuestionEditor.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/__snapshots__/QuestionField.test.tsx.snap
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionForm/__snapshots__/QuestionForm.test.tsx.snap
  packages/quiz/src/pages/QuizDetailsPage/components/QuizDetailsPageUI/__snapshots__/QuizDetailsPageUI.test.tsx.snap
  packages/quiz/src/pages/QuizDiscoverPage/components/QuizDiscoverPageUI/__snapshots__/QuizDiscoverPageUI.test.tsx.snap
  packages/quiz/src/states/HostGameBeginState/__snapshots__/HostGameBeginState.test.tsx.snap
  packages/quiz/src/states/HostLeaderboardState/__snapshots__/HostLeaderboardState.test.tsx.snap
  packages/quiz/src/states/HostLobbyState/__snapshots__/HostLobbyState.test.tsx.snap
  packages/quiz/src/states/HostPodiumState/__snapshots__/HostPodiumState.test.tsx.snap
  packages/quiz/src/states/HostQuestionPreviewState/__snapshots__/HostQuestionPreviewState.test.tsx.snap
  packages/quiz/src/states/HostQuestionState/__snapshots__/HostQuestionState.test.tsx.snap
  packages/quiz/src/states/HostResultState/__snapshots__/HostResultState.test.tsx.snap
  packages/quiz/src/states/PlayerAwaitingResultState/__snapshots__/PlayerAwaitingResultState.test.tsx.snap
  packages/quiz/src/states/PlayerGameBeginState/__snapshots__/PlayerGameBeginState.test.tsx.snap
  packages/quiz/src/states/PlayerQuestionPreviewState/__snapshots__/PlayerQuestionPreviewState.test.tsx.snap
  packages/quiz/src/states/PlayerQuestionState/__snapshots__/PlayerQuestionState.test.tsx.snap
  yarn.lock
Due: quiz

feat(quiz): enhance PinImage and ConfirmDialog components
  packages/quiz/src/components/ConfirmDialog/ConfirmDialog.tsx
  packages/quiz/src/components/PinImage/PinImage.module.scss
  packages/quiz/src/components/PinImage/PinImage.tsx
  packages/quiz/src/components/ResponsiveImage/ResponsiveImage.module.scss
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/PinQuestionField/PinQuestionField.module.scss
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/PinQuestionField/PinQuestionField.tsx
  packages/quiz/src/styles/variables.scss
Due: quiz

feat(quiz): enhance PinImage and ConfirmDialog components (#174)
  packages/quiz/src/components/ConfirmDialog/ConfirmDialog.tsx
  packages/quiz/src/components/PinImage/PinImage.module.scss
  packages/quiz/src/components/PinImage/PinImage.tsx
  packages/quiz/src/components/ResponsiveImage/ResponsiveImage.module.scss
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/PinQuestionField/PinQuestionField.module.scss
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/PinQuestionField/PinQuestionField.tsx
  packages/quiz/src/styles/variables.scss
Due: quiz

Implement generic repository pattern for data access layer
  packages/quiz-service/src/app/shared/repository/base-repository.interface.ts
  packages/quiz-service/src/app/shared/repository/base.repository.ts
  packages/quiz-service/src/app/shared/repository/index.ts
  packages/quiz-service/src/app/shared/repository/types.ts
  packages/quiz-service/src/app/shared/repository/utils.ts
  packages/quiz-service/src/auth/services/auth.service.ts
  packages/quiz-service/src/auth/services/token.repository.ts
  packages/quiz-service/src/game/repositories/game.repository.ts
  packages/quiz-service/src/quiz/repositories/quiz.repository.ts
  packages/quiz-service/src/user/repositories/user.repository.ts
  packages/quiz-service/tsconfig.json
Due: quiz-service

ci(workflows): Enforce secret-backed PR checks; skip forks and add manual validation
  .github/workflows/build.yml
  .github/workflows/main.yml
  .github/workflows/manual-validate.yml
  .github/workflows/pull-request.yml
  .github/workflows/pull_request.yml
Due: none

ci(workflows): Enforce secret-backed PR checks; skip forks and add manual validation (#176)
  .github/workflows/build.yml
  .github/workflows/main.yml
  .github/workflows/manual-validate.yml
  .github/workflows/pull-request.yml
  .github/workflows/pull_request.yml
Due: none

Path conditions:
  quiz: any of: packages/quiz/**
  quiz-service: any of: packages/quiz-service/**
