Repository emilhornlund/quiz: changes, and which Codecov flags are due for each by the changed paths.
All: common, klurigo-web, klurigo-service

codecov.yml:

comment:
  layout: "reach, diff, flags, components, files, tree"
  require_changes: false
  behavior: default
  hide_project_coverage: false

component_management:
  default_rules:
    statuses:
      - type: project
        informational: true
      - type: patch
        informational: true
  individual_components:
    - component_id: common
      name: common
      paths:
        - packages/common/**
    - component_id: klurigo-web
      name: klurigo-web
      paths:
        - packages/klurigo-web/**
    - component_id: klurigo-service
      name: klurigo-service
      paths:
        - packages/klurigo-service/**

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
        informational: false
        only_pulls: true
    patch:
      default:
        target: 80%
        base: auto
        informational: false
        only_pulls: true

feat(klurigo-web): increase question text preview font size
  packages/klurigo-web/src/states/HostQuestionPreviewState/__snapshots__/HostQuestionPreviewState.test.tsx.snap
  packages/klurigo-web/src/states/PlayerQuestionPreviewState/__snapshots__/PlayerQuestionPreviewState.test.tsx.snap
  packages/klurigo-web/src/states/common/QuestionTextPreview/QuestionTextPreview.tsx
Due: klurigo-web

feat(scoring): Improve Classic Range scoring fairness with precision curve
  packages/klurigo-service/src/modules/game-task/utils/scoring/classic/classic-range-strategy.spec.ts
  packages/klurigo-service/src/modules/game-task/utils/scoring/classic/classic-range-strategy.ts
Due: klurigo-service

refactor(game-api): extract player participant creation into shared util
  packages/klurigo-service/src/modules/game-api/services/game.service.ts
  packages/klurigo-service/src/modules/game-api/services/utils/index.ts
  packages/klurigo-service/src/modules/game-api/services/utils/participant.utils.spec.ts
  packages/klurigo-service/src/modules/game-api/services/utils/participant.utils.ts
Due: klurigo-service

docs(agents): align contributor guidelines and include markdown in editorconfig
  .editorconfig
  AGENTS.md
Due: none

fix(quiz-creator): avoid hydrating questions from stale react-query cache
  packages/klurigo-web/src/pages/QuizCreatorPage/QuizCreatorPage.test.tsx
  packages/klurigo-web/src/pages/QuizCreatorPage/QuizCreatorPage.tsx
Due: klurigo-web

fix(klurigo-web): ensure revoke redirects win before auth guards
  packages/klurigo-web/.storybook/mockAuthContext.tsx
  packages/klurigo-web/src/components/Page/Page.tsx
  packages/klurigo-web/src/components/ProtectedRoute/ProtectedRoute.tsx
  packages/klurigo-web/src/context/auth/AuthContextProvider.test.tsx
  packages/klurigo-web/src/context/auth/AuthContextProvider.tsx
  packages/klurigo-web/src/context/auth/auth-context.tsx
  packages/klurigo-web/src/context/game/GameContextProvider.tsx
  packages/klurigo-web/src/pages/GamePage/GamePage.tsx
  packages/klurigo-web/src/pages/HomePage/HomePage.tsx
  packages/klurigo-web/src/pages/ProfileGamesPage/ProfileGamesPage.tsx
Due: klurigo-web

fix(web): stabilize PinImage dragging cursor and expand Pin/PinImage coverage
  packages/klurigo-web/src/components/PinImage/Pin.test.tsx
  packages/klurigo-web/src/components/PinImage/Pin.tsx
  packages/klurigo-web/src/components/PinImage/PinImage.module.scss
  packages/klurigo-web/src/components/PinImage/PinImage.stories.tsx
  packages/klurigo-web/src/components/PinImage/PinImage.test.tsx
  packages/klurigo-web/src/components/PinImage/PinImage.tsx
  packages/klurigo-web/src/components/PinImage/__snapshots__/Pin.test.tsx.snap
  packages/klurigo-web/src/components/PinImage/__snapshots__/PinImage.test.tsx.snap
Due: klurigo-web

feat(quiz-details): redesign header layout with thumbnail and action section
  packages/klurigo-web/src/pages/QuizDetailsPage/components/QuizDetailsPageUI/QuizDetailsPageUI.module.scss
  packages/klurigo-web/src/pages/QuizDetailsPage/components/QuizDetailsPageUI/QuizDetailsPageUI.tsx
  packages/klurigo-web/src/pages/QuizDetailsPage/components/QuizDetailsPageUI/__snapshots__/QuizDetailsPageUI.test.tsx.snap
Due: klurigo-web

fix(web): harden test suite by failing act warnings and stabilizing timers
  packages/klurigo-web/src/components/Badge/Badge.test.tsx
  packages/klurigo-web/src/components/ProgressBar/ProgressBar.test.tsx
  packages/klurigo-web/src/components/ProgressBar/__snapshots__/ProgressBar.test.tsx.snap
  packages/klurigo-web/src/components/ResponsivePlayer/ResponsivePlayer.test.tsx
  packages/klurigo-web/src/components/ResponsivePlayer/__snapshots__/ResponsivePlayer.test.tsx.snap
  packages/klurigo-web/src/context/auth/AuthContextProvider.test.tsx
  packages/klurigo-web/src/context/user/UserContextProvider.test.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/SummarySection.test.tsx
  packages/klurigo-web/src/pages/HomePage/HomePage.test.tsx
  packages/klurigo-web/src/setupTests.ts
  packages/klurigo-web/src/states/HostLeaderboardState/HostLeaderboardState.test.tsx
  packages/klurigo-web/src/states/HostLeaderboardState/__snapshots__/HostLeaderboardState.test.tsx.snap
  packages/klurigo-web/src/states/HostLobbyState/HostLobbyState.test.tsx
  packages/klurigo-web/src/states/HostLobbyState/__snapshots__/HostLobbyState.test.tsx.snap
  packages/klurigo-web/src/states/HostPodiumState/HostPodiumState.test.tsx
  packages/klurigo-web/src/states/HostPodiumState/__snapshots__/HostPodiumState.test.tsx.snap
  packages/klurigo-web/src/states/HostQuestionState/HostQuestionState.test.tsx
  packages/klurigo-web/src/states/HostQuestionState/__snapshots__/HostQuestionState.test.tsx.snap
  packages/klurigo-web/src/states/HostResultState/HostResultState.test.tsx
  packages/klurigo-web/src/states/HostResultState/__snapshots__/HostResultState.test.tsx.snap
  packages/klurigo-web/src/states/PlayerQuestionState/PlayerQuestionState.test.tsx
  packages/klurigo-web/src/states/PlayerQuestionState/__snapshots__/PlayerQuestionState.test.tsx.snap
  packages/klurigo-web/src/states/common/HostGameFooter/components/PlayerManagementModal/PlayerManagementModal.test.tsx
  packages/klurigo-web/src/utils/useEventSource.test.tsx
  packages/klurigo-web/vite.config.ts
  packages/klurigo-web/vitest.config.ts
Due: klurigo-web

feat(quiz-rating): add rating DTOs, persistence, and aggregated rating summary
  packages/common/src/models/index.ts
  packages/common/src/models/quiz-rating.dto.ts
  packages/klurigo-service/src/modules/quiz/exceptions/index.ts
  packages/klurigo-service/src/modules/quiz/exceptions/quiz-rating-not-found.exception.ts
  packages/klurigo-service/src/modules/quiz/quiz.module.ts
  packages/klurigo-service/src/modules/quiz/repositories/index.ts
  packages/klurigo-service/src/modules/quiz/repositories/models/schemas/index.ts
  packages/klurigo-service/src/modules/quiz/repositories/models/schemas/quiz-rating-summary.schema.ts
  packages/klurigo-service/src/modules/quiz/repositories/models/schemas/quiz-rating.schema.ts
  packages/klurigo-service/src/modules/quiz/repositories/models/schemas/quiz.schema.ts
  packages/klurigo-service/src/modules/quiz/repositories/quiz-rating.repository.spec.ts
  packages/klurigo-service/src/modules/quiz/repositories/quiz-rating.repository.ts
  packages/klurigo-service/src/modules/quiz/services/index.ts
  packages/klurigo-service/src/modules/quiz/services/quiz-rating.service.spec.ts
  packages/klurigo-service/src/modules/quiz/services/quiz-rating.service.ts
  packages/klurigo-service/src/modules/quiz/services/quiz.service.ts
  packages/klurigo-service/src/modules/quiz/services/utils/index.ts
  packages/klurigo-service/src/modules/quiz/services/utils/quiz-rating-summary.utils.spec.ts
  packages/klurigo-service/src/modules/quiz/services/utils/quiz-rating-summary.utils.ts
  packages/klurigo-service/test-utils/data/data.utils.ts
Due: common, klurigo-service

refactor(quiz): split quiz ratings into dedicated API module
  packages/klurigo-service/src/app/app.module.ts
  packages/klurigo-service/src/modules/quiz-api/quiz-api.module.ts
  packages/klurigo-service/src/modules/quiz-api/repositories/index.ts
  packages/klurigo-service/src/modules/quiz-api/repositories/models/schemas/index.ts
  packages/klurigo-service/src/modules/quiz-api/services/index.ts
  packages/klurigo-service/src/modules/quiz-api/services/quiz.service.ts
  packages/klurigo-service/src/modules/quiz-core/quiz-core.module.ts
  packages/klurigo-service/src/modules/quiz-core/repositories/index.ts
  packages/klurigo-service/src/modules/quiz-core/repositories/models/schemas/index.ts
  packages/klurigo-service/src/modules/quiz-core/repositories/models/schemas/quiz-rating.schema.ts
  packages/klurigo-service/src/modules/quiz-core/repositories/quiz-rating.repository.spec.ts
  packages/klurigo-service/src/modules/quiz-core/repositories/quiz-rating.repository.ts
  packages/klurigo-service/src/modules/quiz-rating-api/exceptions/index.ts
  packages/klurigo-service/src/modules/quiz-rating-api/exceptions/quiz-rating-not-found.exception.ts
  packages/klurigo-service/src/modules/quiz-rating-api/index.ts
  packages/klurigo-service/src/modules/quiz-rating-api/quiz-rating-api.module.ts
  packages/klurigo-service/src/modules/quiz-rating-api/services/index.ts
  packages/klurigo-service/src/modules/quiz-rating-api/services/quiz-rating.service.spec.ts
  packages/klurigo-service/src/modules/quiz-rating-api/services/quiz-rating.service.ts
  packages/klurigo-service/src/modules/quiz-rating-api/utils/index.ts
  packages/klurigo-service/src/modules/quiz-rating-api/utils/quiz-rating-summary.utils.spec.ts
  packages/klurigo-service/src/modules/quiz-rating-api/utils/quiz-rating-summary.utils.ts
  packages/klurigo-service/test-utils/data/data.utils.ts
Due: klurigo-service

feat(quiz-rating): add authorization guard and repository support with tests
  packages/klurigo-service/src/modules/game-core/repositories/game.repository.spec.ts
  packages/klurigo-service/src/modules/game-core/repositories/game.repository.ts
  packages/klurigo-service/src/modules/quiz-rating-api/guards/index.ts
  packages/klurigo-service/src/modules/quiz-rating-api/guards/quiz-rating.guard.spec.ts
  packages/klurigo-service/src/modules/quiz-rating-api/guards/quiz-rating.guard.ts
  packages/klurigo-service/src/modules/quiz-rating-api/quiz-rating-api.module.ts
Due: klurigo-service

feat(repository): add optional populate support to update operation
  packages/klurigo-service/src/app/shared/repository/base.repository.spec.ts
  packages/klurigo-service/src/app/shared/repository/base.repository.ts
Due: klurigo-service

feat(quiz-rating): add rating endpoints, DTOs, and validation
  packages/common/src/models/quiz-rating.dto.ts
  packages/common/src/utils/constants.ts
  packages/klurigo-service/src/modules/game-api/controllers/quiz-game.controller.ts
  packages/klurigo-service/src/modules/game-core/repositories/game.repository.spec.ts
  packages/klurigo-service/src/modules/game-core/repositories/game.repository.ts
  packages/klurigo-service/src/modules/quiz-api/controllers/decorators/api/index.ts
  packages/klurigo-service/src/modules/quiz-api/controllers/decorators/params/index.ts
  packages/klurigo-service/src/modules/quiz-api/controllers/quiz.controller.ts
  packages/klurigo-service/src/modules/quiz-core/decorators/params/api-quiz-id-param.decorator.ts
  packages/klurigo-service/src/modules/quiz-core/decorators/params/index.ts
  packages/klurigo-service/src/modules/quiz-core/decorators/params/route-quiz-id-param.decorator.ts
  packages/klurigo-service/src/modules/quiz-core/repositories/quiz-rating.repository.spec.ts
  packages/klurigo-service/src/modules/quiz-core/repositories/quiz-rating.repository.ts
  packages/klurigo-service/src/modules/quiz-rating-api/controllers/decorators/auth/authorized-quiz-rating.decorator.ts
  packages/klurigo-service/src/modules/quiz-rating-api/controllers/decorators/auth/index.ts
  packages/klurigo-service/src/modules/quiz-rating-api/controllers/models/create-quiz-rating.request.spec.ts
  packages/klurigo-service/src/modules/quiz-rating-api/controllers/models/create-quiz-rating.request.ts
  packages/klurigo-service/src/modules/quiz-rating-api/controllers/models/index.ts
  packages/klurigo-service/src/modules/quiz-rating-api/controllers/models/paginated-quiz-rating.filter.spec.ts
  packages/klurigo-service/src/modules/quiz-rating-api/controllers/models/paginated-quiz-rating.filter.ts
  packages/klurigo-service/src/modules/quiz-rating-api/controllers/models/paginated-quiz-rating.response.ts
  packages/klurigo-service/src/modules/quiz-rating-api/controllers/models/quiz-rating-author.response.ts
  packages/klurigo-service/src/modules/quiz-rating-api/controllers/models/quiz-rating.response.ts
  packages/klurigo-service/src/modules/quiz-rating-api/controllers/profile-quiz-rating.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/quiz-rating-api/controllers/profile-quiz-rating.controller.ts
  packages/klurigo-service/src/modules/quiz-rating-api/controllers/quiz-rating.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/quiz-rating-api/controllers/quiz-rating.controller.ts
  packages/klurigo-service/src/modules/quiz-rating-api/guards/quiz-rating.guard.spec.ts
  packages/klurigo-service/src/modules/quiz-rating-api/guards/quiz-rating.guard.ts
  packages/klurigo-service/src/modules/quiz-rating-api/quiz-rating-api.module.ts
  packages/klurigo-service/test-utils/data/index.ts
  packages/klurigo-service/test-utils/data/quiz-document.utils.ts
Due: common, klurigo-service

fix(quiz): return populated owner when updating quizzes
  packages/klurigo-service/src/modules/quiz-api/controllers/quiz.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/quiz-core/repositories/quiz.repository.spec.ts
  packages/klurigo-service/src/modules/quiz-core/repositories/quiz.repository.ts
Due: klurigo-service

feat(quiz): expose rating summary in quiz responses
  packages/common/src/models/quiz.dto.ts
  packages/klurigo-service/src/modules/quiz-api/controllers/models/quiz-rating-summary.response.ts
  packages/klurigo-service/src/modules/quiz-api/controllers/models/quiz.response.ts
  packages/klurigo-service/src/modules/quiz-api/controllers/quiz.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/quiz-api/services/quiz.service.ts
Due: common, klurigo-service

feat(quiz-rating): track commentCount in quiz rating summaries
  packages/klurigo-service/src/modules/quiz-api/services/quiz.service.ts
  packages/klurigo-service/src/modules/quiz-core/repositories/models/schemas/quiz-rating-summary.schema.ts
  packages/klurigo-service/src/modules/quiz-rating-api/services/quiz-rating.service.spec.ts
  packages/klurigo-service/src/modules/quiz-rating-api/services/quiz-rating.service.ts
  packages/klurigo-service/src/modules/quiz-rating-api/utils/quiz-rating-summary.utils.spec.ts
  packages/klurigo-service/src/modules/quiz-rating-api/utils/quiz-rating-summary.utils.ts
  packages/klurigo-service/test-utils/data/data.utils.ts
Due: klurigo-service

feat(game-result): include participant rating in game result response
  packages/common/src/models/game-result.ts
  packages/klurigo-service/src/modules/game-result/controllers/decorators/api/api-game-result-rating-property.decorator.ts
  packages/klurigo-service/src/modules/game-result/controllers/decorators/api/index.ts
  packages/klurigo-service/src/modules/game-result/controllers/game-result.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/game-result/controllers/models/responses/game-result-classic-mode.response.ts
  packages/klurigo-service/src/modules/game-result/controllers/models/responses/game-result-rating.response.ts
  packages/klurigo-service/src/modules/game-result/controllers/models/responses/game-result-zero-to-one-hundred-mode.response.ts
  packages/klurigo-service/src/modules/game-result/game-result.module.ts
  packages/klurigo-service/src/modules/game-result/services/game-result.service.spec.ts
  packages/klurigo-service/src/modules/game-result/services/game-result.service.ts
Due: common, klurigo-service

feat(game-result): expose canRateQuiz flag in game result quiz data
  packages/common/src/models/game-result.ts
  packages/klurigo-service/src/modules/game-result/controllers/game-result.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/game-result/controllers/models/responses/game-result-quiz.response.ts
  packages/klurigo-service/src/modules/game-result/services/game-result.service.spec.ts
  packages/klurigo-service/src/modules/game-result/services/game-result.service.ts
Due: common, klurigo-service

feat(mongodb-migrator): add quiz ratings support and migrate rating summary data
  packages/klurigo-service/src/modules/quiz-core/repositories/models/schemas/quiz.schema.ts
  tools/mongodb-migrator/src/transformers/quiz-rating.transformers.ts
  tools/mongodb-migrator/src/transformers/quiz.transformers.ts
  tools/mongodb-migrator/src/utils/collection.utils.ts
  tools/mongodb-migrator/src/utils/constants.ts
Due: klurigo-service

feat(quiz-rating): restrict quiz owners from rating and broaden completion check to any participant
  packages/klurigo-service/src/modules/game-core/repositories/game.repository.spec.ts
  packages/klurigo-service/src/modules/game-core/repositories/game.repository.ts
  packages/klurigo-service/src/modules/quiz-rating-api/controllers/profile-quiz-rating.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/quiz-rating-api/guards/quiz-rating.guard.spec.ts
  packages/klurigo-service/src/modules/quiz-rating-api/guards/quiz-rating.guard.ts
Due: klurigo-service

feat(web-api): add quiz rating endpoints and improve query param handling
  packages/klurigo-web/src/api/api.utils.test.ts
  packages/klurigo-web/src/api/api.utils.ts
  packages/klurigo-web/src/api/resources/quiz.resource.test.ts
  packages/klurigo-web/src/api/resources/quiz.resource.ts
Due: klurigo-web

refactor(common): rename GameResultRating to GameResultRatingDto
  packages/common/src/models/game-result.ts
  packages/klurigo-service/src/modules/game-result/controllers/models/responses/game-result-rating.response.ts
  packages/klurigo-service/src/modules/game-result/services/game-result.service.ts
Due: common, klurigo-service

feat(web): align tests and stories with quiz rating capabilities
  packages/klurigo-web/src/pages/GameResultsPage/GameResultsPage.test.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.stories.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.test.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/SummarySection.test.tsx
  packages/klurigo-web/src/pages/ProfileQuizzesPage/components/ProfileQuizzesPageUI/ProfileQuizzesPageUI.stories.tsx
  packages/klurigo-web/src/pages/ProfileQuizzesPage/components/ProfileQuizzesPageUI/ProfileQuizzesPageUI.test.tsx
  packages/klurigo-web/src/pages/QuizDetailsPage/components/QuizDetailsPageUI/QuizDetailsPageUI.stories.tsx
  packages/klurigo-web/src/pages/QuizDetailsPage/components/QuizDetailsPageUI/QuizDetailsPageUI.test.tsx
  packages/klurigo-web/src/pages/QuizDiscoverPage/components/QuizDiscoverPageUI/QuizDiscoverPageUI.stories.tsx
  packages/klurigo-web/src/pages/QuizDiscoverPage/components/QuizDiscoverPageUI/QuizDiscoverPageUI.test.tsx
Due: klurigo-web

feat(klurigo-web): add quiz rating UI to game results summary
  packages/klurigo-web/src/pages/GameResultsPage/__snapshots__/GameResultsPage.test.tsx.snap
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.stories.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/__snapshots__/GameResultsPageUI.test.tsx.snap
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/RatingCard.test.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/RatingCard.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/SummarySection.module.scss
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/SummarySection.test.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/SummarySection.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/__snapshots__/SummarySection.test.tsx.snap
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/useQuizRatingDraft.test.ts
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/useQuizRatingDraft.ts
Due: klurigo-web

feat(quiz-rating): add repository replace semantics and align rating summary tests
  packages/klurigo-service/src/app/shared/repository/base.repository.spec.ts
  packages/klurigo-service/src/app/shared/repository/base.repository.ts
  packages/klurigo-service/src/modules/quiz-core/repositories/quiz.repository.ts
  packages/klurigo-service/src/modules/quiz-rating-api/controllers/profile-quiz-rating.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/quiz-rating-api/services/quiz-rating.service.spec.ts
  packages/klurigo-service/src/modules/quiz-rating-api/services/quiz-rating.service.ts
  packages/klurigo-service/src/modules/quiz-rating-api/utils/quiz-rating-summary.utils.spec.ts
Due: klurigo-service

fix(web): stabilize ProgressBar timing logic and eliminate flaky tests
  packages/klurigo-web/src/components/ProgressBar/ProgressBar.test.tsx
  packages/klurigo-web/src/components/ProgressBar/ProgressBar.tsx
  packages/klurigo-web/src/components/ProgressBar/__snapshots__/ProgressBar.test.tsx.snap
  packages/klurigo-web/src/states/HostQuestionState/__snapshots__/HostQuestionState.test.tsx.snap
Due: klurigo-web

feat(user-service): add comprehensive UserService unit tests and improve auth logging
  packages/klurigo-service/src/modules/user/services/user.service.spec.ts
  packages/klurigo-service/src/modules/user/services/user.service.ts
Due: klurigo-service

feat(game-podium): include game name in podium host event
  packages/common/src/models/game-event.ts
  packages/klurigo-service/src/modules/game-event/utils/game-podium-event.utils.spec.ts
  packages/klurigo-service/src/modules/game-event/utils/game-podium-event.utils.ts
  packages/klurigo-service/test-utils/data/data.utils.ts
  packages/klurigo-web/src/states/HostPodiumState/HostPodiumState.stories.tsx
  packages/klurigo-web/src/states/HostPodiumState/HostPodiumState.test.tsx
  packages/klurigo-web/src/states/HostPodiumState/HostPodiumState.tsx
  packages/klurigo-web/src/states/HostPodiumState/__snapshots__/HostPodiumState.test.tsx.snap
Due: common, klurigo-web, klurigo-service

feat(game): emit player join event and persist nickname side-effect
  packages/klurigo-service/src/app/shared/event/game-join.event.ts
  packages/klurigo-service/src/modules/game-api/services/game.service.spec.ts
  packages/klurigo-service/src/modules/game-api/services/game.service.ts
  packages/klurigo-service/src/modules/user/listeners/game-event.listener.spec.ts
  packages/klurigo-service/src/modules/user/listeners/game-event.listener.ts
Due: klurigo-service

feat(web): normalize AnswerPicker grid item heights
  packages/klurigo-web/src/states/common/QuestionAnswerPicker/components/AnswerPicker/AnswerPicker.module.scss
Due: klurigo-web

fix(sse): stabilize event stream with shorter heartbeats and nginx SSE config
  packages/common/src/utils/constants.ts
  packages/klurigo-service/src/modules/game-event/services/game-event.subscriber.spec.ts
  packages/klurigo-web/nginx.conf.template
  packages/klurigo-web/src/utils/useEventSource.test.tsx
  packages/klurigo-web/src/utils/useEventSource.tsx
Due: common, klurigo-web, klurigo-service

fix(web): fix nginx SSE proxy_pass for regex location
  packages/klurigo-web/nginx.conf.template
Due: klurigo-web

fix(web): fix nginx SSE proxy_pass in regex location
  .editorconfig
  packages/klurigo-web/nginx.conf.template
Due: klurigo-web

fix(web): suppress SSE reconnect noise on reload and expand hook tests
  packages/klurigo-web/src/utils/useEventSource.test.tsx
  packages/klurigo-web/src/utils/useEventSource.tsx
Due: klurigo-web

feat(game-events): harden SSE event streaming and Redis pub/sub lifecycle
  packages/klurigo-service/src/main.ts
  packages/klurigo-service/src/modules/game-api/controllers/game.controller.ts
  packages/klurigo-service/src/modules/game-event/services/game-event.publisher.spec.ts
  packages/klurigo-service/src/modules/game-event/services/game-event.publisher.ts
  packages/klurigo-service/src/modules/game-event/services/game-event.subscriber.spec.ts
  packages/klurigo-service/src/modules/game-event/services/game-event.subscriber.ts
Due: klurigo-service

feat(quiz-details): show rating and comment summary in details header
  packages/klurigo-web/src/pages/QuizDetailsPage/components/QuizDetailsPageUI/QuizDetailsPageUI.module.scss
  packages/klurigo-web/src/pages/QuizDetailsPage/components/QuizDetailsPageUI/QuizDetailsPageUI.stories.tsx
  packages/klurigo-web/src/pages/QuizDetailsPage/components/QuizDetailsPageUI/QuizDetailsPageUI.tsx
  packages/klurigo-web/src/pages/QuizDetailsPage/components/QuizDetailsPageUI/__snapshots__/QuizDetailsPageUI.test.tsx.snap
Due: klurigo-web

feat(quiz): add gameplay summary aggregation and schema
  packages/klurigo-service/src/modules/game-result/services/utils/quiz-gameplay-summary.utils.spec.ts
  packages/klurigo-service/src/modules/game-result/services/utils/quiz-gameplay-summary.utils.ts
  packages/klurigo-service/src/modules/quiz-api/services/quiz.service.ts
  packages/klurigo-service/src/modules/quiz-core/repositories/models/schemas/index.ts
  packages/klurigo-service/src/modules/quiz-core/repositories/models/schemas/quiz-gameplay-summary.schema.ts
  packages/klurigo-service/src/modules/quiz-core/repositories/models/schemas/quiz.schema.ts
  packages/klurigo-service/test-utils/data/data.utils.ts
  packages/klurigo-service/test-utils/data/quiz-document.utils.ts
Due: klurigo-service
