Repository emilhornlund/quiz: changes, and which Codecov flags are due for each by the changed paths.
All: common, quiz, quiz-service

codecov.yml:

comment:
  layout: "reach, diff, flags, components, files, tree"
  require_changes: false
  behavior: default
  hide_project_coverage: false

component_management:
  default_rules:
    statuses:
      - type: project
        informational: true
      - type: patch
        informational: true
  individual_components:
    - component_id: common
      name: common
      paths:
        - packages/common/**
    - component_id: quiz
      name: quiz
      paths:
        - packages/quiz/**
    - component_id: quiz-service
      name: quiz-service
      paths:
        - packages/quiz-service/**

coverage:
  status:
    project:
      default:
        informational: true
    patch:
      default:
        informational: true

refactor(game-core): move game authorization to core and centralize access control
  packages/quiz-service/src/modules/game-core/decorators/auth/authorized-game.decorator.ts
  packages/quiz-service/src/modules/game-core/decorators/auth/index.ts
  packages/quiz-service/src/modules/game-core/guards/game-auth.guard.spec.ts
  packages/quiz-service/src/modules/game-core/guards/game-auth.guard.ts
  packages/quiz-service/src/modules/game-core/guards/index.ts
  packages/quiz-service/src/modules/game-result/controllers/game-result.controller.e2e-spec.ts
  packages/quiz-service/src/modules/game-result/controllers/game-result.controller.ts
  packages/quiz-service/src/modules/game-result/services/game-result.service.ts
  packages/quiz-service/src/modules/game/controllers/game.controller.ts
Due: quiz-service

refactor(game-core): move game authorization to core and centralize access control (#259)
  packages/quiz-service/src/modules/game-core/decorators/auth/authorized-game.decorator.ts
  packages/quiz-service/src/modules/game-core/decorators/auth/index.ts
  packages/quiz-service/src/modules/game-core/guards/game-auth.guard.spec.ts
  packages/quiz-service/src/modules/game-core/guards/game-auth.guard.ts
  packages/quiz-service/src/modules/game-core/guards/index.ts
  packages/quiz-service/src/modules/game-result/controllers/game-result.controller.e2e-spec.ts
  packages/quiz-service/src/modules/game-result/controllers/game-result.controller.ts
  packages/quiz-service/src/modules/game-result/services/game-result.service.ts
  packages/quiz-service/src/modules/game/controllers/game.controller.ts
Due: quiz-service

refactor(quiz-service): extract game expiry logic into GameCleanupModule
  packages/quiz-service/src/app/app.module.ts
  packages/quiz-service/src/modules/game-cleanup/game-cleanup.module.ts
  packages/quiz-service/src/modules/game-cleanup/services/game-expiry-scheduler.service.spec.ts
  packages/quiz-service/src/modules/game-cleanup/services/game-expiry-scheduler.service.ts
  packages/quiz-service/src/modules/game-cleanup/services/index.ts
  packages/quiz-service/src/modules/game/game.module.ts
  packages/quiz-service/src/modules/game/services/index.ts
Due: quiz-service

refactor(quiz-service): extract game expiry logic into GameCleanupModule (#260)
  packages/quiz-service/src/app/app.module.ts
  packages/quiz-service/src/modules/game-cleanup/game-cleanup.module.ts
  packages/quiz-service/src/modules/game-cleanup/services/game-expiry-scheduler.service.spec.ts
  packages/quiz-service/src/modules/game-cleanup/services/game-expiry-scheduler.service.ts
  packages/quiz-service/src/modules/game-cleanup/services/index.ts
  packages/quiz-service/src/modules/game/game.module.ts
  packages/quiz-service/src/modules/game/services/index.ts
Due: quiz-service

feat(e2e): add Playwright end-to-end testing with CI gating
  .github/workflows/build.yml
  .github/workflows/main.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/pull-request.yml
  README.md
  packages/quiz-service/package.json
  packages/quiz-service/scripts/e2e/e2e-db.ts
  packages/quiz-service/scripts/e2e/setup.ts
  packages/quiz-service/scripts/e2e/teardown.ts
  packages/quiz/.gitignore
  packages/quiz/e2e-tests/Authentication.spec.ts
  packages/quiz/e2e-tests/HomePage.spec.ts
  packages/quiz/package.json
  packages/quiz/playwright.config.ts
  packages/quiz/playwright.global-setup.ts
  packages/quiz/playwright.global-teardown.ts
  packages/quiz/src/pages/AuthLoginPage/AuthLoginPage.test.tsx
  packages/quiz/src/pages/AuthLoginPage/components/AuthLoginPageUI/AuthLoginPageUI.test.tsx
  packages/quiz/src/pages/AuthLoginPage/components/AuthLoginPageUI/AuthLoginPageUI.tsx
  packages/quiz/src/pages/AuthLoginPage/components/AuthLoginPageUI/__snapshots__/AuthLoginPageUI.test.tsx.snap
  packages/quiz/vite.config.ts
  yarn.lock
Due: quiz, quiz-service

feat(e2e): add Playwright end-to-end testing with CI gating (#263)
  .github/workflows/build.yml
  .github/workflows/main.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/pull-request.yml
  README.md
  packages/quiz-service/package.json
  packages/quiz-service/scripts/e2e/e2e-db.ts
  packages/quiz-service/scripts/e2e/setup.ts
  packages/quiz-service/scripts/e2e/teardown.ts
  packages/quiz/.gitignore
  packages/quiz/e2e-tests/Authentication.spec.ts
  packages/quiz/e2e-tests/HomePage.spec.ts
  packages/quiz/package.json
  packages/quiz/playwright.config.ts
  packages/quiz/playwright.global-setup.ts
  packages/quiz/playwright.global-teardown.ts
  packages/quiz/src/pages/AuthLoginPage/AuthLoginPage.test.tsx
  packages/quiz/src/pages/AuthLoginPage/components/AuthLoginPageUI/AuthLoginPageUI.test.tsx
  packages/quiz/src/pages/AuthLoginPage/components/AuthLoginPageUI/AuthLoginPageUI.tsx
  packages/quiz/src/pages/AuthLoginPage/components/AuthLoginPageUI/__snapshots__/AuthLoginPageUI.test.tsx.snap
  packages/quiz/vite.config.ts
  yarn.lock
Due: quiz, quiz-service

feat(quiz-creator): harden validation, typing, and save flow
  packages/quiz/QUIZ_CREATOR_FIXES.md
  packages/quiz/src/pages/QuizCreatorPage/QuizCreatorPage.test.tsx
  packages/quiz/src/pages/QuizCreatorPage/QuizCreatorPage.tsx
Due: quiz

feat(quiz-creator): centralize quiz settings validation model
  packages/quiz/QUIZ_CREATOR_FIXES.md
  packages/quiz/src/components/Select/Select.tsx
  packages/quiz/src/components/TextField/TextField.tsx
  packages/quiz/src/components/Textarea/Textarea.tsx
  packages/quiz/src/pages/QuizCreatorPage/utils/QuizSettingsDataSource/quiz-settings-data-source.hook.test.tsx
  packages/quiz/src/pages/QuizCreatorPage/utils/QuizSettingsDataSource/quiz-settings-data-source.hook.tsx
  packages/quiz/src/pages/QuizCreatorPage/utils/QuizSettingsDataSource/quiz-settings-data-source.types.ts
  packages/quiz/src/pages/QuizCreatorPage/utils/QuizSettingsDataSource/validation-model.builder.rules.ts
  packages/quiz/src/utils/validation/field-validation.utils.test.ts
  packages/quiz/src/utils/validation/field-validation.utils.ts
  packages/quiz/src/utils/validation/index.ts
  packages/quiz/src/utils/validation/validation-model.builder.test.ts
  packages/quiz/src/utils/validation/validation-model.builder.ts
  packages/quiz/src/utils/validation/validation-model.builder.types.ts
Due: quiz

test(quiz-creator): add QuestionDataSource validation coverage and fix Z100 range type guard naming
  packages/quiz/src/pages/QuizCreatorPage/QuizCreatorPage.test.tsx
  packages/quiz/src/pages/QuizCreatorPage/QuizCreatorPage.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/QuestionEditor.tsx
  packages/quiz/src/pages/QuizCreatorPage/utils/QuestionDataSource/question-data-source.hook.test.tsx
  packages/quiz/src/pages/QuizCreatorPage/utils/QuestionDataSource/question-data-source.hook.tsx
  packages/quiz/src/pages/QuizCreatorPage/utils/QuestionDataSource/question-data-source.utils.test.ts
  packages/quiz/src/pages/QuizCreatorPage/utils/QuestionDataSource/question-data-source.utils.ts
  packages/quiz/src/pages/QuizCreatorPage/utils/QuestionDataSource/question-data-source.validation-rules.ts
  packages/quiz/src/utils/validation/validation-model.builder.ts
Due: quiz

feat(components): add customErrorMessage override for form inputs
  packages/quiz/src/components/Select/Select.tsx
  packages/quiz/src/components/TextField/TextField.tsx
  packages/quiz/src/components/Textarea/Textarea.tsx
Due: quiz

feat(quiz): add reusable Tooltip component
  packages/quiz/eslint.config.mjs
  packages/quiz/src/components/Tooltip/Tooltip.test.tsx
  packages/quiz/src/components/Tooltip/Tooltip.tsx
  packages/quiz/src/components/Tooltip/TooltipContent.test.tsx
  packages/quiz/src/components/Tooltip/TooltipContent.tsx
  packages/quiz/src/components/Tooltip/TooltipTrigger.test.tsx
  packages/quiz/src/components/Tooltip/TooltipTrigger.tsx
  packages/quiz/src/components/Tooltip/index.ts
  packages/quiz/src/components/Tooltip/tooltip.types.ts
  packages/quiz/src/components/Tooltip/use-tooltip.context.test.tsx
  packages/quiz/src/components/Tooltip/use-tooltip.context.ts
  packages/quiz/src/components/Tooltip/use-tooltip.hook.test.tsx
  packages/quiz/src/components/Tooltip/use-tooltip.hook.ts
  packages/quiz/src/components/index.ts
Due: quiz

feat(page): centralize fadeInUp animation and allow opt-out for content transitions
  packages/quiz/src/components/Modal/Modal.module.scss
  packages/quiz/src/components/Page/Page.module.scss
  packages/quiz/src/components/Page/Page.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/QuizCreatorPageUI.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/__snapshots__/QuizCreatorPageUI.test.tsx.snap
  packages/quiz/src/styles/animations.scss
Due: quiz

chore(node): align repo, CI, and Docker on Node.js 24 LTS
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/sentry-release.yml
  .yarnrc
  README.md
  package.json
  packages/common/package.json
  packages/quiz-service/Dockerfile
  packages/quiz-service/package.json
  packages/quiz/Dockerfile
  packages/quiz/package.json
  tools/mongodb-migrator/package.json
  yarn.lock
Due: common, quiz, quiz-service

chore(quiz-creator): remove outdated quiz creator fix plan document
  packages/quiz/QUIZ_CREATOR_FIXES.md
Due: quiz

chore(editorconfig): apply formatting rules to CSS and SCSS files
  .editorconfig
Due: none

chore(node): bump Node.js version to v24
  .nvmrc
Due: none

fix(storybook): restore scrolling in docs view
  packages/quiz/.storybook/preview.ts
  packages/quiz/.storybook/storybook.styles.css
Due: quiz

feat(quiz): add infinite question text scrolling with start delay
  packages/quiz/src/components/InfiniteScrollContainer/InfiniteScrollContainer.module.scss
  packages/quiz/src/components/InfiniteScrollContainer/InfiniteScrollContainer.test.tsx
  packages/quiz/src/components/InfiniteScrollContainer/InfiniteScrollContainer.tsx
  packages/quiz/src/components/InfiniteScrollContainer/index.ts
  packages/quiz/src/components/index.ts
  packages/quiz/src/states/HostQuestionPreviewState/__snapshots__/HostQuestionPreviewState.test.tsx.snap
  packages/quiz/src/states/PlayerQuestionPreviewState/PlayerQuestionPreviewState.stories.tsx
  packages/quiz/src/states/PlayerQuestionPreviewState/__snapshots__/PlayerQuestionPreviewState.test.tsx.snap
  packages/quiz/src/states/common/QuestionTextPreview/QuestionTextPreview.module.scss
  packages/quiz/src/states/common/QuestionTextPreview/QuestionTextPreview.test.tsx
  packages/quiz/src/states/common/QuestionTextPreview/QuestionTextPreview.tsx
Due: quiz

feat(common,quiz-service): add shared string normalization and unify TypeAnswer distribution logic
  packages/common/src/utils/index.ts
  packages/common/src/utils/string.utils.spec.ts
  packages/common/src/utils/string.utils.ts
  packages/quiz-service/src/modules/game-event/utils/distribution.utils.spec.ts
  packages/quiz-service/src/modules/game-event/utils/distribution.utils.ts
Due: common, quiz-service

chore(quiz): upgrade Storybook to v10 and refresh Chromatic deps
  .github/dependabot.yml
  packages/quiz/.storybook/main.ts
  packages/quiz/.storybook/mockAuthContext.tsx
  packages/quiz/package.json
  yarn.lock
Due: quiz

chore(build): bundle @quiz/common with tsup and migrate tests to Vitest
  package.json
  packages/common/jest.config.cjs
  packages/common/package.json
  packages/common/src/utils/array.utils.spec.ts
  packages/common/src/utils/nickname.utils.spec.ts
  packages/common/src/utils/object.utils.spec.ts
  packages/common/src/utils/range.utils.spec.ts
  packages/common/src/utils/string.utils.spec.ts
  packages/common/src/utils/type-guards.utils.spec.ts
  packages/common/tsconfig.cjs.json
  packages/common/tsconfig.esm.json
  packages/common/tsconfig.json
  packages/common/tsconfig.test.json
  packages/common/tsup.config.ts
  packages/common/vitest.config.ts
  yarn.lock
Due: common

chore(deps): bump Vitest to v4 and update React hooks linting
  .github/dependabot.yml
  packages/common/package.json
  packages/quiz/eslint.config.mjs
  packages/quiz/package.json
  packages/quiz/src/components/Confetti/Confetti.tsx
  packages/quiz/src/components/MediaModal/MediaModal.test.tsx
  packages/quiz/src/components/Podium/Podium.tsx
  packages/quiz/src/components/ResponsiveImage/__snapshots__/ResponsiveImage.test.tsx.snap
  packages/quiz/src/components/ResponsiveImage/components/ImageSquareEffect/ImageSquareEffect.tsx
  packages/quiz/src/components/ResponsiveImage/hook/useImageBlurEffect.ts
  packages/quiz/src/components/Textarea/Textarea.tsx
  packages/quiz/src/context/user/UserContextProvider.test.tsx
  packages/quiz/src/context/user/UserContextProvider.tsx
  packages/quiz/src/pages/AuthGamePage/AuthGamePage.test.tsx
  packages/quiz/src/pages/AuthGoogleCallbackPage/AuthGoogleCallbackPage.test.tsx
  packages/quiz/src/pages/AuthLoginPage/AuthLoginPage.test.tsx
  packages/quiz/src/pages/AuthLoginPage/components/AuthLoginPageUI/AuthLoginPageUI.tsx
  packages/quiz/src/pages/AuthPasswordForgotPage/AuthPasswordForgotPage.test.tsx
  packages/quiz/src/pages/AuthPasswordResetPage/AuthPasswordResetPage.test.tsx
  packages/quiz/src/pages/AuthRegisterPage/AuthRegisterPage.test.tsx
  packages/quiz/src/pages/AuthRegisterPage/components/AuthRegisterPageUI/AuthRegisterPageUI.tsx
  packages/quiz/src/pages/GamePage/GamePage.tsx
  packages/quiz/src/pages/HomePage/HomePage.tsx
  packages/quiz/src/pages/ProfileGamesPage/ProfileGamesPage.tsx
  packages/quiz/src/pages/QuizCreatorPage/QuizCreatorPage.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/MediaQuestionField/MediaQuestionField.tsx
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/QuestionEditor/components/QuestionField/MultiChoiceOptions.test.tsx
  packages/quiz/src/states/HostPodiumState/HostPodiumState.test.tsx
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerInput/AnswerInput.test.tsx
  packages/quiz/src/utils/useEventSource.tsx
  yarn.lock
Due: common, quiz
