Repository emilhornlund/quiz: changes, and which Codecov flags are due for each by the changed paths.
All: common, quiz, quiz-service

feat(sse): unify heartbeat interval and harden reconnect logic
  packages/common/src/utils/constants.ts
  packages/quiz-service/src/game/services/game-event.subscriber.ts
  packages/quiz/src/pages/GamePage/GamePage.tsx
  packages/quiz/src/utils/useEventSource.test.tsx
  packages/quiz/src/utils/useEventSource.tsx
Due: common, quiz, quiz-service

WIP scoring strategies refactor
  packages/quiz-service/src/game/services/utils/scoring/classic/classic-multichoice-strategy.spec.ts
  packages/quiz-service/src/game/services/utils/scoring/classic/classic-multichoice-strategy.ts
  packages/quiz-service/src/game/services/utils/scoring/classic/classic-pin-strategy.spec.ts
  packages/quiz-service/src/game/services/utils/scoring/classic/classic-pin-strategy.ts
  packages/quiz-service/src/game/services/utils/scoring/classic/classic-puzzle-strategy.spec.ts
  packages/quiz-service/src/game/services/utils/scoring/classic/classic-puzzle-strategy.ts
  packages/quiz-service/src/game/services/utils/scoring/classic/classic-range-strategy.spec.ts
  packages/quiz-service/src/game/services/utils/scoring/classic/classic-range-strategy.ts
  packages/quiz-service/src/game/services/utils/scoring/classic/classic-true-false-strategy.spec.ts
  packages/quiz-service/src/game/services/utils/scoring/classic/classic-true-false-strategy.ts
  packages/quiz-service/src/game/services/utils/scoring/classic/classic-type-answer-strategy.spec.ts
  packages/quiz-service/src/game/services/utils/scoring/classic/classic-type-answer-strategy.ts
  packages/quiz-service/src/game/services/utils/scoring/core/classic-base-strategy.ts
  packages/quiz-service/src/game/services/utils/scoring/core/scoring-mapped-types.ts
  packages/quiz-service/src/game/services/utils/scoring/core/scoring-strategy.interface.ts
  packages/quiz-service/src/game/services/utils/scoring/core/zero-to-one-hundred-base-strategy.ts
  packages/quiz-service/src/game/services/utils/scoring/index.ts
  packages/quiz-service/src/game/services/utils/scoring/scoring-engine.ts
  packages/quiz-service/src/game/services/utils/scoring/zero-to-one-hundred/zero-to-one-hundred-range-strategy.spec.ts
  packages/quiz-service/src/game/services/utils/scoring/zero-to-one-hundred/zero-to-one-hundred-range-strategy.ts
  packages/quiz-service/src/game/services/utils/task.converter.ts
  packages/quiz-service/src/quiz/services/utils/question.utils.ts
Due: quiz-service

feat(scoring): Refactor scoring engine and unify strategy logic
  packages/common/src/utils/constants.ts
  packages/quiz-service/src/game/exceptions/index.ts
  packages/quiz-service/src/game/exceptions/unsupported-game-mode.exception.ts
  packages/quiz-service/src/game/services/utils/index.ts
  packages/quiz-service/src/game/services/utils/scoring-strategies.utils.spec.ts
  packages/quiz-service/src/game/services/utils/scoring-strategies.utils.ts
  packages/quiz-service/src/game/services/utils/scoring/classic/classic-multichoice-strategy.spec.ts
  packages/quiz-service/src/game/services/utils/scoring/classic/classic-multichoice-strategy.ts
  packages/quiz-service/src/game/services/utils/scoring/classic/classic-pin-strategy.spec.ts
  packages/quiz-service/src/game/services/utils/scoring/classic/classic-pin-strategy.ts
  packages/quiz-service/src/game/services/utils/scoring/classic/classic-puzzle-strategy.spec.ts
  packages/quiz-service/src/game/services/utils/scoring/classic/classic-puzzle-strategy.ts
  packages/quiz-service/src/game/services/utils/scoring/classic/classic-range-strategy.spec.ts
  packages/quiz-service/src/game/services/utils/scoring/classic/classic-range-strategy.ts
  packages/quiz-service/src/game/services/utils/scoring/classic/classic-true-false-strategy.spec.ts
  packages/quiz-service/src/game/services/utils/scoring/classic/classic-true-false-strategy.ts
  packages/quiz-service/src/game/services/utils/scoring/classic/classic-type-answer-strategy.spec.ts
  packages/quiz-service/src/game/services/utils/scoring/classic/classic-type-answer-strategy.ts
  packages/quiz-service/src/game/services/utils/scoring/core/base-scoring-strategy.ts
  packages/quiz-service/src/game/services/utils/scoring/core/classic-base-scoring-strategy.ts
  packages/quiz-service/src/game/services/utils/scoring/core/scoring-mapped-types.ts
  packages/quiz-service/src/game/services/utils/scoring/core/scoring-strategy.interface.ts
  packages/quiz-service/src/game/services/utils/scoring/core/zero-to-one-hundred-base-scoring-strategy.ts
  packages/quiz-service/src/game/services/utils/scoring/index.ts
  packages/quiz-service/src/game/services/utils/scoring/scoring-engine.spec.ts
  packages/quiz-service/src/game/services/utils/scoring/scoring-engine.ts
  packages/quiz-service/src/game/services/utils/scoring/zero-to-one-hundred/zero-to-one-hundred-range-strategy.spec.ts
  packages/quiz-service/src/game/services/utils/scoring/zero-to-one-hundred/zero-to-one-hundred-range-strategy.ts
  packages/quiz-service/src/game/services/utils/task.converter.spec.ts
  packages/quiz-service/src/game/services/utils/task.converter.ts
  packages/quiz-service/src/quiz/services/utils/question.utils.ts
Due: common, quiz-service

build(deps): bump the all-dependencies group across 3 directories with 28 updates
  package.json
  packages/quiz-service/package.json
  packages/quiz-service/src/app/app.module.ts
  packages/quiz-service/src/app/shared/repository/base.repository.spec.ts
  packages/quiz-service/src/app/shared/repository/types.ts
  packages/quiz/package.json
  tools/mongodb-migrator/package.json
  yarn.lock
Due: quiz, quiz-service

fix(mongoose): downgrade to stable 8.x release for compatibility
  .github/dependabot.yml
  packages/quiz-service/package.json
  yarn.lock
Due: quiz-service

fix(prettier): correct formatting issues across the codebase
  packages/common/src/models/game-result.ts
  packages/quiz-service/src/game/controllers/models/requests/multi-choice-question-correct-answer.request.ts
  packages/quiz-service/src/game/controllers/models/requests/pin-question-correct-answer-request.ts
  packages/quiz-service/src/game/controllers/models/requests/puzzle-question-correct-answer-request.ts
  packages/quiz-service/src/game/controllers/models/requests/range-question-correct-answer.request.ts
  packages/quiz-service/src/game/controllers/models/requests/submit-multi-choice-question-answer.request.ts
  packages/quiz-service/src/game/controllers/models/requests/submit-pin-question-answer.request.ts
  packages/quiz-service/src/game/controllers/models/requests/submit-puzzle-question-answer.request.ts
  packages/quiz-service/src/game/controllers/models/requests/submit-range-question-answer.request.ts
  packages/quiz-service/src/game/controllers/models/requests/submit-true-false-question-answer.request.ts
  packages/quiz-service/src/game/controllers/models/requests/submit-type-answer-question-answer.request.ts
  packages/quiz-service/src/game/controllers/models/requests/true-false-question-correct-answer.request.ts
  packages/quiz-service/src/game/controllers/models/requests/type-answer-question-correct-answer-request.ts
  packages/quiz-service/src/game/controllers/models/response/game-result-classic-mode-player-metric.response.ts
  packages/quiz-service/src/game/controllers/models/response/game-result-classic-mode-question-metric.response.ts
  packages/quiz-service/src/game/controllers/models/response/game-result-zero-to-one-hundred-mode-player-metric-response.ts
  packages/quiz-service/src/game/controllers/models/response/game-result-zero-to-one-hundred-mode-question-metric.response.ts
  packages/quiz-service/src/game/controllers/models/response/game-result-zero-to-one-hundred-mode.response.ts
  packages/quiz-service/src/game/pipes/parse-correct-answer-request.pipe.ts
  packages/quiz-service/src/game/pipes/parse-submit-question-answer-request.pipe.ts
  packages/quiz-service/src/game/services/utils/scoring/core/base-scoring-strategy.ts
  packages/quiz-service/src/media/controllers/models/paginated-media-photo-search.response.ts
  packages/quiz-service/src/media/pipes/parse-image-file.pipe.ts
  packages/quiz-service/src/quiz/controllers/models/question-zero-to-one-hundred-range.ts
  packages/quiz-service/src/quiz/controllers/models/quiz-zero-to-one-hundred.request.ts
  packages/quiz-service/src/quiz/pipes/parse-quiz-request.pipe.ts
  packages/quiz-service/src/user/controllers/models/update-google-user-profile.request.ts
  packages/quiz-service/src/user/controllers/models/update-local-user-profile.request.ts
  packages/quiz-service/src/user/pipes/parse-update-user-profile-request.pipe.ts
  packages/quiz/src/pages/QuizCreatorPage/components/QuizCreatorPageUI/components/AdvancedQuestionEditor/utils/parse-questions-json.ts
Due: common, quiz, quiz-service

feat(docs): Add AGENTS.md with build, lint, test, and style guidelines
  AGENTS.md
Due: none

feat(docs): Add visual improvement plan for quiz frontend
  packages/quiz/IMPROVEMENT_PLAN.md
Due: quiz

feat(ui): Add smooth hover transitions for all button/input kinds
  packages/quiz/IMPROVEMENT_PLAN.md
  packages/quiz/src/styles/inputs.scss
Due: quiz

feat(ui): Add micro-interactions for answer buttons
  packages/quiz/IMPROVEMENT_PLAN.md
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerPicker/AnswerPicker.module.scss
Due: quiz

feat(ui): Add staggered reveal animation for answer options
  packages/quiz/IMPROVEMENT_PLAN.md
  packages/quiz/src/states/HostQuestionState/__snapshots__/HostQuestionState.test.tsx.snap
  packages/quiz/src/states/PlayerQuestionState/__snapshots__/PlayerQuestionState.test.tsx.snap
  packages/quiz/src/states/common/QuestionAnswerPicker/__snapshots__/QuestionAnswerPick.test.tsx.snap
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerPicker/AnswerPicker.module.scss
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerPicker/AnswerPicker.tsx
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerPicker/__snapshots__/AnswerPicker.test.tsx.snap
Due: quiz

feat(ui): smooth countdown easing and pulse effect
  packages/quiz/IMPROVEMENT_PLAN.md
  packages/quiz/src/components/ProgressBar/ProgressBar.module.scss
  packages/quiz/src/components/ProgressBar/ProgressBar.tsx
  packages/quiz/src/states/HostQuestionPreviewState/__snapshots__/HostQuestionPreviewState.test.tsx.snap
  packages/quiz/src/states/HostQuestionState/__snapshots__/HostQuestionState.test.tsx.snap
  packages/quiz/src/states/PlayerQuestionPreviewState/__snapshots__/PlayerQuestionPreviewState.test.tsx.snap
  packages/quiz/src/states/PlayerQuestionState/__snapshots__/PlayerQuestionState.test.tsx.snap
Due: quiz

feat(ui): stagger result chip reveal animation
  packages/quiz/IMPROVEMENT_PLAN.md
  packages/quiz/src/states/HostResultState/__snapshots__/HostResultState.test.tsx.snap
  packages/quiz/src/states/HostResultState/components/QuestionResults/QuestionResults.module.scss
  packages/quiz/src/states/HostResultState/components/QuestionResults/QuestionResults.tsx
Due: quiz

feat(ui): add page entrance fade-in/slide-up animation
  packages/quiz/IMPROVEMENT_PLAN.md
  packages/quiz/src/components/Page/Page.module.scss
Due: quiz

feat(ui): add interactive hover effect to header logo
  packages/quiz/IMPROVEMENT_PLAN.md
  packages/quiz/src/components/Page/Page.module.scss
Due: quiz

feat(ui): add focus glow and enhanced transitions to form fields
  packages/quiz/IMPROVEMENT_PLAN.md
  packages/quiz/src/styles/inputs.scss
Due: quiz

feat(ui): add sequenced fade-in typography animations to Home page
  packages/quiz/IMPROVEMENT_PLAN.md
  packages/quiz/src/pages/HomePage/HomePage.module.scss
  packages/quiz/src/pages/HomePage/HomePage.tsx
Due: quiz

feat(ui): animate leaderboard and podium entrances
  packages/quiz/IMPROVEMENT_PLAN.md
  packages/quiz/src/components/Leaderboard/Leaderboard.module.scss
  packages/quiz/src/components/Leaderboard/Leaderboard.tsx
  packages/quiz/src/components/Leaderboard/__snapshots__/Leaderboard.test.tsx.snap
  packages/quiz/src/components/Podium/Podium.module.scss
  packages/quiz/src/components/Podium/Podium.tsx
  packages/quiz/src/components/Podium/__snapshots__/Podium.test.tsx.snap
  packages/quiz/src/states/HostLeaderboardState/__snapshots__/HostLeaderboardState.test.tsx.snap
  packages/quiz/src/states/HostPodiumState/__snapshots__/HostPodiumState.test.tsx.snap
Due: quiz

feat(ui): animate background gradient for subtle motion
  packages/quiz/IMPROVEMENT_PLAN.md
  packages/quiz/src/components/Page/Page.module.scss
Due: quiz

feat(ui): smooth countdown easing and pulse effect
  packages/quiz/IMPROVEMENT_PLAN.md
  packages/quiz/src/components/ProgressBar/ProgressBar.module.scss
  packages/quiz/src/components/ProgressBar/ProgressBar.test.tsx
  packages/quiz/src/components/ProgressBar/ProgressBar.tsx
  packages/quiz/src/components/ProgressBar/__snapshots__/ProgressBar.test.tsx.snap
  packages/quiz/src/states/HostQuestionPreviewState/__snapshots__/HostQuestionPreviewState.test.tsx.snap
  packages/quiz/src/states/HostQuestionState/__snapshots__/HostQuestionState.test.tsx.snap
  packages/quiz/src/states/PlayerQuestionPreviewState/__snapshots__/PlayerQuestionPreviewState.test.tsx.snap
  packages/quiz/src/states/PlayerQuestionState/__snapshots__/PlayerQuestionState.test.tsx.snap
Due: quiz

feat(ui): add fade-in animation for loading states
  packages/quiz/IMPROVEMENT_PLAN.md
  packages/quiz/src/components/LoadingSpinner/LoadingSpinner.module.scss
Due: quiz

feat(ui): add bounce-in entrance animation for prominent page icon
  packages/quiz/IMPROVEMENT_PLAN.md
  packages/quiz/src/components/PageProminentIcon/PageProminentIcon.module.scss
Due: quiz

feat(ui): contain podium rise-up animation within component bounds
  packages/quiz/src/components/Podium/Podium.module.scss
Due: quiz

feat(ui): add animated underline hover effect to header and footer links
  packages/quiz/IMPROVEMENT_PLAN.md
  packages/quiz/src/components/Page/Page.module.scss
  packages/quiz/src/components/Page/Page.stories.tsx
  packages/quiz/src/styles/index.css
Due: quiz

feat(ui): refine layout spacing and hierarchy
  packages/quiz/IMPROVEMENT_PLAN.md
  packages/quiz/src/components/Card/Card.module.scss
  packages/quiz/src/components/Leaderboard/Leaderboard.module.scss
  packages/quiz/src/components/Modal/Modal.module.scss
  packages/quiz/src/states/HostResultState/components/QuestionResults/QuestionResults.module.scss
  packages/quiz/src/states/common/QuestionAnswerPicker/components/AnswerPicker/AnswerPicker.module.scss
  packages/quiz/src/styles/colors.scss
  packages/quiz/src/styles/form.module.scss
  packages/quiz/src/styles/helpers.scss
  packages/quiz/src/styles/inputs.scss
  packages/quiz/src/styles/variables.scss
Due: quiz

feat(ui): animate page divider with grow-in transition
  packages/quiz/IMPROVEMENT_PLAN.md
  packages/quiz/src/components/PageDivider/PageDivider.module.scss
Due: quiz

feat(ui): add subtle elevation to cards and buttons
  packages/quiz/IMPROVEMENT_PLAN.md
  packages/quiz/src/components/Card/Card.module.scss
  packages/quiz/src/styles/inputs.scss
Due: quiz

feat(docs): remove completed visual improvement plan
  packages/quiz/IMPROVEMENT_PLAN.md
Due: quiz

Path conditions:
  common: any of: packages/common/**
  quiz: any of: packages/quiz/**
  quiz-service: any of: packages/quiz-service/**
