Repository emilhornlund/quiz: changes, and which Codecov flags are due for each by the changed paths.
All: common, klurigo-web, klurigo-service

codecov.yml:

comment:
  layout: "reach, diff, flags, components, files, tree"
  require_changes: false
  behavior: default
  hide_project_coverage: false

component_management:
  default_rules:
    statuses:
      - type: project
        informational: true
      - type: patch
        informational: true
  individual_components:
    - component_id: common
      name: common
      paths:
        - packages/common/**
    - component_id: klurigo-web
      name: klurigo-web
      paths:
        - packages/klurigo-web/**
    - component_id: klurigo-service
      name: klurigo-service
      paths:
        - packages/klurigo-service/**

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
        informational: false
        only_pulls: true
    patch:
      default:
        target: 80%
        base: auto
        informational: false
        only_pulls: true

feat(game-event): add GameOverPlayer event for post-game player summary
  packages/common/src/models/game-event-type.enum.ts
  packages/common/src/models/game-event.ts
Due: common

feat(game-event): keep SSE subscriptions alive for completed games
  packages/klurigo-service/src/modules/game-core/repositories/game.repository.spec.ts
  packages/klurigo-service/src/modules/game-core/repositories/game.repository.ts
  packages/klurigo-service/src/modules/game-event/services/game-event.subscriber.spec.ts
  packages/klurigo-service/src/modules/game-event/services/game-event.subscriber.ts
Due: klurigo-service

feat(game-event): introduce GameOverPlayer event and podium-based player summary
  docs/ANONYMOUS_PLAYER_RATING_PLAN.md
  packages/klurigo-service/src/modules/game-event/models/game-event-metadata.interface.ts
  packages/klurigo-service/src/modules/game-event/utils/game-over-event.utils.spec.ts
  packages/klurigo-service/src/modules/game-event/utils/game-over-event.utils.ts
  packages/klurigo-service/src/modules/game-event/utils/game-player-event.utils.spec.ts
  packages/klurigo-service/src/modules/game-event/utils/game-player-event.utils.ts
  packages/klurigo-service/src/modules/game-event/utils/index.ts
Due: klurigo-service

feat(game-task): keep Podium as final task when game completes
  packages/klurigo-service/src/modules/game-api/controllers/game.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/game-core/repositories/game.repository.ts
  packages/klurigo-service/src/modules/game-task/services/game-task-transition-scheduler.spec.ts
  packages/klurigo-service/src/modules/game-task/services/game-task-transition-scheduler.ts
  packages/klurigo-service/src/modules/game-task/services/game-task-transition.service.spec.ts
  packages/klurigo-service/src/modules/game-task/services/game-task-transition.service.ts
Due: klurigo-service

docs(game): update anonymous player rating plan task statuses and dependencies
  docs/ANONYMOUS_PLAYER_RATING_PLAN.md
Due: none

fix(game-event): ensure host quit event respects completed game status
  docs/ANONYMOUS_PLAYER_RATING_PLAN.md
  packages/klurigo-service/src/modules/game-event/utils/game-host-event.utils.spec.ts
  packages/klurigo-service/src/modules/game-event/utils/game-host-event.utils.ts
Due: klurigo-service

feat(common): add QuizRatingAuthorType enum for rating authors
  docs/ANONYMOUS_PLAYER_RATING_PLAN.md
  packages/common/src/models/index.ts
  packages/common/src/models/quiz-rating-author-type.enum.spec.ts
  packages/common/src/models/quiz-rating-author-type.enum.ts
Due: common

feat(quiz-rating): support discriminated rating authors for users and anonymous participants
  docs/ANONYMOUS_PLAYER_RATING_PLAN.md
  packages/klurigo-service/src/modules/quiz-core/repositories/models/schemas/index.ts
  packages/klurigo-service/src/modules/quiz-core/repositories/models/schemas/quiz-rating-author.schema.ts
  packages/klurigo-service/src/modules/quiz-core/repositories/models/schemas/quiz-rating.schema.ts
  packages/klurigo-service/src/modules/quiz-core/repositories/quiz-rating.repository.spec.ts
  packages/klurigo-service/src/modules/quiz-core/repositories/quiz-rating.repository.ts
  packages/klurigo-service/src/modules/quiz-core/utils/index.ts
  packages/klurigo-service/src/modules/quiz-core/utils/quiz-rating-author.utils.spec.ts
  packages/klurigo-service/src/modules/quiz-core/utils/quiz-rating-author.utils.ts
  packages/klurigo-service/src/modules/quiz-rating-api/controllers/quiz-rating.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/quiz-rating-api/services/quiz-rating.service.spec.ts
  packages/klurigo-service/src/modules/quiz-rating-api/services/quiz-rating.service.ts
  packages/klurigo-service/test-utils/data/quiz-document.utils.ts
Due: klurigo-service

feat(quiz-rating): support author-aware repository lookups and DTO mapping
  docs/ANONYMOUS_PLAYER_RATING_PLAN.md
  packages/klurigo-service/src/modules/game-result/services/game-result.service.spec.ts
  packages/klurigo-service/src/modules/game-result/services/game-result.service.ts
  packages/klurigo-service/src/modules/quiz-core/repositories/quiz-rating.repository.spec.ts
  packages/klurigo-service/src/modules/quiz-core/repositories/quiz-rating.repository.ts
  packages/klurigo-service/src/modules/quiz-rating-api/controllers/profile-quiz-rating.controller.ts
  packages/klurigo-service/src/modules/quiz-rating-api/services/quiz-rating.service.spec.ts
  packages/klurigo-service/src/modules/quiz-rating-api/services/quiz-rating.service.ts
Due: klurigo-service

feat(mongodb-migrator): migrate quiz ratings to discriminated author documents
  docs/ANONYMOUS_PLAYER_RATING_PLAN.md
  tools/mongodb-migrator/src/transformers/quiz-rating.transformers.ts
  tools/mongodb-migrator/src/utils/collection.utils.ts
Due: none

feat(game-event): enrich podium player events with rating metadata
  docs/ANONYMOUS_PLAYER_RATING_PLAN.md
  packages/klurigo-service/src/modules/game-event/game-event.module.ts
  packages/klurigo-service/src/modules/game-event/services/game-event.subscriber.spec.ts
  packages/klurigo-service/src/modules/game-event/services/game-event.subscriber.ts
Due: klurigo-service

docs(game): split game rating work into service and endpoint tasks
  docs/ANONYMOUS_PLAYER_RATING_PLAN.md
Due: none

feat(game): implement GameRatingService for game-scoped quiz ratings
  docs/ANONYMOUS_PLAYER_RATING_PLAN.md
  packages/klurigo-service/src/modules/game-api/game-api.module.ts
  packages/klurigo-service/src/modules/game-api/services/game-rating.service.spec.ts
  packages/klurigo-service/src/modules/game-api/services/game-rating.service.ts
  packages/klurigo-service/src/modules/game-api/services/index.ts
  packages/klurigo-service/src/modules/quiz-rating-api/quiz-rating-api.module.ts
Due: klurigo-service

feat(game): add game-scoped quiz rating endpoint
  docs/ANONYMOUS_PLAYER_RATING_PLAN.md
  packages/klurigo-service/src/modules/game-api/controllers/game-rating.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/game-api/controllers/game-rating.controller.ts
  packages/klurigo-service/src/modules/game-api/controllers/index.ts
  packages/klurigo-service/src/modules/game-api/game-api.module.ts
Due: klurigo-service

WIP docs
  docs/ANONYMOUS_PLAYER_RATING_PLAN.md
Due: none

docs(game): revise frontend plan to use local game-over rating card
  docs/ANONYMOUS_PLAYER_RATING_PLAN.md
Due: none
