Repository emilhornlund/quiz: changes, and which Codecov flags are due for each by the changed paths.
All: common, klurigo-web, klurigo-service

codecov.yml:

comment:
  layout: "reach, diff, flags, components, files, tree"
  require_changes: false
  behavior: default
  hide_project_coverage: false

component_management:
  default_rules:
    statuses:
      - type: project
        informational: true
      - type: patch
        informational: true
  individual_components:
    - component_id: common
      name: common
      paths:
        - packages/common/**
    - component_id: klurigo-web
      name: klurigo-web
      paths:
        - packages/klurigo-web/**
    - component_id: klurigo-service
      name: klurigo-service
      paths:
        - packages/klurigo-service/**

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
        informational: false
        only_pulls: true
    patch:
      default:
        target: 80%
        base: auto
        informational: false
        only_pulls: true

fix(rebrand): complete remaining quiz → klurigo references
  packages/klurigo-service/Dockerfile
  packages/klurigo-web/Dockerfile
  packages/klurigo-web/configure-environment.sh
  packages/klurigo-web/playwright.config.ts
  packages/klurigo-web/src/api/api.utils.test.ts
  packages/klurigo-web/src/api/api.utils.ts
  packages/klurigo-web/src/components/MediaModal/components/UploadImageProvider/UploadImageProvider.tsx
  packages/klurigo-web/src/config.ts
  packages/klurigo-web/src/main.tsx
  packages/klurigo-web/src/utils/useEventSource.test.tsx
  packages/klurigo-web/src/utils/useEventSource.tsx
Due: klurigo-web, klurigo-service

fix(docker): correct @klurigo/common workspace path in service image
  packages/klurigo-service/Dockerfile
Due: klurigo-service

refactor(klurigo-web): render dates in browser timezone via shared utils
  packages/klurigo-web/package.json
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection.tsx
  packages/klurigo-web/src/pages/ProfileGamesPage/ProfileGamesPageUI/components/GameTable/GameTable.tsx
  packages/klurigo-web/src/pages/QuizDetailsPage/components/QuizDetailsPageUI/QuizDetailsPageUI.tsx
  packages/klurigo-web/src/utils/date.utils.test.ts
  packages/klurigo-web/src/utils/date.utils.ts
  packages/klurigo-web/vite.config.ts
  yarn.lock
Due: klurigo-web

chore(dev): gate klurigo-web startup on klurigo-service health
  package.json
  yarn.lock
Due: none

feat(typography): support Link composition and refine profile games layout
  packages/klurigo-web/src/components/Typography/Typography.module.scss
  packages/klurigo-web/src/components/Typography/Typography.test.tsx
  packages/klurigo-web/src/components/Typography/Typography.tsx
  packages/klurigo-web/src/components/Typography/__snapshots__/Typography.test.tsx.snap
  packages/klurigo-web/src/pages/AuthLoginPage/components/AuthLoginPageUI/AuthLoginPageUI.tsx
  packages/klurigo-web/src/pages/AuthLoginPage/components/AuthLoginPageUI/__snapshots__/AuthLoginPageUI.test.tsx.snap
  packages/klurigo-web/src/pages/AuthRegisterPage/components/AuthRegisterPageUI/AuthRegisterPageUI.tsx
  packages/klurigo-web/src/pages/AuthRegisterPage/components/AuthRegisterPageUI/__snapshots__/AuthRegisterPageUI.test.tsx.snap
  packages/klurigo-web/src/pages/AuthVerifyPage/__snapshots__/AuthVerifyPage.test.tsx.snap
  packages/klurigo-web/src/pages/AuthVerifyPage/components/AuthVerifyPageUI/AuthVerifyPageUI.tsx
  packages/klurigo-web/src/pages/AuthVerifyPage/components/AuthVerifyPageUI/__snapshots__/AuthVerifyPageUI.test.tsx.snap
  packages/klurigo-web/src/pages/HomePage/HomePage.tsx
  packages/klurigo-web/src/pages/HomePage/__snapshots__/HomePage.test.tsx.snap
  packages/klurigo-web/src/pages/ProfileGamesPage/ProfileGamesPageUI/ProfileGamesPageUI.module.scss
  packages/klurigo-web/src/pages/ProfileGamesPage/ProfileGamesPageUI/ProfileGamesPageUI.tsx
  packages/klurigo-web/src/pages/ProfileGamesPage/ProfileGamesPageUI/__snapshots__/ProfileGamesPageUI.test.tsx.snap
  packages/klurigo-web/src/styles/index.css
Due: klurigo-web

fix(quiz-creator): prevent question state from being overwritten after hydration
  packages/klurigo-web/src/pages/QuizCreatorPage/QuizCreatorPage.test.tsx
  packages/klurigo-web/src/pages/QuizCreatorPage/QuizCreatorPage.tsx
Due: klurigo-web

feat(ui): Redesign page divider with centered gradient line
  packages/klurigo-web/src/components/PageDivider/PageDivider.module.scss
  packages/klurigo-web/src/styles/colors.module.scss
  packages/klurigo-web/src/styles/colors.scss
Due: klurigo-web

feat(api): add apiUpload with XHR progress + refresh semantics
  packages/klurigo-web/src/api/api-client-core.test.ts
  packages/klurigo-web/src/api/api-client-core.ts
  packages/klurigo-web/src/api/resources/media.resource.test.ts
  packages/klurigo-web/src/api/resources/media.resource.ts
  packages/klurigo-web/src/api/useKlurigoServiceClient.test.tsx
  packages/klurigo-web/src/api/useKlurigoServiceClient.tsx
Due: klurigo-web

feat(typography): soften text contrast and add Storybook showcase
  packages/klurigo-web/.storybook/preview-head.html
  packages/klurigo-web/.storybook/preview.ts
  packages/klurigo-web/src/components/Typography/Typography.module.scss
  packages/klurigo-web/src/components/Typography/Typography.stories.tsx
Due: klurigo-web

feat(quiz-details-page): restyle quiz details layout and visuals
  packages/klurigo-web/src/pages/QuizDetailsPage/components/QuizDetailsPageUI/QuizDetailsPageUI.module.scss
  packages/klurigo-web/src/pages/QuizDetailsPage/components/QuizDetailsPageUI/QuizDetailsPageUI.test.tsx
  packages/klurigo-web/src/pages/QuizDetailsPage/components/QuizDetailsPageUI/QuizDetailsPageUI.tsx
  packages/klurigo-web/src/pages/QuizDetailsPage/components/QuizDetailsPageUI/__snapshots__/QuizDetailsPageUI.test.tsx.snap
Due: klurigo-web

refactor(klurigo-web): restructure GameResults sections and extract styles
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.module.scss
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/PlayerSection/PlayerSection.test.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/PlayerSection/PlayerSection.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/PlayerSection/__snapshots__/PlayerSection.test.tsx.snap
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/PlayerSection/index.ts
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/QuestionSection/QuestionSection.test.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/QuestionSection/QuestionSection.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/QuestionSection/__snapshots__/QuestionSection.test.tsx.snap
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/QuestionSection/index.ts
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/SummarySection.module.scss
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/SummarySection.test.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/SummarySection.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/__snapshots__/SummarySection.test.tsx.snap
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/index.ts
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/components/GameResultTable/GameResultTable.module.scss
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/components/GameResultTable/GameResultTable.tsx
Due: klurigo-web

feat(game-result): include quiz metadata in results + validate missing quiz
  packages/common/src/models/game-result.ts
  packages/klurigo-service/src/modules/game-result/controllers/decorators/api/api-game-result-quiz-property.decorator.ts
  packages/klurigo-service/src/modules/game-result/controllers/decorators/api/index.ts
  packages/klurigo-service/src/modules/game-result/controllers/game-result.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/game-result/controllers/models/responses/game-result-classic-mode.response.ts
  packages/klurigo-service/src/modules/game-result/controllers/models/responses/game-result-quiz.response.ts
  packages/klurigo-service/src/modules/game-result/controllers/models/responses/game-result-zero-to-one-hundred-mode.response.ts
  packages/klurigo-service/src/modules/game-result/controllers/models/responses/index.ts
  packages/klurigo-service/src/modules/game-result/repositories/game-result.repository.ts
  packages/klurigo-service/src/modules/game-result/services/game-result.service.spec.ts
  packages/klurigo-service/src/modules/game-result/services/game-result.service.ts
  packages/klurigo-service/test-utils/data/data.utils.ts
Due: common, klurigo-service

feat(klurigo-web): add “Play again” flow and podium to game results summary
  packages/klurigo-web/src/components/CircularProgressBar/CircularProgressBar.module.scss
  packages/klurigo-web/src/components/CircularProgressBar/CircularProgressBar.tsx
  packages/klurigo-web/src/components/CircularProgressBar/__snapshots__/CircularProgressBar.test.tsx.snap
  packages/klurigo-web/src/components/Dropzone/__snapshots__/Dropzone.test.tsx.snap
  packages/klurigo-web/src/components/NicknameChip/NicknameChip.module.scss
  packages/klurigo-web/src/components/Podium/index.ts
  packages/klurigo-web/src/components/index.ts
  packages/klurigo-web/src/pages/GameResultsPage/GameResultsPage.test.tsx
  packages/klurigo-web/src/pages/GameResultsPage/__snapshots__/GameResultsPage.test.tsx.snap
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.stories.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.test.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/__snapshots__/GameResultsPageUI.test.tsx.snap
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/PlayerSection/__snapshots__/PlayerSection.test.tsx.snap
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/QuestionSection/__snapshots__/QuestionSection.test.tsx.snap
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/SummarySection.module.scss
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/SummarySection.test.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/SummarySection.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/__snapshots__/SummarySection.test.tsx.snap
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/components/GameResultTable/__snapshots__/GameResultTable.test.tsx.snap
Due: klurigo-web

feat(klurigo-web): restyle game result table rows and improve expand affordance
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/__snapshots__/GameResultsPageUI.test.tsx.snap
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/PlayerSection/__snapshots__/PlayerSection.test.tsx.snap
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/QuestionSection/__snapshots__/QuestionSection.test.tsx.snap
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/components/GameResultTable/GameResultTable.module.scss
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/components/GameResultTable/GameResultTable.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/components/GameResultTable/__snapshots__/GameResultTable.test.tsx.snap
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/utils/metric.utils.test.ts
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/utils/metric.utils.ts
Due: klurigo-web

fix(game-result): break circular dependency by removing quiz response barrel export
  packages/klurigo-service/src/modules/game-result/controllers/decorators/api/api-game-result-quiz-property.decorator.ts
  packages/klurigo-service/src/modules/game-result/controllers/models/responses/index.ts
Due: klurigo-service

fix(podium): stabilize stack heights when podium has fewer players
  packages/klurigo-web/src/components/Podium/Podium.module.scss
Due: klurigo-web

feat(klurigo-web): add summary metrics utilities and expand game results insights
  packages/klurigo-web/src/pages/GameResultsPage/__snapshots__/GameResultsPage.test.tsx.snap
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/__snapshots__/GameResultsPageUI.test.tsx.snap
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/SummarySection.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/__snapshots__/SummarySection.test.tsx.snap
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/summary-section.metrics.test.ts
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/summary-section.metrics.ts
Due: klurigo-web

test(klurigo-web): cover SummarySection "Play again" host flow
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/SummarySection.test.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/SummarySection.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/__snapshots__/SummarySection.test.tsx.snap
Due: klurigo-web

feat(game-page): differentiate host quit vs player leave behavior
  packages/klurigo-web/src/pages/GamePage/GamePage.test.tsx
  packages/klurigo-web/src/pages/GamePage/GamePage.tsx
Due: klurigo-web

fix(home): correct rejoin game button colors on WebKit and improve spacing
  packages/klurigo-web/src/pages/HomePage/HomePage.module.scss
Due: klurigo-web

refactor(game): move game result cleanup to event-driven cascade
  packages/klurigo-service/src/modules/game-api/game-api.module.ts
  packages/klurigo-service/src/modules/game-api/services/game.service.spec.ts
  packages/klurigo-service/src/modules/game-api/services/game.service.ts
  packages/klurigo-service/src/modules/game-result/game-result.module.ts
  packages/klurigo-service/src/modules/game-result/handlers/game-result.listener.spec.ts
  packages/klurigo-service/src/modules/game-result/handlers/game-result.listener.ts
  packages/klurigo-service/src/modules/game-result/handlers/index.ts
  packages/klurigo-service/src/modules/game-result/services/game-result.service.spec.ts
  packages/klurigo-service/src/modules/game-result/services/game-result.service.ts
Due: klurigo-service

fix(game-page): debounce connection status notifications and stabilize tests
  packages/klurigo-web/src/pages/GamePage/GamePage.test.tsx
  packages/klurigo-web/src/pages/GamePage/GamePage.tsx
Due: klurigo-web

feat(app): add global request timeout interceptor with per-route overrides
  packages/klurigo-service/src/app/app.module.ts
  packages/klurigo-service/src/app/decorators/index.ts
  packages/klurigo-service/src/app/decorators/timeout.decorator.ts
  packages/klurigo-service/src/app/interceptors/index.ts
  packages/klurigo-service/src/app/interceptors/timeout.interceptor.spec.ts
  packages/klurigo-service/src/app/interceptors/timeout.interceptor.ts
  packages/klurigo-service/src/modules/game-api/controllers/game.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/game-api/controllers/game.controller.ts
  packages/klurigo-service/src/modules/game-core/guards/game-auth.guard.spec.ts
  packages/klurigo-service/src/modules/game-core/guards/game-auth.guard.ts
  packages/klurigo-service/src/modules/media/controllers/media.controller.ts
Due: klurigo-service

feat(game-api): treat podium task as completed game in participant history
  packages/klurigo-service/src/modules/game-api/controllers/profile-game.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/game-api/services/game.service.spec.ts
  packages/klurigo-service/src/modules/game-api/services/game.service.ts
Due: klurigo-service

feat(klurigo-web): add revokeGame redirect options and update quit flow
  packages/klurigo-web/src/context/auth/AuthContextProvider.test.tsx
  packages/klurigo-web/src/context/auth/AuthContextProvider.tsx
  packages/klurigo-web/src/context/auth/auth-context.tsx
  packages/klurigo-web/src/pages/GamePage/GamePage.test.tsx
  packages/klurigo-web/src/pages/GamePage/GamePage.tsx
  packages/klurigo-web/src/pages/GamePage/__snapshots__/GamePage.test.tsx.snap
Due: klurigo-web

feat(game-task): add responseTime to question result items
  packages/klurigo-service/src/modules/game-api/controllers/game.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/game-core/repositories/models/schemas/task.schema.ts
  packages/klurigo-service/src/modules/game-event/utils/distribution.utils.spec.ts
  packages/klurigo-service/src/modules/game-result/controllers/game-result.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/game-task/utils/task-leaderboard.utils.spec.ts
  packages/klurigo-service/src/modules/game-task/utils/task-question-result.utils.spec.ts
  packages/klurigo-service/src/modules/game-task/utils/task-question-result.utils.ts
  packages/klurigo-service/src/modules/game-task/utils/task-sorting.utils.spec.ts
  packages/klurigo-service/test-utils/data/data.utils.ts
Due: klurigo-service

feat(game-task): track last and total response time in question results
  packages/klurigo-service/src/modules/game-api/controllers/game.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/game-api/services/game.service.ts
  packages/klurigo-service/src/modules/game-core/repositories/models/schemas/participant.schema.ts
  packages/klurigo-service/src/modules/game-core/repositories/models/schemas/task.schema.ts
  packages/klurigo-service/src/modules/game-event/utils/distribution.utils.spec.ts
  packages/klurigo-service/src/modules/game-result/controllers/game-result.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/game-task/utils/task-leaderboard.utils.spec.ts
  packages/klurigo-service/src/modules/game-task/utils/task-leaderboard.utils.ts
  packages/klurigo-service/src/modules/game-task/utils/task-question-result.utils.spec.ts
  packages/klurigo-service/src/modules/game-task/utils/task-question-result.utils.ts
  packages/klurigo-service/src/modules/game-task/utils/task-sorting.utils.spec.ts
  packages/klurigo-service/test-utils/data/data.utils.ts
Due: klurigo-service

feat(game-result): compute average response time from aggregated metrics
  packages/klurigo-service/src/modules/game-result/services/utils/game-result.converter.spec.ts
  packages/klurigo-service/src/modules/game-result/services/utils/game-result.converter.ts
Due: klurigo-service

feat(game-task): switch response time metrics from seconds to milliseconds
  packages/klurigo-service/src/modules/game-api/controllers/game.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/game-core/repositories/models/schemas/participant.schema.ts
  packages/klurigo-service/src/modules/game-core/repositories/models/schemas/task.schema.ts
  packages/klurigo-service/src/modules/game-task/utils/task-question-result.utils.spec.ts
  packages/klurigo-service/src/modules/game-task/utils/task-question-result.utils.ts
Due: klurigo-service

feat(game-task): break leaderboard ties using total response time
  packages/klurigo-service/src/modules/game-task/utils/task-question-result.utils.ts
  packages/klurigo-service/src/modules/game-task/utils/task-sorting.utils.spec.ts
  packages/klurigo-service/src/modules/game-task/utils/task-sorting.utils.ts
Due: klurigo-service

feat(game-results): track worst rank for comeback calculation
  packages/klurigo-service/src/modules/game-api/services/game.service.ts
  packages/klurigo-service/src/modules/game-core/repositories/models/schemas/participant.schema.ts
  packages/klurigo-service/src/modules/game-result/controllers/game-result.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/game-task/utils/task-leaderboard.utils.spec.ts
  packages/klurigo-service/src/modules/game-task/utils/task-leaderboard.utils.ts
  packages/klurigo-service/test-utils/data/data.utils.ts
Due: klurigo-service

feat(game-result): add comeback rank gain to player metrics
  packages/klurigo-service/src/modules/game-result/repositories/models/schemas/game-result.schema.ts
  packages/klurigo-service/src/modules/game-result/services/utils/game-result.converter.ts
Due: klurigo-service

feat(game-result): expose comeback rank gain across result models and API
  packages/common/src/models/game-result.ts
  packages/klurigo-service/src/modules/game-result/controllers/decorators/api/api-game-result-player-metric-comeback-rank-gain-property.decorator.ts
  packages/klurigo-service/src/modules/game-result/controllers/decorators/api/index.ts
  packages/klurigo-service/src/modules/game-result/controllers/game-result.controller.e2e-spec.ts
  packages/klurigo-service/src/modules/game-result/controllers/models/responses/game-result-classic-mode-player-metric.response.ts
  packages/klurigo-service/src/modules/game-result/controllers/models/responses/game-result-zero-to-one-hundred-mode-player-metric-response.ts
  packages/klurigo-service/src/modules/game-result/services/game-result.service.ts
  packages/klurigo-service/src/modules/game-result/services/utils/game-result.converter.spec.ts
  packages/klurigo-service/test-utils/data/data.utils.ts
Due: common, klurigo-service

feat(game-results-ui): add biggest comeback metric to summary section
  packages/klurigo-web/src/pages/GameResultsPage/GameResultsPage.test.tsx
  packages/klurigo-web/src/pages/GameResultsPage/__snapshots__/GameResultsPage.test.tsx.snap
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.stories.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/GameResultsPageUI.test.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/__snapshots__/GameResultsPageUI.test.tsx.snap
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/SummarySection.tsx
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/__snapshots__/SummarySection.test.tsx.snap
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/summary-section.metrics.test.ts
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/sections/SummarySection/summary-section.metrics.ts
Due: klurigo-web

refactor(mongodb-migrator): simplify transforms and add post-parse patch pipeline
  tools/mongodb-migrator/package.json
  tools/mongodb-migrator/src/index.ts
  tools/mongodb-migrator/src/transformers/game-results.transformers.ts
  tools/mongodb-migrator/src/transformers/game.transformers.ts
  tools/mongodb-migrator/src/transformers/quiz.transformers.ts
  tools/mongodb-migrator/src/transformers/user.transformers.ts
  tools/mongodb-migrator/src/utils/assert.utils.ts
  tools/mongodb-migrator/src/utils/bson.utils.ts
  tools/mongodb-migrator/src/utils/client-player-mapper.utils.ts
  tools/mongodb-migrator/src/utils/collection.utils.ts
  tools/mongodb-migrator/src/utils/constants.ts
  tools/mongodb-migrator/src/utils/index.ts
  yarn.lock
Due: none

feat(game-result): include game mode in player result events
  packages/common/src/models/game-event.ts
  packages/klurigo-service/src/modules/game-event/utils/game-result-event.utils.spec.ts
  packages/klurigo-service/src/modules/game-event/utils/game-result-event.utils.ts
  packages/klurigo-web/src/pages/GamePage/GamePage.test.tsx
  packages/klurigo-web/src/states/PlayerResultState/PlayerResultState.stories.tsx
  packages/klurigo-web/src/states/PlayerResultState/PlayerResultState.test.tsx
  packages/klurigo-web/src/states/PlayerResultState/PlayerResultState.tsx
Due: common, klurigo-web, klurigo-service

feat(podium): handle partial podium states and improve visual stability
  packages/klurigo-web/src/components/Confetti/Confetti.test.tsx
  packages/klurigo-web/src/components/Confetti/Confetti.tsx
  packages/klurigo-web/src/components/Podium/Podium.module.scss
  packages/klurigo-web/src/components/Podium/Podium.test.tsx
  packages/klurigo-web/src/components/Podium/Podium.tsx
  packages/klurigo-web/src/components/Podium/__snapshots__/Podium.test.tsx.snap
  packages/klurigo-web/src/pages/GameResultsPage/__snapshots__/GameResultsPage.test.tsx.snap
  packages/klurigo-web/src/pages/GameResultsPage/components/GameResultsPageUI/__snapshots__/GameResultsPageUI.test.tsx.snap
  packages/klurigo-web/src/states/HostPodiumState/HostPodiumState.stories.tsx
  packages/klurigo-web/src/states/HostPodiumState/HostPodiumState.test.tsx
  packages/klurigo-web/src/states/HostPodiumState/__snapshots__/HostPodiumState.test.tsx.snap
  packages/klurigo-web/src/states/PlayerResultState/__snapshots__/PlayerResultState.test.tsx.snap
Due: klurigo-web

ci(build): add unified TypeScript type checking to CI
  .github/workflows/build.yml
  package.json
  packages/common/package.json
  packages/klurigo-service/package.json
  packages/klurigo-web/package.json
  tools/mongodb-migrator/package.json
Due: common, klurigo-web, klurigo-service

feat(klurigo-web): introduce CallToActionCard and expand join/home page coverage
  packages/klurigo-web/src/components/CallToActionCard/CallToActionCard.module.scss
  packages/klurigo-web/src/components/CallToActionCard/CallToActionCard.test.tsx
  packages/klurigo-web/src/components/CallToActionCard/CallToActionCard.tsx
  packages/klurigo-web/src/components/CallToActionCard/index.ts
  packages/klurigo-web/src/components/index.ts
  packages/klurigo-web/src/pages/GameJoinPage/GameJoinPage.stories.tsx
  packages/klurigo-web/src/pages/GameJoinPage/GameJoinPage.test.tsx
  packages/klurigo-web/src/pages/GameJoinPage/GameJoinPage.tsx
  packages/klurigo-web/src/pages/HomePage/HomePage.module.scss
  packages/klurigo-web/src/pages/HomePage/HomePage.test.tsx
  packages/klurigo-web/src/pages/HomePage/HomePage.tsx
  packages/klurigo-web/src/pages/HomePage/__snapshots__/HomePage.test.tsx.snap
Due: klurigo-web
